<div style="text-align: center; padding: 20px; font-family: Vazir;">
<h1 align="center" style="font-size: 28px; color:rgb(64, 244, 202); width: 100%;">âšœï¸â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”âšœï¸<br>ØªÙ…Ø±ÛŒÙ† 4<br>âšœï¸â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”âšœï¸</h1>
<h2 style="color:rgb(90, 255, 184); font-size: 20px;">Comparing BART and GPT-2 for Text-to-SQL</h2>
<p align="center" style="color: #666; font-size: 16px;">Ø²Ù‡Ø±Ø§ ÙÛŒØ¶ Ø§Ù„Ù‡ Ø²Ø§Ø¯Ù‡</p>
<p align="center" style="color: #666; font-size: 16px; margin-bottom: 30px;">zahra.feizolahzadeh@gmail.com</p>

<div dir="rtl" style="border: 2px dashed rgb(90, 255, 184); border-radius: 8px; padding: 20px; margin: 20px auto; max-width: 500px; text-align: right;">
<p style="color: rgb(64, 244, 202); font-size: 18px; margin-bottom: 15px;">ğŸ“ Ù…Ø´Ø®ØµØ§Øª Ø¯Ø§Ù†Ø´Ø¬Ùˆ:</p>
<p style="color: #666; margin: 5px;">Ù†Ø§Ù… Ùˆ Ù†Ø§Ù… Ø®Ø§Ù†ÙˆØ§Ø¯Ú¯ÛŒ: Ú©Ø³Ø±ÛŒ Ú©Ø§Ø´Ø§Ù†ÛŒ</p>
<p style="color: #666; margin: 5px;">Ø´Ù…Ø§Ø±Ù‡ Ø¯Ø§Ù†Ø´Ø¬ÙˆÛŒÛŒ: 810101490</p>
<p style="color: #666; margin: 5px;">ØªØ§Ø±ÛŒØ® Ø§Ø±Ø³Ø§Ù„: 1404/9/12</p>
</div>
</div>

<div dir="rtl" style="text-align: justify; padding: 25px; background-color:#6B7280;  border-radius: 12px; border: 2px solid rgb(2, 34, 22); font-family: Vazir;">
<div style="line-height: 2.0; font-size: 17px; color: black; font-family: Vazir;">
<div style="padding-right:40px">
</div>
<br>
<div style="padding-right:100px">
ğŸ“‹ <b>Ø³Ø§Ø®ØªØ§Ø± ØªÙ…Ø±ÛŒÙ†:</b>
<br>
<li><b>Ø³ÙˆØ§Ù„ Ø§ÙˆÙ„ - <span dir="ltr">Text-to-SQL with BART and GPT-2</span> (50)</b></li>
<ul>
<li>Ø¨Ø®Ø´ Ø§ÙˆÙ„: Ø¨Ø§Ø±Ú¯Ø°Ø§Ø±ÛŒ Ùˆ Ù¾ÛŒØ´â€ŒÙ¾Ø±Ø¯Ø§Ø²Ø´ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Text-to-SQL</li>
<li>Ø¨Ø®Ø´ Ø¯ÙˆÙ…: Ø¢Ù…ÙˆØ²Ø´ Ù…Ø¯Ù„ Encoderâ€“Decoder (BART)</li>
<li>Ø¨Ø®Ø´ Ø³ÙˆÙ…: Ø¢Ù…ÙˆØ²Ø´ Ù…Ø¯Ù„ Decoder-only (GPT-2)</li>
<li>Ø¨Ø®Ø´ Ú†Ù‡Ø§Ø±Ù…: Ù…Ù‚Ø§ÛŒØ³Ù‡ Ùˆ ØªØ­Ù„ÛŒÙ„ Ù†Ù‡Ø§ÛŒÛŒ</li>

</ul>

</div>
</div>
<div dir='rtl' style="line-height: 1.8; font-family: Vazir; font-size: 16px; margin-top: 20px; background-color: #e8eaf6; padding: 15px; border-radius: 8px; color:black">
ğŸ’¡ <b>Ù†Ú©Ø§Øª Ù…Ù‡Ù…:</b>
<br>
<li>	Ù…Ø³Ø¦Ù„Ù‡ Text-to-SQL Ø­Ø³Ø§Ø³ÛŒØª Ø¨Ø³ÛŒØ§Ø± Ø¨Ø§Ù„Ø§ÛŒÛŒ Ø¨Ù‡ Ø¬Ø²Ø¦ÛŒØ§Øª Ø¯Ø§Ø±Ø¯.</li>
Ú©ÙˆÚ†Ú©â€ŒØªØ±ÛŒÙ† Ø§Ø®ØªÙ„Ø§Ù Ø¯Ø± Ø³Ø§Ø®ØªØ§Ø± SQLØŒ ØªØ±ØªÛŒØ¨ Ú©Ù„ÛŒØ¯ÙˆØ§Ú˜Ù‡â€ŒÙ‡Ø§ ÛŒØ§ Ø­ØªÛŒ ÙØ§ØµÙ„Ù‡â€ŒÙ‡Ø§ Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø¨Ø§Ø¹Ø« Ù†Ø§Ù…Ø¹ØªØ¨Ø± Ø´Ø¯Ù† Ø®Ø±ÙˆØ¬ÛŒ Ø´ÙˆØ¯. Ø¨Ù†Ø§Ø¨Ø±Ø§ÛŒÙ† Ù‡Ù†Ú¯Ø§Ù… Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒØŒ Ø¨Ù‡â€ŒÙˆÛŒÚ˜Ù‡ Ø¯Ø± Ù…Ø¹ÛŒØ§Ø± Normalized EMØŒ Ø¨Ø§ÛŒØ¯ Ø¯Ù‚Øª Ø²ÛŒØ§Ø¯ÛŒ Ø¨Ù‡ Ø§ØµÙ„Ø§Ø­ ÙØ§ØµÙ„Ù‡â€ŒÙ‡Ø§ØŒ Ø­Ø°Ù Ø³Ù…ÛŒÚ©Ø§Ù„Ù† Ø§Ø¶Ø§ÙÙ‡ØŒ Ùˆ ÛŒÚ©Ø³Ø§Ù†â€ŒØ³Ø§Ø²ÛŒ case Ú©Ù„Ù…Ø§Øª Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´ÛŒØ¯ ØªØ§ Ù…Ù‚Ø§ÛŒØ³Ù‡â€ŒØ§ÛŒ Ù…Ù†ØµÙØ§Ù†Ù‡ Ø§Ù†Ø¬Ø§Ù… Ø´ÙˆØ¯.
<li>	Ù…Ø¹Ù…Ø§Ø±ÛŒâ€ŒÙ‡Ø§ÛŒ Encoderâ€“Decoder Ùˆ Decoder-only Ø±ÙØªØ§Ø±Ù‡Ø§ÛŒ Ù…ØªÙØ§ÙˆØªÛŒ Ø¯Ø± ØªÙˆÙ„ÛŒØ¯ SQL Ø¯Ø§Ø±Ù†Ø¯.</li>
Ø³Ø§Ø®Øª ØµØ­ÛŒØ­ ÙˆØ±ÙˆØ¯ÛŒâ€ŒÙ‡Ø§ (Prefix)ØŒ Ù†Ø­ÙˆÙ‡ Ù‚Ø±Ø§Ø± Ø¯Ø§Ø¯Ù† question Ùˆ schema Ø¯Ø± Ù…ØªÙ†ØŒ ØªØ±ØªÛŒØ¨ tokenÙ‡Ø§ØŒ          padding Ù…Ù†Ø§Ø³Ø¨ Ùˆ mask Ú©Ø±Ø¯Ù† Ø¨Ø®Ø´â€ŒÙ‡Ø§ÛŒ ØºÛŒØ±Ù‡Ø¯ÙØŒ Ù‡Ù…Ú¯ÛŒ Ù†Ù‚Ø´ Ø§Ø³Ø§Ø³ÛŒ Ø¯Ø± Ø¹Ù…Ù„Ú©Ø±Ø¯ Ø§ÛŒÙ† Ù…Ø¯Ù„â€ŒÙ‡Ø§ Ø¯Ø§Ø±Ù†Ø¯. Ø¯Ù‚Øª Ú©Ù†ÛŒØ¯ Ú©Ù‡ GPT-2 Ø¨Ø§ÛŒØ¯ ØªÙ…Ø§Ù… Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ø±Ø§ Ø¯Ø± Ù‚Ø§Ù„Ø¨ ÛŒÚ© ØªÙˆØ§Ù„ÛŒ ÛŒÚ©Ù¾Ø§Ø±Ú†Ù‡ Ø¯Ø±ÛŒØ§ÙØª Ú©Ù†Ø¯ØŒ Ø¯Ø±Ø­Ø§Ù„ÛŒâ€ŒÚ©Ù‡ BART ÙˆØ±ÙˆØ¯ÛŒ Ø±Ø§ Ø±Ù…Ø²Ú¯Ø°Ø§Ø±ÛŒ Ùˆ Ø³Ù¾Ø³ Ø®Ø±ÙˆØ¬ÛŒ SQL Ø±Ø§ Ù…Ø³ØªÙ‚Ù„ ØªÙˆÙ„ÛŒØ¯ Ù…ÛŒâ€ŒÚ©Ù†Ø¯.
<li>	Ø¨Ø±Ø§ÛŒ Ù…Ù‚Ø§ÛŒØ³Ù‡ Ù…Ø¯Ù„â€ŒÙ‡Ø§ØŒ Ø¢Ù…ÙˆØ²Ø´ Ø­Ø¯Ø§Ù‚Ù„ÛŒ Ø§Ù…Ø§ ÙˆØ§Ù‚Ø¹ÛŒ Ù„Ø§Ø²Ù… Ø§Ø³Øª.</li>
Ø¨Ø§ÛŒØ¯ Ø­Ø¯Ø§Ù‚Ù„ ÛŒÚ© Ø§ÛŒÙ¾Ø§Ú© Ú©Ø§Ù…Ù„ Ø±ÙˆÛŒ Ø­Ø¯Ø§Ù‚Ù„ Û²Û°Û°Û°Û° Ù†Ù…ÙˆÙ†Ù‡ Ø§Ø² Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ø¢Ù…ÙˆØ²Ø´ Ø§Ø¬Ø±Ø§ Ø´ÙˆØ¯ ØªØ§ Ù…Ø¯Ù„ Ø¨Ù‡â€ŒØ·ÙˆØ± Ù…Ø¹Ù†ÛŒâ€ŒØ¯Ø§Ø± Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø§ÙˆÙ„ÛŒÙ‡ Text-to-SQL Ø±Ø§ ÛŒØ§Ø¯ Ø¨Ú¯ÛŒØ±Ø¯ Ùˆ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒâ€ŒÙ‡Ø§ Ù‚Ø§Ø¨Ù„ Ø§Ø¹ØªÙ…Ø§Ø¯ Ø¨Ø§Ø´Ù†Ø¯. Ù„Ø§Ø²Ù… Ù†ÛŒØ³Øª Ø¢Ù…ÙˆØ²Ø´ Ø·ÙˆÙ„Ø§Ù†ÛŒ Ø§Ù†Ø¬Ø§Ù… Ø¯Ù‡ÛŒØ¯ØŒ Ø§Ù…Ø§ Ø§Ø¬Ø±Ø§ÛŒ Ù‡Ù…ÛŒÙ† Ù…Ù‚Ø¯Ø§Ø± Ø­Ø¯Ø§Ù‚Ù„ÛŒ Ø¨Ø±Ø§ÛŒ ØªØ­Ù„ÛŒÙ„ Ùˆ Ù…Ù‚Ø§ÛŒØ³Ù‡ Ù…Ø¹Ù…Ø§Ø±ÛŒâ€ŒÙ‡Ø§ Ø¶Ø±ÙˆØ±ÛŒ Ø§Ø³Øª.
</div>
</div>

# <div style="text-align: center; direction: rtl; font-family: Vazir;"><h1 align="center" style="font-size: 24px; padding: 20px;">âšœï¸â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”âšœï¸<br>Ø³ÙˆØ§Ù„ Ø§ÙˆÙ„: ØªØ­Ù„ÛŒÙ„ Ùˆ Ù…Ù‚Ø§ÛŒØ³Ù‡ Ù…Ø¹Ù…Ø§Ø±ÛŒâ€ŒÙ‡Ø§ÛŒ Encoderâ€“Decoder Ùˆ Decoder-Only Ø¯Ø± ØªØ³Ú© Text-to-SQL <br>âšœï¸â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”âšœï¸</h1></div>

<p dir="rtl" style="text-align: right; padding:30px; background-color:rgb(12, 12, 12); border-radius: 12px; color: white; font-family: Vazir;">
Ø¯Ø± Ø§ÛŒÙ† Ø¨Ø®Ø´ Ø§Ø² ØªÙ…Ø±ÛŒÙ† Ø¨Ø§ Ù…Ø³Ø¦Ù„Ù‡ Text-to-SQL Ø¢Ø´Ù†Ø§ Ù…ÛŒâ€ŒØ´ÙˆÛŒØ¯Ø› ÙˆØ¸ÛŒÙÙ‡â€ŒØ§ÛŒ Ú©Ù‡ Ø¯Ø± Ø¢Ù† Ù…Ø¯Ù„ Ø¨Ø§ÛŒØ¯ Ù¾Ø±Ø³Ø´â€ŒÙ‡Ø§ÛŒ Ø²Ø¨Ø§Ù† Ø·Ø¨ÛŒØ¹ÛŒ Ø±Ø§ Ø¨Ù‡ Ú©ÙˆØ¦Ø±ÛŒ SQL Ù…Ø¹ØªØ¨Ø± ØªØ¨Ø¯ÛŒÙ„ Ú©Ù†Ø¯. Ù‡Ø¯Ù ØªÙ…Ø±ÛŒÙ†ØŒ Ù…Ù‚Ø§ÛŒØ³Ù‡ Ø¹Ù…Ù„ÛŒ Ø¯Ùˆ Ù…Ø¹Ù…Ø§Ø±ÛŒ Ù…Ù‡Ù… ØªØ±Ù†Ø³ÙÙˆØ±Ù…Ø±ÛŒ Ø§Ø³Øª: Encoderâ€“Decoderâ€Œ (Ù…Ø§Ù†Ù†Ø¯ BART) Ùˆ Decoder-onlyâ€Œ (Ù…Ø§Ù†Ù†Ø¯ GPT-2). Ù¾Ø³ Ø§Ø² Ø¢Ù…Ø§Ø¯Ù‡â€ŒØ³Ø§Ø²ÛŒ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ØŒ Ø§Ø¨ØªØ¯Ø§ Ù…Ø¯Ù„ BART Ùˆ Ø³Ù¾Ø³ Ù…Ø¯Ù„ GPT-2 Ø±Ø§ Ø¨Ø±Ø§ÛŒ Ø§ÛŒÙ† ØªØ³Ú© Ø¢Ù…ÙˆØ²Ø´ Ù…ÛŒâ€ŒØ¯Ù‡ÛŒØ¯ Ùˆ Ø¯Ø± Ù†Ù‡Ø§ÛŒØª Ø¹Ù…Ù„Ú©Ø±Ø¯ Ø¯Ùˆ Ù…Ø¯Ù„ Ø±Ø§ Ø§Ø² Ù†Ø¸Ø± Ø¯Ù‚ØªØŒ Ø±ÙØªØ§Ø± ØªÙˆÙ„ÛŒØ¯ÛŒ Ùˆ Ø§Ù†ÙˆØ§Ø¹ Ø®Ø·Ø§Ù‡Ø§ ØªØ­Ù„ÛŒÙ„ Ùˆ Ù…Ù‚Ø§ÛŒØ³Ù‡ Ø®ÙˆØ§Ù‡ÛŒØ¯ Ú©Ø±Ø¯.
</p>

## <div style="text-align: center; direction: rtl; font-family: Vazir;">Ø¨Ø®Ø´ Ø§ÙˆÙ„: Ù…Ø¬Ù…ÙˆØ¹Ù‡â€ŒØ¯Ø§Ø¯Ù‡ Ùˆ Ù¾ÛŒØ´â€ŒÙ¾Ø±Ø¯Ø§Ø²Ø´(10 Ù†Ù…Ø±Ù‡)</div>

<div dir="rtl" style="text-align: right; padding:10px; background-color:#6B7280;  border-radius: 12px; border: 2px solid rgb(2, 34, 22); font-family: Vazir;">
Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Gretel Synthetic Text-to-SQL Ø±Ø§ Ø§Ø² HuggingFace Ø¨Ø§Ø±Ú¯Ø°Ø§Ø±ÛŒ Ú©Ø±Ø¯Ù‡ Ùˆ ÙØ§ÛŒÙ„â€ŒÙ‡Ø§ÛŒ train/test Ø±Ø§ Ø¯Ø±ÛŒØ§ÙØª Ú©Ù†ÛŒØ¯. Ø³Ø§Ø®ØªØ§Ø± Ø¯ÛŒØªØ§Ø³Øª Ø±Ø§ Ø¨Ø±Ø±Ø³ÛŒ Ú©Ø±Ø¯Ù‡ØŒ ÛŒÚ© Ù†Ù…ÙˆÙ†Ù‡ Ù†Ù…Ø§ÛŒØ´ Ø¯Ù‡ÛŒØ¯ Ùˆ Ù†Ù‚Ø´ Ø³ØªÙˆÙ†â€ŒÙ‡Ø§ÛŒ Ø§ØµÙ„ÛŒ Ø§Ø² Ø¬Ù…Ù„Ù‡ questionØŒ schema Ùˆ query Ø±Ø§ ØªÙˆØ¶ÛŒØ­ Ø¯Ù‡ÛŒØ¯. Ø³Ù¾Ø³ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ø±Ø§ Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² train_test_split Ø¨Ù‡ Ø¨Ø®Ø´â€ŒÙ‡Ø§ÛŒ train Ùˆ dev ØªÙ‚Ø³ÛŒÙ… Ú©Ù†ÛŒØ¯ Ùˆ Ø³ØªÙˆÙ†â€ŒÙ‡Ø§ Ø±Ø§ Ø¨Ù‡ Ø§Ø³Ø§Ù…ÛŒ Ø§Ø³ØªØ§Ù†Ø¯Ø§Ø±Ø¯ (questionØŒ schemaØŒ query) ØªØºÛŒÛŒØ± Ø¯Ù‡ÛŒØ¯. Ø¨Ø±Ø§ÛŒ Ú©Ø§Ù‡Ø´ Ø²Ù…Ø§Ù† Ø¢Ù…ÙˆØ²Ø´ØŒ Ø±ÙˆÛŒ Ù‡Ø± Ø¨Ø®Ø´ Ù…Ø­Ø¯ÙˆØ¯ÛŒØª Ø§Ù†Ø¯Ø§Ø²Ù‡ ØªØ¹ÛŒÛŒÙ† Ú©Ù†ÛŒØ¯. Ø¯Ø± Ù¾Ø§ÛŒØ§Ù†ØŒ ØªØ­Ù„ÛŒÙ„ Ú©ÙˆØªØ§Ù‡ÛŒ Ø§Ø² Ù…Ø§Ù‡ÛŒØª Ù¾Ø±Ø³Ø´â€ŒÙ‡Ø§ØŒ Ø³Ø§Ø®ØªØ§Ø± schemaÙ‡Ø§ Ùˆ Ú†Ø§Ù„Ø´â€ŒÙ‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¨Ø±Ø§ÛŒ Ù…Ø¯Ù„ Ø§ÛŒØ¬Ø§Ø¯ Ù…ÛŒâ€ŒÚ©Ù†Ù†Ø¯ Ø§Ø±Ø§Ø¦Ù‡ Ø¯Ù‡ÛŒØ¯.
</div>

<p dir='rtl' style="line-height: 2.0; text-align: right; font-family: Vazir; font-size: 16px; margin-top: 20px; color: white; background-color:rgb(0, 40, 30); padding: 30px; border-radius: 8px;">
ğŸ¯ <b>Ø®Ø±ÙˆØ¬ÛŒ Ù…ÙˆØ±Ø¯ Ø§Ù†ØªØ¸Ø§Ø±:</b><br>
Ø¯Ø± Ù¾Ø§ÛŒØ§Ù† Ø§ÛŒÙ† Ø¨Ø®Ø´ Ø§Ù†ØªØ¸Ø§Ø± Ù…ÛŒâ€ŒØ±ÙˆØ¯ Ø¯Ø§Ù†Ø´Ø¬Ùˆ ÛŒÚ© Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… Ú©Ø§Ù…Ù„Ø§ Ø¢Ù…Ø§Ø¯Ù‡ Ø¨Ø±Ø§ÛŒ Ù…Ø±Ø§Ø­Ù„ Ø¨Ø¹Ø¯ÛŒ Ø¯Ø± Ø§Ø®ØªÛŒØ§Ø± Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´Ø¯. Ø®Ø±ÙˆØ¬ÛŒ Ù…Ø·Ù„ÙˆØ¨ Ø´Ø§Ù…Ù„ Ø¨Ø§Ø±Ú¯Ø°Ø§Ø±ÛŒ ØµØ­ÛŒØ­ ÙØ§ÛŒÙ„â€ŒÙ‡Ø§ÛŒ train Ùˆ testØŒ Ù†Ù…Ø§ÛŒØ´ Ø³Ø§Ø®ØªØ§Ø± Ú©Ù„ÛŒ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ØŒ ØªÙ‚Ø³ÛŒÙ… Ø¯Ø±Ø³Øª Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ø¨Ù‡ Ø¨Ø®Ø´â€ŒÙ‡Ø§ÛŒ train Ùˆ devØŒ ØªØºÛŒÛŒØ± Ù†Ø§Ù… Ø³ØªÙˆÙ†â€ŒÙ‡Ø§ Ø¨Ù‡ Ù‚Ø§Ù„Ø¨ Ø§Ø³ØªØ§Ù†Ø¯Ø§Ø±Ø¯ØŒ Ùˆ Ø§Ø¹Ù…Ø§Ù„ Ø²ÛŒØ±Ù†Ù…ÙˆÙ†Ù‡â€ŒÚ¯ÛŒØ±ÛŒ Ø¨Ø±Ø§ÛŒ Ù…Ø­Ø¯ÙˆØ¯ Ú©Ø±Ø¯Ù† Ø­Ø¬Ù… Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ø§Ø³Øª. Ø¹Ù„Ø§ÙˆÙ‡ Ø¨Ø± Ø§ÛŒÙ†ØŒ Ø¨Ø§ÛŒØ¯ ÛŒÚ© Ù†Ù…ÙˆÙ†Ù‡ ÙˆØ§Ù‚Ø¹ÛŒ Ø§Ø² Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ù‡Ù…Ø±Ø§Ù‡ Ø¨Ø§ ØªÙˆØ¶ÛŒØ­ Ù…Ø®ØªØµØ± Ø¯Ø±Ø¨Ø§Ø±Ù‡ Ù…Ø§Ù‡ÛŒØª Ø³Ø¤Ø§Ù„ØŒ Ø³Ø§Ø®ØªØ§Ø± schema Ùˆ Ù†Ù…ÙˆÙ†Ù‡ SQL Ù†Ù…Ø§ÛŒØ´ Ø¯Ø§Ø¯Ù‡ Ø´ÙˆØ¯ ØªØ§ Ù…Ø´Ø®Øµ Ø´ÙˆØ¯ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ø¨Ù‡â€ŒØ¯Ø±Ø³ØªÛŒ Ù¾Ø±Ø¯Ø§Ø²Ø´ Ø´Ø¯Ù‡ Ùˆ Ø¨Ø±Ø§ÛŒ ÙˆØ±ÙˆØ¯ Ø¨Ù‡ Ù…Ø±Ø§Ø­Ù„ Ø¢Ù…ÙˆØ²Ø´ Ù…Ø¯Ù„ Ø¢Ù…Ø§Ø¯Ù‡ Ù‡Ø³ØªÙ†Ø¯.

</p>

In [1]:
import pandas as pd
from datasets import load_dataset
from sklearn.model_selection import train_test_split

In [2]:
dataset = load_dataset("gretelai/synthetic_text_to_sql")

print(dataset)

README.md: 0.00B [00:00, ?B/s]

synthetic_text_to_sql_train.snappy.parqu(â€¦):   0%|          | 0.00/32.4M [00:00<?, ?B/s]

synthetic_text_to_sql_test.snappy.parque(â€¦):   0%|          | 0.00/1.90M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/100000 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/5851 [00:00<?, ? examples/s]

DatasetDict({
    train: Dataset({
        features: ['id', 'domain', 'domain_description', 'sql_complexity', 'sql_complexity_description', 'sql_task_type', 'sql_task_type_description', 'sql_prompt', 'sql_context', 'sql', 'sql_explanation'],
        num_rows: 100000
    })
    test: Dataset({
        features: ['id', 'domain', 'domain_description', 'sql_complexity', 'sql_complexity_description', 'sql_task_type', 'sql_task_type_description', 'sql_prompt', 'sql_context', 'sql', 'sql_explanation'],
        num_rows: 5851
    })
})

In [3]:
train_dataset = dataset["train"]
test_dataset = dataset["test"]

print(train_dataset)
print(test_dataset)

Dataset({
    features: ['id', 'domain', 'domain_description', 'sql_complexity', 'sql_complexity_description', 'sql_task_type', 'sql_task_type_description', 'sql_prompt', 'sql_context', 'sql', 'sql_explanation'],
    num_rows: 100000
})
Dataset({
    features: ['id', 'domain', 'domain_description', 'sql_complexity', 'sql_complexity_description', 'sql_task_type', 'sql_task_type_description', 'sql_prompt', 'sql_context', 'sql', 'sql_explanation'],
    num_rows: 5851
})

In [4]:
df_train_full = train_dataset.to_pandas()
df_test_full = test_dataset.to_pandas()

In [5]:
df_train_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          100000 non-null  int32
 1   domain                      100000 non-null  object
 2   domain_description          100000 non-null  object
 3   sql_complexity              100000 non-null  object
 4   sql_complexity_description  100000 non-null  object
 5   sql_task_type               100000 non-null  object
 6   sql_task_type_description   100000 non-null  object
 7   sql_prompt                  100000 non-null  object
 8   sql_context                 100000 non-null  object
 9   sql                         100000 non-null  object
 10  sql_explanation             100000 non-null  object
dtypes: int32(1), object(10)
memory usage: 8.0+ MB

In [6]:
df_train_full

,id,domain,domain_description,sql_complexity,sql_complexity_description,sql_task_type,sql_task_type_description,sql_prompt,sql_context,sql,sql_explanation
0,5097,forestry,Comprehensive data on sustainable forest manag...,single join,"only one join (specify inner, outer, cross)",analytics and reporting,"generating reports, dashboards, and analytical...",What is the total volume of timber sold by eac...,"CREATE TABLE salesperson (salesperson_id INT, ...","SELECT salesperson_id, name, SUM(volume) as to...","Joins timber_sales and salesperson tables, gro..."
1,5098,defense industry,"Defense contract data, military equipment main...",aggregation,"aggregation functions (COUNT, SUM, AVG, MIN, M...",analytics and reporting,"generating reports, dashboards, and analytical...",List all the unique equipment types and their ...,CREATE TABLE equipment_maintenance (equipment_...,"SELECT equipment_type, SUM(maintenance_frequen...",This query groups the equipment_maintenance ta...
2,5099,marine biology,"Comprehensive data on marine species, oceanogr...",basic SQL,basic SQL with a simple select statement,analytics and reporting,"generating reports, dashboards, and analytical...",How many marine species are found in the South...,"CREATE TABLE marine_species (name VARCHAR(50),...",SELECT COUNT(*) FROM marine_species WHERE loca...,This query counts the number of marine species...
3,5100,financial services,Detailed financial data including investment s...,aggregation,"aggregation functions (COUNT, SUM, AVG, MIN, M...",analytics and reporting,"generating reports, dashboards, and analytical...",What is the total trade value and average pric...,"CREATE TABLE trade_history (id INT, trader_id ...","SELECT trader_id, stock, SUM(price * quantity)...",This query calculates the total trade value an...
4,5101,energy,Energy market data covering renewable energy s...,window functions,"window functions (e.g., ROW_NUMBER, LEAD, LAG,...",analytics and reporting,"generating reports, dashboards, and analytical...",Find the energy efficiency upgrades with the h...,"CREATE TABLE upgrades (id INT, cost FLOAT, typ...","SELECT type, cost FROM (SELECT type, cost, ROW...",The SQL query uses the ROW_NUMBER function to ...
...,...,...,...,...,...,...,...,...,...,...,...
99995,89651,nonprofit,"Nonprofit data on charitable giving trends, so...",basic SQL,basic SQL with a simple select statement,analytics and reporting,"generating reports, dashboards, and analytical...",Which programs had the highest volunteer parti...,"CREATE TABLE programs (program_id INT, num_vol...","SELECT program_id, (num_volunteers / total_par...",This query calculates the participation rate f...
99996,89652,retail,"Retail data on circular supply chains, ethical...",single join,"only one join (specify inner, outer, cross)",analytics and reporting,"generating reports, dashboards, and analytical...",What is the number of fair-trade certified acc...,"CREATE TABLE products (product_id INT, product...",SELECT COUNT(*) FROM products WHERE is_fair_tr...,The query counts the number of fair-trade cert...
99997,89653,fitness industry,"Workout data, membership demographics, wearabl...",single join,"only one join (specify inner, outer, cross)",analytics and reporting,"generating reports, dashboards, and analytical...",Find the user with the longest workout session...,"CREATE TABLE workout_sessions (id INT, user_id...","SELECT u.name, MAX(session_duration) as max_du...",The query joins the workout_sessions and users...
99998,89654,space exploration,"Spacecraft manufacturing data, space mission r...",single join,"only one join (specify inner, outer, cross)",analytics and reporting,"generating reports, dashboards, and analytical...",How many space missions were completed by each...,"CREATE TABLE SpaceMissions (id INT, astronaut_...","SELECT a.name, COUNT(sm.id) FROM Astronauts a ...",This query calculates the number of space miss...
99999,89655,wildlife conservation,"Animal population data, habitat preservation e...",basic SQL,basic SQL with a simple select statement,analytics and reporting,"generating reports, dashboards, and analytical...",Determine the number of unique animal species ...,"CREATE TABLE animal_population (id INT, animal...",SELECT COUNT(DISTINCT animal_species) AS uniqu...,This query calculates the number of unique ani...

In [7]:
df_test_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5851 entries, 0 to 5850
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          5851 non-null   int32
 1   domain                      5851 non-null   object
 2   domain_description          5851 non-null   object
 3   sql_complexity              5851 non-null   object
 4   sql_complexity_description  5851 non-null   object
 5   sql_task_type               5851 non-null   object
 6   sql_task_type_description   5851 non-null   object
 7   sql_prompt                  5851 non-null   object
 8   sql_context                 5851 non-null   object
 9   sql                         5851 non-null   object
 10  sql_explanation             5851 non-null   object
dtypes: int32(1), object(10)
memory usage: 480.1+ KB

In [8]:
df_test_full

,id,domain,domain_description,sql_complexity,sql_complexity_description,sql_task_type,sql_task_type_description,sql_prompt,sql_context,sql,sql_explanation
0,1,artificial intelligence,"AI data on algorithmic fairness, AI safety, ex...",basic SQL,basic SQL with a simple select statement,analytics and reporting,"generating reports, dashboards, and analytical...",What is the average explainability score of cr...,"CREATE TABLE creative_ai (application_id INT, ...",SELECT AVG(explainability_score) FROM creative...,This SQL query calculates the average explaina...
1,2,rural development,"Agricultural innovation metrics, rural infrast...",basic SQL,basic SQL with a simple select statement,data manipulation,"inserting, updating, or deleting records",Delete all records of rural infrastructure pro...,"CREATE TABLE rural_infrastructure (id INT, pro...",DELETE FROM rural_infrastructure WHERE country...,This SQL query deletes all records of rural in...
2,3,aerospace,"Aircraft manufacturing data, satellite deploym...",aggregation,"aggregation functions (COUNT, SUM, AVG, MIN, M...",analytics and reporting,"generating reports, dashboards, and analytical...",How many accidents have been recorded for Spac...,"CREATE TABLE Accidents (id INT, launch_provide...","SELECT launch_provider, COUNT(*) FROM Accident...",This query groups the Accidents table by the l...
3,4,aquaculture,"Aquatic farming data, fish stock management, o...",basic SQL,basic SQL with a simple select statement,analytics and reporting,"generating reports, dashboards, and analytical...",What is the maximum quantity of seafood sold i...,"CREATE TABLE sales (id INT, location VARCHAR(2...",SELECT MAX(quantity) FROM sales;,Find the maximum quantity of seafood sold in a...
4,5,entertainment industry,"Audience demographics, viewership trends, cont...",basic SQL,basic SQL with a simple select statement,analytics and reporting,"generating reports, dashboards, and analytical...",What is the total budget for movies released b...,"CREATE TABLE Movies_Release_Year (id INT, titl...",SELECT SUM(budget) FROM Movies_Release_Year WH...,This query calculates the total budget for mov...
...,...,...,...,...,...,...,...,...,...,...,...
5846,5847,museums,"Visitor demographics, exhibition analytics, co...",basic SQL,basic SQL with a simple select statement,analytics and reporting,"generating reports, dashboards, and analytical...","How many visitors are from the city of ""Seattl...","CREATE TABLE visitor (visitor_id INT, visitor_...",SELECT COUNT(*) FROM visitor WHERE visitor_cit...,"This SQL query counts all the rows in the ""vis..."
5847,5848,waste management,"Waste generation metrics, recycling rates, lan...",basic SQL,basic SQL with a simple select statement,analytics and reporting,"generating reports, dashboards, and analytical...",What is the total waste generation in kilogram...,"CREATE TABLE organizations (id INT, name TEXT,...",SELECT SUM(annual_waste_generation_kg) FROM or...,This query calculates the total waste generati...
5848,5849,water resources,"Water usage metrics, drought impact assessment...",aggregation,"aggregation functions (COUNT, SUM, AVG, MIN, M...",analytics and reporting,"generating reports, dashboards, and analytical...",What is the maximum wastewater volume treated ...,CREATE TABLE WasteWaterTreatment (Id INT PRIMA...,"SELECT Plant, MAX(Volume) FROM WasteWaterTreat...",This SQL query calculates the maximum wastewat...
5849,5850,fitness industry,"Workout data, membership demographics, wearabl...",aggregation,"aggregation functions (COUNT, SUM, AVG, MIN, M...",analytics and reporting,"generating reports, dashboards, and analytical...",Calculate the total workout duration and numbe...,"CREATE TABLE Workouts (user_id INT, workout_da...","SELECT user_id, SUM(workout_duration) as total...",The query filters the data to include only wor...
5850,5851,fitness industry,"Workout data, membership demographics, wearabl...",subqueries,"subqueries, including correlated and nested su...",analytics and reporting,"generating reports, dashboards, and analytical...",How many users have a higher heart rate on wee...,"CREATE TABLE heart_rates (id INT, user_id INT,...","SELECT COUNT(*) FROM (SELECT user_id, CASE WHE...",The subquery separates heart rates based on da...

In [9]:
col_map = {
    "sql_prompt": "question",
    "sql_context": "schema",
    "sql": "query"
}

df_train_full = df_train_full.rename(columns=col_map)
df_test_full = df_test_full.rename(columns=col_map)

In [10]:
df_train_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          100000 non-null  int32
 1   domain                      100000 non-null  object
 2   domain_description          100000 non-null  object
 3   sql_complexity              100000 non-null  object
 4   sql_complexity_description  100000 non-null  object
 5   sql_task_type               100000 non-null  object
 6   sql_task_type_description   100000 non-null  object
 7   question                    100000 non-null  object
 8   schema                      100000 non-null  object
 9   query                       100000 non-null  object
 10  sql_explanation             100000 non-null  object
dtypes: int32(1), object(10)
memory usage: 8.0+ MB

In [11]:
df_test_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5851 entries, 0 to 5850
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          5851 non-null   int32
 1   domain                      5851 non-null   object
 2   domain_description          5851 non-null   object
 3   sql_complexity              5851 non-null   object
 4   sql_complexity_description  5851 non-null   object
 5   sql_task_type               5851 non-null   object
 6   sql_task_type_description   5851 non-null   object
 7   question                    5851 non-null   object
 8   schema                      5851 non-null   object
 9   query                       5851 non-null   object
 10  sql_explanation             5851 non-null   object
dtypes: int32(1), object(10)
memory usage: 480.1+ KB

In [12]:
df_train, df_dev = train_test_split(
    df_train_full,
    test_size=0.1,
    random_state=42,
    shuffle=True,
)

In [13]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90000 entries, 51994 to 15795
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          90000 non-null  int32
 1   domain                      90000 non-null  object
 2   domain_description          90000 non-null  object
 3   sql_complexity              90000 non-null  object
 4   sql_complexity_description  90000 non-null  object
 5   sql_task_type               90000 non-null  object
 6   sql_task_type_description   90000 non-null  object
 7   question                    90000 non-null  object
 8   schema                      90000 non-null  object
 9   query                       90000 non-null  object
 10  sql_explanation             90000 non-null  object
dtypes: int32(1), object(10)
memory usage: 7.9+ MB

In [14]:
df_dev.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 75721 to 74479
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          10000 non-null  int32
 1   domain                      10000 non-null  object
 2   domain_description          10000 non-null  object
 3   sql_complexity              10000 non-null  object
 4   sql_complexity_description  10000 non-null  object
 5   sql_task_type               10000 non-null  object
 6   sql_task_type_description   10000 non-null  object
 7   question                    10000 non-null  object
 8   schema                      10000 non-null  object
 9   query                       10000 non-null  object
 10  sql_explanation             10000 non-null  object
dtypes: int32(1), object(10)
memory usage: 898.4+ KB

In [15]:
SIZE_TRAIN = 20000
SIZE_DEV = 500
SIZE_TEST = 2000

df_train = df_train.sample(n=SIZE_TRAIN, random_state=42).reset_index(drop=True)
df_dev = df_dev.sample(n=SIZE_DEV, random_state=42).reset_index(drop=True)
df_test = df_test_full.sample(n=SIZE_TEST, random_state=42).reset_index(drop=True)

In [16]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          20000 non-null  int32
 1   domain                      20000 non-null  object
 2   domain_description          20000 non-null  object
 3   sql_complexity              20000 non-null  object
 4   sql_complexity_description  20000 non-null  object
 5   sql_task_type               20000 non-null  object
 6   sql_task_type_description   20000 non-null  object
 7   question                    20000 non-null  object
 8   schema                      20000 non-null  object
 9   query                       20000 non-null  object
 10  sql_explanation             20000 non-null  object
dtypes: int32(1), object(10)
memory usage: 1.6+ MB

In [17]:
df_dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          500 non-null    int32
 1   domain                      500 non-null    object
 2   domain_description          500 non-null    object
 3   sql_complexity              500 non-null    object
 4   sql_complexity_description  500 non-null    object
 5   sql_task_type               500 non-null    object
 6   sql_task_type_description   500 non-null    object
 7   question                    500 non-null    object
 8   schema                      500 non-null    object
 9   query                       500 non-null    object
 10  sql_explanation             500 non-null    object
dtypes: int32(1), object(10)
memory usage: 41.1+ KB

In [18]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          2000 non-null   int32
 1   domain                      2000 non-null   object
 2   domain_description          2000 non-null   object
 3   sql_complexity              2000 non-null   object
 4   sql_complexity_description  2000 non-null   object
 5   sql_task_type               2000 non-null   object
 6   sql_task_type_description   2000 non-null   object
 7   question                    2000 non-null   object
 8   schema                      2000 non-null   object
 9   query                       2000 non-null   object
 10  sql_explanation             2000 non-null   object
dtypes: int32(1), object(10)
memory usage: 164.2+ KB

In [19]:
example_row = df_train.sample(1, random_state=42).iloc[0]

print("--- An example row from training dataset ---")
print("\nQuestion:\n", example_row["question"])
print("\nSchema:\n", example_row["schema"])
print("\nQuery:\n", example_row["query"])

--- An example row from training dataset ---

Question:
 What is the maximum fare for buses in Tokyo?

Schema:
 CREATE TABLE if not exists bus_fares (id INT, city VARCHAR(20), max_fare DECIMAL(3,2)); INSERT INTO bus_fares (id, city, max_fare) VALUES (1, 'Tokyo', 3.50), (2, 'Seoul', 2.80);

Query:
 SELECT max_fare FROM bus_fares WHERE city = 'Tokyo';

<div dir='rtl' style='background:#fffbe6; font-family: Vazir; border:1px dashed #f0ad4e; padding:12px; border-radius:8px; color:#111'>
âœï¸ <b>Ù¾Ø§Ø³Ø® ØªØ´Ø±ÛŒØ­ÛŒ:</b><br>
<br>
Ù…Ø§Ù‡ÛŒØª question:
<br>
Ø·Ø¨Ù‚ Ø³ÙˆØ§Ù„ÛŒ Ú©Ù‡ Ø¯Ø± Ù†Ù…ÙˆÙ†Ù‡ Ù…Ø´Ø§Ù‡Ø¯Ù‡ Ù…ÛŒâ€ŒØ´ÙˆØ¯ØŒ Ø§ÛŒÙ† ÛŒÚ© Ø³ÙˆØ§Ù„ factual Ø³Ø§Ø¯Ù‡ Ø§Ø³Øª Ú©Ù‡ Ø¨Ù‡ Ø¯Ù†Ø¨Ø§Ù„ ÛŒÚ© Ù…Ù‚Ø¯Ø§Ø± Ø¹Ø¯Ø¯ÛŒ Ù…Ø´Ø®Øµ Ù…ÛŒâ€ŒÚ¯Ø±Ø¯Ø¯. Ø§Ø² Ù…Ù†Ø¸Ø± SQLØŒ Ø¨ÛŒØ´ØªØ± Ø´Ø¨ÛŒÙ‡ ÛŒÚ© SELECT Ø¨Ø§ Ø´Ø±Ø· WHERE Ø§Ø³Øª ØªØ§ ÛŒÚ© aggregation Ù¾ÛŒÚ†ÛŒØ¯Ù‡. Ø¨Ø§ Ø§ÛŒÙ† Ø­Ø§Ù„ØŒ Ø¹Ø¨Ø§Ø±Øª maximum fare Ø§Ø² Ù†Ø¸Ø± Ù…Ø¹Ù†Ø§ÛŒÛŒ ÛŒØ§Ø¯Ø¢ÙˆØ± MAX() Ù‡Ù… Ù‡Ø³ØªØŒ Ù‡Ø±Ú†Ù†Ø¯ Ø¯Ø± Ø§ÛŒÙ† Ø¯ÛŒØªØ§Ø¨ÛŒØ³ØŒ Ù†Ø§Ù… Ø®ÙˆØ¯ Ø³ØªÙˆÙ† max_fare Ø§Ø³Øª.
<br>
Ø¹Ø¨Ø§Ø±Øª maximum fare ÛŒØ¹Ù†ÛŒ Ø¨Ø§ÛŒØ¯ Ø¨Ø§ Ø³ØªÙˆÙ† max_fare Ù…Ù¾ Ø´ÙˆØ¯ Ù†Ù‡ Ù…Ø«Ù„Ø§ id ÛŒØ§ city.
<br>
Ø¹Ø¨Ø§Ø±Øª for buses ÛŒØ¹Ù†ÛŒ Ø§Ø´Ø§Ø±Ù‡ Ø¨Ù‡ Ø¬Ø¯ÙˆÙ„ bus_fares Ø¯Ø§Ø±Ø¯ Ú©Ù‡ Ø®ÙˆØ¯ ÙˆØ§Ú˜Ù‡â€ŒÛŒ bus Ø¯Ø± Ù†Ø§Ù… Ø¬Ø¯ÙˆÙ„ ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø±Ø¯.
<br>
Ø¹Ø¨Ø§Ø±Øª in Tokyo ÛŒØ¹Ù†ÛŒ Ø¨Ø§ÛŒØ¯ ØªØ´Ø®ÛŒØµ Ø¯Ù‡Ø¯ Ú©Ù‡ Tokyo ÛŒÚ© Ù…Ù‚Ø¯Ø§Ø± ('Tokyo') Ø¨Ø±Ø§ÛŒ Ø³ØªÙˆÙ† city Ø§Ø³ØªØŒ Ù†Ù‡ Ù†Ø§Ù… Ø¬Ø¯ÙˆÙ„ ÛŒØ§ Ø¯ÛŒØªØ§Ø¨ÛŒØ³.
<br>
Ú†Ø§Ù„Ø´â€ŒÙ‡Ø§ÛŒÛŒ Ú©Ù‡ Ø·Ø¨Ù‚ Ù‡Ù…ÛŒÙ† ÛŒÚ© Ù†Ù…ÙˆÙ†Ù‡ Ø¨Ø±Ø§ÛŒ Ù…Ø¯Ù„ Ù…Ù…Ú©Ù† Ø§Ø³Øª Ø¨ÙˆØ¬ÙˆØ¯ Ø¨ÛŒØ§ÛŒØ¯ØŒ Ø§ÛŒÙ† Ø§Ø³Øª Ú©Ù‡ Ù…Ø¯Ù„ Ø¨Ø§ÛŒØ¯ Ø¨ÙÙ‡Ù…Ø¯ maximum fare Ø¯Ø± Ø§ÛŒÙ† context ÛŒØ¹Ù†ÛŒ Ø³ØªÙˆÙ† max_fare. Ù‡Ù…Ú†Ù†ÛŒÙ† Ø¨Ø§ÛŒØ¯ ØªØ´Ø®ÛŒØµ Ø¯Ù‡Ø¯ Ú©Ù‡ Ù¾Ø§Ø³Ø®ØŒ ÛŒÚ© Ø³ØªÙˆÙ† Ø§Ø² Ø¬Ø¯ÙˆÙ„ Ø§Ø³ØªØŒ Ù†Ù‡ count ÛŒØ§ max. Ù‡Ù…Ú†Ù†ÛŒÙ† Ø¨Ø§ÛŒØ¯ Ø¨ÙÙ‡Ù…Ø° Ú©Ù‡ Ø´Ù‡Ø± Tokyo ÛŒÚ© filter Ø±ÙˆÛŒ Ø³ØªÙˆÙ† city Ø§ÛŒØ¬Ø§Ø¯ Ù…ÛŒâ€ŒÚ©Ù†Ø¯.
<br>
Ø¨Ø±Ø§ÛŒ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ pipeline Ø¯Ø§Ø¯Ù‡ØŒ Ø§ÛŒÙ† Ø³ÙˆØ§Ù„ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ú©Ù‡ Ø³ØªÙˆÙ† question Ù…ØªÙ† Ø·Ø¨ÛŒØ¹ÛŒ Ùˆ Ù‚Ø§Ø¨Ù„ ØªÙØ³ÛŒØ± Ø¨Ø±Ø§ÛŒ Ù…Ø¯Ù„ Ø±Ø§ Ø¯Ø± ÙØ±Ù…Øª ØªÙ…ÛŒØ² Ø¯Ø± Ø®ÙˆØ¯Ø´ Ù†Ú¯Ù‡ Ø¯Ø§Ø´ØªÙ‡ Ø§Ø³ØªØ› Ùˆ ØªÚ¯ Ø§Ø¶Ø§ÙÙ‡â€Œ ÛŒØ§ ÙØ±Ù…Øª Ø®Ø±Ø§Ø¨ÛŒ Ù†Ø¯Ø§Ø±Ø¯.
<br>

<br>
Ø³Ø§Ø®ØªØ§Ø± schema:
<br>
schema Ø¨Ù‡ ØµÙˆØ±Øª ÛŒÚ© string Ø§Ø² SQL Ø§Ø³ØªØŒ Ù†Ù‡ ÛŒÚ© Ø³Ø§Ø®ØªØ§Ø± JSON:

CREATE TABLE if not exists bus_fares (

id INT,

city VARCHAR(20),

max_fare DECIMAL(3,2)

);

INSERT INTO bus_fares (id, city, max_fare) VALUES

(1, 'Tokyo', 3.50),

(2, 'Seoul', 2.80);


<br>
Ø¯Ø± Ø¨Ø®Ø´ CREATE TABLEØŒ Ø§Ø·Ù„Ø§Ø¹Ø§ØªÛŒ Ú©Ù‡ Ø¨Ù‡ Ù…Ø¯Ù„ Ø¯Ø§Ø¯Ù‡ Ù…ÛŒâ€ŒØ´ÙˆØ¯ Ø§ÛŒÙ† Ø§Ø³Øª Ú©Ù‡ Ù†Ø§Ù… Ø¬Ø¯ÙˆÙ„ bus_fares Ø§Ø³ØªØŒ Ø³ØªÙˆÙ†â€ŒÙ‡Ø§ÛŒØ´ id Ø§Ø² Ù†ÙˆØ¹ INTØŒ city Ø§Ø² Ù†ÙˆØ¹ VARCHAR(20) Ú©Ù‡ Ø±Ø´ØªÙ‡â€ŒØ§ÛŒ Ùˆ Ù…Ø­Ù„ Ù…Ù†Ø§Ø³Ø¨ÛŒ Ø¨Ø±Ø§ÛŒ Ø°Ø®ÛŒØ±Ù‡â€ŒÛŒ Ù†Ø§Ù… Ø´Ù‡Ø± Ø§Ø³ØªØŒ max_fare Ø§Ø² Ù†ÙˆØ¹ DECIMAL(3,2) Ú©Ù‡ Ù…Ù‚Ø¯Ø§Ø± Ø¹Ø¯Ø¯ÛŒ Ø§Ø¹Ø´Ø§Ø±ÛŒ Ùˆ Ù‡Ù…â€ŒØ®ÙˆØ§Ù† Ø¨Ø§ fare Ø¯Ø± ÙˆØ§Ù‚Ø¹ÛŒØª Ø§Ø³Øª.
<br>
Ø¯Ø± Ø¨Ø®Ø´ INSERTØŒ Ø¯Ùˆ Ø±Ø¯ÛŒÙ Ù†Ù…ÙˆÙ†Ù‡â€ŒÛŒ (Tokyo, 3.50) Ùˆ (Tokyo, 3.50) Ø¨Ù‡ Ø¬Ø¯ÙˆÙ„ Ø§Ø¶Ø§ÙÙ‡ Ù…ÛŒâ€ŒØ´ÙˆÙ†Ø¯ Ú©Ù‡ Ø¨Ø±Ø§ÛŒ Text-to-SQLØŒ Ø§ÛŒÙ† Ù‚Ø³Ù…Øª Ø§Ø² Ù†Ø¸Ø± semantics Ù…Ø¹Ù…ÙˆÙ„Ø§ Ù†Ù‚Ø´ Ù…Ø«Ø§Ù„ Ø±Ø§ Ø¯Ø§Ø±Ø¯ Ùˆ Ú©Ù…Ú© Ù…ÛŒâ€ŒÚ©Ù†Ø¯ Ù…Ø¯Ù„ Ø¨ÙÙ‡Ù…Ø¯ Ú©Ù‡ city Ù…Ù‚Ø§Ø¯ÛŒØ±Ø´ Ø§Ø³Ù… Ø´Ù‡Ø± Ø§Ø³Øª Ùˆ max_fare Ù†ÛŒØ² Ø¹Ø¯Ø¯ Ø§Ø³Øª.
<br>
Ú†Ø§Ù„Ø´â€ŒÙ‡Ø§ÛŒ schema Ø¨Ø±Ø§ÛŒ Ù…Ø¯Ù„ Ù†ÛŒØ² Ø§ÛŒÙ† Ø§Ø³Øª Ú©Ù‡ schema Ø¨Ù‡ ØµÙˆØ±Øª Ø±Ø´ØªÙ‡â€ŒÛŒ SQL Ø®Ø§Ù… Ø§Ø³ØªØŒ Ùˆ Ù†Ù‡ ÛŒÚ© Ù„ÛŒØ³Øª ØªÙ…ÛŒØ² Ø§Ø² Ø¬Ø¯ÙˆÙ„â€ŒÙ‡Ø§ Ùˆ Ø³ØªÙˆÙ†â€ŒÙ‡Ø§. Ù„Ø°Ø§ Ù…Ø¯Ù„ Ø¨Ø§ÛŒØ¯ Ø®ÙˆØ¯Ø´ Ø¨ÛŒÙ† Ù†Ø§Ù… Ø³ØªÙˆÙ†â€ŒÙ‡Ø§ Ùˆ Ù…Ù‚Ø§Ø¯ÛŒØ± ÙØ±Ù‚ Ø¨Ú¯Ø°Ø§Ø±Ø¯ØŒ Ø¨ÛŒÙ† Ø³Ø§Ø®ØªØ§Ø± Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ (bus_faresØŒ cityØŒ max_fare) Ùˆ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ù†Ù…ÙˆÙ†Ù‡ ØªÙ…Ø§ÛŒØ² Ø§ÛŒØ¬Ø§Ø¯ Ú©Ù†Ø¯ØŒ Ùˆ Ø§Ø² ÙˆØ³Ø· Ø§ÛŒÙ† Ø´Ù„ÙˆØºÛŒØŒ Ù‡Ù…Ø§Ù† Ú†Ù†Ø¯ ØªÚ©Ù‡â€ŒÛŒ Ù…Ù‡Ù… Ø±Ø§ Ø¨Ø±Ø§ÛŒ ØªÙˆÙ„ÛŒØ¯ query Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ú©Ù†Ø¯.
<br>
Ø§Ø² Ù†Ú¯Ø§Ù‡ pipeline Ø¯Ø§Ø¯Ù‡ Ù†ÛŒØ²ØŒ ÙˆØ¬ÙˆØ¯ Ú†Ù†ÛŒÙ† schemaØ§ÛŒ Ø¯Ø± Ø³ØªÙˆÙ† schema Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ú©Ù‡ Ø¯ÛŒØªØ§Ø³Øª Ø¯Ø±Ø³Øª Ù„ÙˆØ¯ Ø´Ø¯Ù‡ Ùˆ schema Ø¨Ù‡ Ø´Ú©Ù„ Ú©Ø§Ù…Ù„ Ùˆ Ø®Ø§Ù…ØŒ Ù†Ù‡ Ù†Ø§Ù‚Øµ ÛŒØ§ truncatedØŒ Ø¯Ø± Ø§Ø®ØªÛŒØ§Ø± Ù…Ø¯Ù„ Ù‚Ø±Ø§Ø± Ù…ÛŒâ€ŒÚ¯ÛŒØ±Ø¯.
<br>

<br>
ØªØ­Ù„ÛŒÙ„ query:
<br>
Ø§ÛŒÙ† query Ø¯Ø§Ø¯Ù‡â€ŒØ´Ø¯Ù‡ Ø¯Ù‚ÛŒÙ‚Ø§ Ù¾Ø§Ø³Ø® Ø³ÙˆØ§Ù„ Ø±Ø§ Ø§Ø² Ø±ÙˆÛŒ schema Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ù…ÛŒâ€ŒÚ©Ù†Ø¯:

SELECT max_fare

FROM bus_fares

WHERE city = 'Tokyo';

<br>
Ø¨Ø±Ø§ÛŒ maximum fare Ø¯Ø± Ø³ÙˆØ§Ù„ØŒ Ø³ØªÙˆÙ† max_fare Ø±Ø§ Ø¯Ø± SELECT Ù‚Ø±Ø§Ø± Ø¯Ø§Ø¯Ù‡ Ø§Ø³Øª.
<br>
Ø¨Ø±Ø§ÛŒ for buses Ø¯Ø± Ø³ÙˆØ§Ù„ØŒ Ø¨Ù‡ Ø¬Ø¯ÙˆÙ„ bus_fares Ø¯Ø± FROM Ø§Ø´Ø§Ø±Ù‡ Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª.
<br>
Ø¨Ø±Ø§ÛŒ in Tokyo Ø¯Ø± Ø³ÙˆØ§Ù„ØŒ Ø´Ø±Ø· city = 'Tokyo' Ø±Ø§ Ø¯Ø± WHERE Ú¯Ø°Ø§Ø´ØªÙ‡ Ø§Ø³Øª.
<br>
Ù„Ø°Ø§ Ø¯Ø± Ø§ÛŒÙ†Ø¬Ø§ Ù…Ø¯Ù„ Ø¨Ø§ÛŒØ¯ Ø³Ù‡ Ù†Ú¯Ø§Ø´Øª Ø§Ø³Ø§Ø³ÛŒ Ø±Ø§ Ø¯Ø±Ø³Øª Ø§Ù†Ø¬Ø§Ù… Ø¯Ù‡Ø¯: mapping Ø¹Ø¨Ø§Ø±Øª natural language Ø¨Ù‡ Ø³ØªÙˆÙ† ØµØ­ÛŒØ­ØŒ mapping Ø§Ø´Ø§Ø±Ù‡ Ø¨Ù‡ entity Ù…ØªÙ†ÛŒ Ø¨Ù‡ Ù…Ù‚Ø¯Ø§Ø± ÙÛŒÙ„ØªØ±ØŒ Ùˆ ØªØ´Ø®ÛŒØµ Ø¬Ø¯ÙˆÙ„ Ù…Ø±ØªØ¨Ø·.
<br>
Ø§ÛŒÙ† query Ø§Ø² Ù†Ø¸Ø± syntax Ø³Ø§Ø¯Ù‡ Ø§Ø³ØªØŒ ÙˆÙ„ÛŒ Ù…Ø«Ù„Ø§ Ø§Ú¯Ø± Ù…Ø¯Ù„ Ú©ÙˆØªÛŒØ´Ù†â€ŒÙ‡Ø§ Ø±Ø§ Ø¬Ø§ Ø¨ÛŒÙ†Ø¯Ø§Ø²Ø¯ØŒ query Ø§Ø² Ù†Ø¸Ø± SQL Ù†Ø§Ù…Ø¹ØªØ¨Ø± Ù…ÛŒâ€ŒØ´ÙˆØ¯. ÛŒØ§ Ù…Ø«Ù„Ø§ Ø§Ú¯Ø± WHERE Ø±Ø§ Ø¬Ø§ Ø¨ÛŒÙ†Ø¯Ø§Ø²Ø¯ØŒ Ù†ØªÛŒØ¬Ù‡ Ø§Ø² Ù†Ø¸Ø± Ù…Ù†Ø·Ù‚ Ø³Ø§Ø§Ù„ Ø§Ø´ØªØ¨Ø§Ù‡ Ù…ÛŒâ€ŒØ´ÙˆØ¯. Ù‡Ù…Ú†Ù†ÛŒÙ† Ø§Ú¯Ø± Ø§Ø² MAX() Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†Ø¯ØŒ Ø§Ø² Ù†Ø¸Ø± Ù…Ø¹Ù†Ø§ÛŒÛŒ Ø¯Ø±Ø³Øª Ø§Ø³Øª Ø§Ù…Ø§ Ø§Ø² Ù†Ø¸Ø± Ù…Ù‚Ø§ÛŒØ³Ù‡â€ŒÛŒ EM Ù…Ù…Ú©Ù† Ø§Ø³Øª Ø¨Ù‡ Ø¹Ù†ÙˆØ§Ù† Ø§Ø´ØªØ¨Ø§Ù‡ Ø´Ù…Ø±Ø¯Ù‡ Ø´ÙˆØ¯ØŒ Ù…Ú¯Ø± Ø§ÛŒÙ†Ú©Ù‡ Ø¯Ø± Ù…Ø¹ÛŒØ§Ø± Ù†Ø±Ù…Ø§Ù„â€ŒØ³Ø§Ø²ÛŒ Ú†Ù†ÛŒÙ† ØªÙØ§ÙˆØªâ€ŒÙ‡Ø§ÛŒÛŒ Ù†ÛŒØ² Ù„Ø­Ø§Ø¸ Ø´ÙˆØ¯.
<br>

<br>
Ø¯Ø± Ù†ØªÛŒØ¬Ù‡ØŒ Ù†Ù…Ø§ÛŒØ´ Ù‡Ù…ÛŒÙ† ÛŒÚ© Ù†Ù…ÙˆÙ†Ù‡ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ú©Ù‡ pipeline Ø¨Ø§Ø±Ú¯Ø°Ø§Ø±ÛŒ Ùˆ Ù¾ÛŒØ´â€ŒÙ¾Ø±Ø¯Ø§Ø²Ø´ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ø¨Ù‡â€ŒØ¯Ø±Ø³ØªÛŒ Ø¹Ù…Ù„ Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª Ùˆ Ù…ØªÙ† Ø³ÙˆØ§Ù„ØŒ Ù…ØªÙ† schema Ùˆ query SQL Ù…Ø±Ø¨ÙˆØ·Ù‡ Ø¯Ø± Ø³Ù‡ Ø³ØªÙˆÙ† Ø§Ø³ØªØ§Ù†Ø¯Ø§Ø±Ø¯ questionØŒ schema Ùˆ query Ø°Ø®ÛŒØ±Ù‡ Ø´Ø¯Ù‡â€ŒØ§Ù†Ø¯ Ùˆ Ù‡Ù…â€ŒØ®ÙˆØ§Ù†ÛŒ Ù…Ø¹Ù†Ø§ÛŒÛŒ Ú©Ø§Ù…Ù„ Ø¯Ø§Ø±Ù†Ø¯. Ø¨Ù†Ø§Ø¨Ø±Ø§ÛŒÙ† Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ø¯Ø± Ù‚Ø§Ù„Ø¨ÛŒ Ù‚Ø±Ø§Ø± Ú¯Ø±ÙØªÙ‡â€ŒØ§Ù†Ø¯ Ú©Ù‡ Ù…Ø³ØªÙ‚ÛŒÙ…Ø§ Ø¨Ø±Ø§ÛŒ Ø¢Ù…ÙˆØ²Ø´ Ù…Ø¯Ù„â€ŒÙ‡Ø§ÛŒ Text-to-SQL (Ú†Ù‡ Encoderâ€“Decoder Ùˆ Ú†Ù‡ Decoder-only) Ù‚Ø§Ø¨Ù„ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø³Øª.
<br>

<br>
Ù‡Ù…Ú†Ù†ÛŒÙ†ØŒ Ù‡Ù…ÛŒÙ† Ù…Ø«Ø§Ù„ Ø³Ø§Ø¯Ù‡ Ú†Ù†Ø¯ Ú†Ø§Ù„Ø´ Ú©Ù„Ø§Ø³ÛŒÚ© Text-to-SQL Ø±Ø§ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯. Ù…Ø«Ù„Ø§ Ø¯Ø±Ú© Ø²Ø¨Ø§Ù†ÛŒ Ø¨Ø±Ø§ÛŒ Ø³Ø§Ø®ØªØ§Ø± SQLØŒ Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ø§Ø² schema Ù…ØªÙ†ÛŒØŒ ØªÙˆÙ„ÛŒØ¯ SQL Ù†Ø­ÙˆÛŒâ€Œ Ù…Ø¹ØªØ¨Ø±ØŒ Ùˆ Ù†ÛŒØ² ØªÙØ§ÙˆØª Ù…Ø¯Ù„â€ŒÙ‡Ø§
</div>

## <div style="text-align: center; direction: rtl; font-family: Vazir;">Ø¨Ø®Ø´ Ø¯ÙˆÙ…: Ø¢Ù…ÙˆØ²Ø´ Ù…Ø¯Ù„ Encoderâ€“Decoder (BART) (Û±Ûµ Ù†Ù…Ø±Ù‡)</div>

<div dir="rtl" style="text-align: right; padding:10px; background-color:#6B7280;  border-radius: 12px; border: 2px solid rgb(2, 34, 22); font-family: Vazir;">
<p style="line-height: 1.8; text-align: right;">
Ø¯Ø± Ø§ÛŒÙ† Ø¨Ø®Ø´ Ø§Ø² ØªÙ…Ø±ÛŒÙ†ØŒ ÙˆØ§Ø±Ø¯ Ù…Ø±Ø­Ù„Ù‡â€ŒÛŒ Ù¾ÛŒØ§Ø¯Ù‡â€ŒØ³Ø§Ø²ÛŒ Ù…Ø¯Ù„ BART Ù…ÛŒâ€ŒØ´ÙˆÛŒÙ…. Ù¾ÛŒØ´ Ø§Ø² Ø´Ø±ÙˆØ¹ØŒ Ù„Ø§Ø²Ù… Ø§Ø³Øª Ø¨Ù‡â€ŒØµÙˆØ±Øª Ù…Ø®ØªØµØ± Ùˆ Ø¯Ù‚ÛŒÙ‚ ØªÙˆØ¶ÛŒØ­ Ø¯Ù‡ÛŒØ¯ Ú©Ù‡ Ù…Ø¯Ù„ BART Ú†ÛŒØ³Øª Ùˆ Ú†Ú¯ÙˆÙ†Ù‡ Ú©Ø§Ø± Ù…ÛŒâ€ŒÚ©Ù†Ø¯Ø› Ø¨Ù‡â€ŒÙˆÛŒÚ˜Ù‡ Ø§ÛŒÙ†â€ŒÚ©Ù‡ Ú†Ø±Ø§ Ù…Ø¹Ù…Ø§Ø±ÛŒ Encoderâ€“Decoder Ø¢Ù† Ø¨Ø±Ø§ÛŒ ÙˆØ¸Ø§ÛŒÙÛŒ Ù…Ø§Ù†Ù†Ø¯ Text-to-SQL Ù…Ù†Ø§Ø³Ø¨ Ø§Ø³Øª. Ø§Ù†ØªØ¸Ø§Ø± Ù…ÛŒâ€ŒØ±ÙˆØ¯ Ø¯Ø§Ù†Ø´Ø¬Ùˆ Ø¨Ù‡ Ø³Ø§Ø®ØªØ§Ø± Ø¯Ùˆâ€ŒØ¨Ø®Ø´ÛŒ BARTØŒ Ù†Ø­ÙˆÙ‡Ù” Ù¾Ø±Ø¯Ø§Ø²Ø´ ÙˆØ±ÙˆØ¯ÛŒ Ø¯Ø± Ø§Ù†Ú©ÙˆØ¯Ø±ØŒ Ùˆ ØªÙˆÙ„ÛŒØ¯ Ø®Ø±ÙˆØ¬ÛŒ Ø¯Ø± Ø¯ÛŒÚ©ÙˆØ¯Ø± Ø§Ø´Ø§Ø±Ù‡ Ú©Ù†Ø¯ Ùˆ Ù†Ø´Ø§Ù† Ø¯Ù‡Ø¯ Ú©Ù‡ Ø§ÛŒÙ† Ù…Ø¹Ù…Ø§Ø±ÛŒ Ø¨Ø±Ø§ÛŒ Ù†Ú¯Ø§Ø´Øª Ø¯Ù†Ø¨Ø§Ù„Ù‡â€ŒØ§ÛŒ Ø§Ø² Ú©Ù„Ù…Ø§Øª (Ø³Ø¤Ø§Ù„ + schema) Ø¨Ù‡ Ø¯Ù†Ø¨Ø§Ù„Ù‡â€ŒØ§ÛŒ Ø¯ÛŒÚ¯Ø± (SQL) Ú©Ø§Ù…Ù„Ø§Ù‹ Ù…Ù†Ø§Ø³Ø¨ Ø§Ø³Øª.
Ù¾Ø³ Ø§Ø² ØªÙˆØ¶ÛŒØ­ Ù…Ø¯Ù„ØŒ Ø¨Ø§ÛŒØ¯ Ù‚Ø§Ù„Ø¨ ÙˆØ±ÙˆØ¯ÛŒ Ù…Ù†Ø§Ø³Ø¨ÛŒ Ø·Ø±Ø§Ø­ÛŒ Ú©Ù†ÛŒØ¯ Ú©Ù‡ Ø¯Ø± Ø¢Ù† Ø³Ø¤Ø§Ù„ Ùˆ schema Ø¨Ù‡â€ŒØµÙˆØ±Øª ÛŒÚ© Ø±Ø´ØªÙ‡Ù” ÛŒÚ©Ù¾Ø§Ø±Ú†Ù‡ Ø¯Ø± Ø§Ø®ØªÛŒØ§Ø± Ù…Ø¯Ù„ Ù‚Ø±Ø§Ø± Ú¯ÛŒØ±Ù†Ø¯. Ø³Ù¾Ø³ ÛŒÚ© Dataset Ø§Ø®ØªØµØ§ØµÛŒ Ø¨Ø±Ø§ÛŒ BART Ø¨Ø³Ø§Ø²ÛŒØ¯ Ú©Ù‡ ÙˆØ¸Ø§ÛŒÙÛŒ Ù…Ø§Ù†Ù†Ø¯ tokenize Ú©Ø±Ø¯Ù† ÙˆØ±ÙˆØ¯ÛŒØŒ Ø³Ø§Ø®Øª attention maskâ€ŒÙ‡Ø§ Ùˆ Ø¢Ù…Ø§Ø¯Ù‡â€ŒØ³Ø§Ø²ÛŒ SQL Ø¨Ù‡ Ø¹Ù†ÙˆØ§Ù† Ø®Ø±ÙˆØ¬ÛŒ Ù‡Ø¯Ù Ù…Ø¯Ù„ Ø±Ø§ Ø§Ù†Ø¬Ø§Ù… Ø¯Ù‡Ø¯. Ù…Ø¯Ù„ Ø±Ø§ Ø­Ø¯Ø§Ù‚Ù„ ÛŒÚ© Ø§ÛŒÙ¾Ø§Ú© Ø±ÙˆÛŒ Û²Û°Û°Û°Û° Ù†Ù…ÙˆÙ†Ù‡ Ø¢Ù…ÙˆØ²Ø´ Ø¯Ù‡ÛŒØ¯ Ùˆ loss Ù†Ù‡Ø§ÛŒÛŒØŒ Ø²Ù…Ø§Ù† Ø§Ø¬Ø±Ø§ Ùˆ Ù‡Ø§ÛŒÙ¾Ø±Ù¾Ø§Ø±Ø§Ù…ØªØ±Ù‡Ø§ÛŒ Ø§ØµÙ„ÛŒ Ø±Ø§ Ú¯Ø²Ø§Ø±Ø´ Ú©Ù†ÛŒØ¯.
Ø¯Ø± Ù…Ø±Ø­Ù„Ù‡Ù” Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒØŒ Ø¨Ø§ÛŒØ¯ Ø¹Ù…Ù„Ú©Ø±Ø¯ Ù…Ø¯Ù„ Ø±Ø§ Ø±ÙˆÛŒ dev Ùˆ test Ø¨Ø§ Ø¯Ùˆ Ù…Ø¹ÛŒØ§Ø± Raw Exact Match Ùˆ Normalized Exact Match Ø¨Ø³Ù†Ø¬ÛŒØ¯.
Ø§Ø² Ø´Ù…Ø§ Ø§Ù†ØªØ¸Ø§Ø± Ù…ÛŒâ€ŒØ±ÙˆØ¯ Ú©Ù‡ Ù‡Ø± Ø¯Ùˆ Ù…Ø¹ÛŒØ§Ø± Ø±Ø§ ØªÙˆØ¶ÛŒØ­ Ø¯Ù‡ÛŒØ¯:
Raw EM Ú†Ú¯ÙˆÙ†Ù‡ Ù…Ù‚Ø§ÛŒØ³Ù‡Ù” Ù…Ø³ØªÙ‚ÛŒÙ… Ø¯Ùˆ Ø±Ø´ØªÙ‡ Ø±Ø§ Ø§Ù†Ø¬Ø§Ù… Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ØŒ Ú†Ø±Ø§ Ù…Ù…Ú©Ù† Ø§Ø³Øª Ø¨Ø±Ø§ÛŒ SQL Ù†Ø§Ú©Ø§ÙÛŒ Ø¨Ø§Ø´Ø¯ØŒ Ùˆ Normalized EM Ú†Ú¯ÙˆÙ†Ù‡ Ø¨Ø§ Ø­Ø°Ù ØªÙØ§ÙˆØªâ€ŒÙ‡Ø§ÛŒ Ø³Ø·Ø­ÛŒ (Ù…Ø«Ù„ ÙØ§ØµÙ„Ù‡â€ŒÙ‡Ø§ØŒ Ø¹Ù„Ø§Ù…Øªâ€ŒÙ‡Ø§ Ùˆ Ø¨Ø²Ø±Ú¯ÛŒ ÛŒØ§ Ú©ÙˆÚ†Ú©ÛŒ Ø­Ø±ÙˆÙ) Ù…Ù‚Ø§ÛŒØ³Ù‡â€ŒØ§ÛŒ Ø¹Ø§Ø¯Ù„Ø§Ù†Ù‡â€ŒØªØ± Ø§Ø±Ø§Ø¦Ù‡ Ù…ÛŒâ€ŒØ¯Ù‡Ø¯.
Ø¯Ø± Ù¾Ø§ÛŒØ§Ù†ØŒ Ù¾Ù†Ø¬ Ù†Ù…ÙˆÙ†Ù‡Ù” ØªØµØ§Ø¯ÙÛŒ Ø§Ø² dev Ø§Ù†ØªØ®Ø§Ø¨ Ú©Ù†ÛŒØ¯ Ùˆ Ù¾Ø±Ø³Ø´ØŒ Ø®Ø±ÙˆØ¬ÛŒ Ù…Ø¯Ù„ØŒ SQL Ø·Ù„Ø§ÛŒÛŒ Ùˆ Ù†ÙˆØ¹ Ø®Ø·Ø§Ù‡Ø§ Ø±Ø§ ØªØ­Ù„ÛŒÙ„ Ú©Ù†ÛŒØ¯.
<div dir="rtl" style="text-align: right; padding:10px; background-color:#6B7280;  border-radius: 12px; border: 2px solid rgb(2, 34, 22); font-family: Vazir;">
Ù†Ú©ØªÙ‡ Ù…Ù‡Ù…:
Ø¨Ø±Ø§ÛŒ Ù¾ÛŒØ§Ø¯Ù‡â€ŒØ³Ø§Ø²ÛŒ Raw EM Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø§Ø² Ù…Ù‚Ø§ÛŒØ³Ù‡Ù” Ù…Ø³ØªÙ‚ÛŒÙ… Ø±Ø´ØªÙ‡â€ŒÙ‡Ø§ Ø¯Ø± Ù¾Ø§ÛŒØªÙˆÙ† Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.
Ø¨Ø±Ø§ÛŒ Normalized EM Ù…Ø¬Ø§Ø² Ù‡Ø³ØªÛŒØ¯ Ø§Ø² Ø§Ø¨Ø²Ø§Ø±Ù‡Ø§ÛŒÛŒ Ù…Ø§Ù†Ù†Ø¯ sqlparse Ø¨Ø±Ø§ÛŒ ÙØ±Ù…Øªâ€ŒØ¨Ù†Ø¯ÛŒ SQL Ùˆ ØªÙˆØ§Ø¨Ø¹ Ø³Ø§Ø¯Ù‡Ù” Ù¾Ø±Ø¯Ø§Ø²Ø´ Ù…ØªÙ† Ø¬Ù‡Øª lowercase Ú©Ø±Ø¯Ù† Ùˆ Ø­Ø°Ù ÙØ§ØµÙ„Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø¶Ø§ÙÛŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯ØŒ Ø§Ù…Ø§ Ù…Ù†Ø·Ù‚ Ù…Ù‚Ø§ÛŒØ³Ù‡â€ŒÛŒ Normalized Ø¨Ø§ÛŒØ¯ ØªÙˆØ³Ø· Ø®ÙˆØ¯ØªØ§Ù† Ù†ÙˆØ´ØªÙ‡ Ø´ÙˆØ¯.
</p>
</div>

<p dir='rtl' style="line-height: 2.0; text-align: right; font-family: Vazir; font-size: 16px; margin-top: 20px; color: white; background-color:rgb(0, 40, 30); padding: 30px; border-radius: 8px;">
ğŸ¯ <b>Ø®Ø±ÙˆØ¬ÛŒ Ù…ÙˆØ±Ø¯ Ø§Ù†ØªØ¸Ø§Ø±:</b><br>
Ø®Ø±ÙˆØ¬ÛŒ Ù…ÙˆØ±Ø¯ Ø§Ù†ØªØ¸Ø§Ø± Ø§ÛŒÙ† Ø¨Ø®Ø´ØŒ ÛŒÚ© Ù…Ø¯Ù„ BART Ø¢Ù…ÙˆØ²Ø´â€ŒØ¯ÛŒØ¯Ù‡ Ùˆ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒâ€ŒØ´Ø¯Ù‡ Ø§Ø³Øª Ú©Ù‡ Ø¨ØªÙˆØ§Ù†Ø¯ Ø§Ø² Ø±ÙˆÛŒ Ù¾Ø±Ø³Ø´ Ùˆ Ø³Ø§Ø®ØªØ§Ø± Ù¾Ø§ÛŒÚ¯Ø§Ù‡â€ŒØ¯Ø§Ø¯Ù‡ØŒ Ú©ÙˆØ¦Ø±ÛŒ SQL Ù…Ø¹ØªØ¨Ø± ØªÙˆÙ„ÛŒØ¯ Ú©Ø±Ø¯Ù‡ Ùˆ Ù…Ø¹ÛŒØ§Ø±Ù‡Ø§ÛŒ Raw EM Ùˆ Normalized EM Ø¢Ù† Ø±ÙˆÛŒ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ dev Ùˆ test Ú¯Ø²Ø§Ø±Ø´ Ø´Ø¯Ù‡ Ø¨Ø§Ø´Ø¯.
</p>

In [20]:
import re
import time
import torch
import random
import sqlparse
import numpy as np
from torch.utils.data import Dataset
from transformers import Seq2SeqTrainingArguments, TrainingArguments, Seq2SeqTrainer, Trainer, DataCollatorForSeq2Seq, default_data_collator, BartTokenizer, BartForConditionalGeneration

2025-12-04 00:26:38.747393: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1764807998.917579      47 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1764807998.970781      47 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

AttributeError: 'MessageFactory' object has no attribute 'GetPrototype'

AttributeError: 'MessageFactory' object has no attribute 'GetPrototype'

AttributeError: 'MessageFactory' object has no attribute 'GetPrototype'

AttributeError: 'MessageFactory' object has no attribute 'GetPrototype'

AttributeError: 'MessageFactory' object has no attribute 'GetPrototype'

In [21]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

print(device)

cuda

In [22]:
class TextToSQLBartDataset(Dataset):
    def __init__(self, df, tokenizer, max_source_len=512, max_target_len=256):
        self.df = df.reset_index(drop=True)

        self.tokenizer = tokenizer

        self.max_source_len = max_source_len

        self.max_target_len = max_target_len

    def __len__(self):
        return len(self.df)

    def _build_prompt(self, question, schema):
        return f"Question: {question}\nSchema: {schema}"

    def __getitem__(self, idx):
        row = self.df.iloc[idx]

        question = row["question"]
        schema = row["schema"]
        query = row["query"]

        source_text = self._build_prompt(question, schema)
        target_text = query

        source_for_encoder = self.tokenizer(
            source_text,
            max_length=self.max_source_len,
            truncation=True,
            padding="max_length",
            return_tensors="pt",
        )

        target_for_encoder = self.tokenizer(
            target_text,
            max_length=self.max_target_len,
            truncation=True,
            padding="max_length",
            return_tensors="pt",
        )

        input_ids = source_for_encoder["input_ids"].squeeze(0)
        attention_mask = source_for_encoder["attention_mask"].squeeze(0)
        labels = target_for_encoder["input_ids"].squeeze(0)

        labels[labels == self.tokenizer.pad_token_id] = -100

        return {
            "input_ids": input_ids,
            "attention_mask": attention_mask,
            "labels": labels
        }

In [23]:
MODEL_NAME_BART = "facebook/bart-base"

tokenizer_bart = BartTokenizer.from_pretrained(MODEL_NAME_BART)

model_bart = BartForConditionalGeneration.from_pretrained(MODEL_NAME_BART)
model_bart.to(device)

vocab.json: 0.00B [00:00, ?B/s]

merges.txt: 0.00B [00:00, ?B/s]

tokenizer.json: 0.00B [00:00, ?B/s]

config.json: 0.00B [00:00, ?B/s]

model.safetensors:   0%|          | 0.00/558M [00:00<?, ?B/s]

BartForConditionalGeneration(
  (model): BartModel(
    (shared): BartScaledWordEmbedding(50265, 768, padding_idx=1)
    (encoder): BartEncoder(
      (embed_tokens): BartScaledWordEmbedding(50265, 768, padding_idx=1)
      (embed_positions): BartLearnedPositionalEmbedding(1026, 768)
      (layers): ModuleList(
        (0-5): 6 x BartEncoderLayer(
          (self_attn): BartAttention(
            (k_proj): Linear(in_features=768, out_features=768, bias=True)
            (v_proj): Linear(in_features=768, out_features=768, bias=True)
            (q_proj): Linear(in_features=768, out_features=768, bias=True)
            (out_proj): Linear(in_features=768, out_features=768, bias=True)
          )
          (self_attn_layer_norm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
          (activation_fn): GELUActivation()
          (fc1): Linear(in_features=768, out_features=3072, bias=True)
          (fc2): Linear(in_features=3072, out_features=768, bias=True)
          (final_layer_norm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
        )
      )
      (layernorm_embedding): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
    )
    (decoder): BartDecoder(
      (embed_tokens): BartScaledWordEmbedding(50265, 768, padding_idx=1)
      (embed_positions): BartLearnedPositionalEmbedding(1026, 768)
      (layers): ModuleList(
        (0-5): 6 x BartDecoderLayer(
          (self_attn): BartAttention(
            (k_proj): Linear(in_features=768, out_features=768, bias=True)
            (v_proj): Linear(in_features=768, out_features=768, bias=True)
            (q_proj): Linear(in_features=768, out_features=768, bias=True)
            (out_proj): Linear(in_features=768, out_features=768, bias=True)
          )
          (activation_fn): GELUActivation()
          (self_attn_layer_norm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
          (encoder_attn): BartAttention(
            (k_proj): Linear(in_features=768, out_features=768, bias=True)
            (v_proj): Linear(in_features=768, out_features=768, bias=True)
            (q_proj): Linear(in_features=768, out_features=768, bias=True)
            (out_proj): Linear(in_features=768, out_features=768, bias=True)
          )
          (encoder_attn_layer_norm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
          (fc1): Linear(in_features=768, out_features=3072, bias=True)
          (fc2): Linear(in_features=3072, out_features=768, bias=True)
          (final_layer_norm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
        )
      )
      (layernorm_embedding): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
    )
  )
  (lm_head): Linear(in_features=768, out_features=50265, bias=False)
)

In [24]:
MAX_SOURCE_LEN = 512
MAX_TARGET_LEN = 256

dataset_train = TextToSQLBartDataset(df_train, tokenizer_bart, MAX_SOURCE_LEN, MAX_TARGET_LEN)
dataset_dev = TextToSQLBartDataset(df_dev, tokenizer_bart, MAX_SOURCE_LEN, MAX_TARGET_LEN)
dataset_test = TextToSQLBartDataset(df_test, tokenizer_bart, MAX_SOURCE_LEN, MAX_TARGET_LEN)

In [62]:
BATCH_SIZE = 4
TRAIN_EPOCHS = 1
LEARNING_RATE = 5e-5

training_args = Seq2SeqTrainingArguments(
    output_dir="./bart_text2sql",
    num_train_epochs=TRAIN_EPOCHS,
    per_device_train_batch_size=BATCH_SIZE,
    per_device_eval_batch_size=BATCH_SIZE,
    learning_rate=LEARNING_RATE,
    weight_decay=0.01,
    warmup_ratio=0.05,
    fp16=False,
    save_total_limit=1,
    logging_steps=100,
    report_to="none"
)

In [26]:
data_collator = DataCollatorForSeq2Seq(tokenizer=tokenizer_bart, model=model_bart)

trainer = Seq2SeqTrainer(
    model=model_bart,
    args=training_args,
    train_dataset=dataset_train,
    eval_dataset=dataset_dev,
    data_collator=data_collator,
    tokenizer=tokenizer_bart
)

/tmp/ipykernel_47/581656082.py:3: FutureWarning: `tokenizer` is deprecated and will be removed in version 5.0.0 for `Seq2SeqTrainer.__init__`. Use `processing_class` instead.
  trainer = Seq2SeqTrainer(

In [27]:
start_time = time.time()
train_result = trainer.train()
end_time = time.time()

final_train_loss = train_result.training_loss
train_metrics = train_result.metrics

print("\n=== Training Report ===")
print(f"\nFinal training loss: {final_train_loss}")
print("\nTraining time (seconds):", end_time - start_time)
print("\nTrain metrics:", train_metrics)
print("\nHyperparameters:")
print(f"  num_train_epochs: {training_args.num_train_epochs}")
print(f"  per_device_train_batch_size: {training_args.per_device_train_batch_size}")
print(f"  max_source_len: {MAX_SOURCE_LEN}")
print(f"  max_target_len: {MAX_TARGET_LEN}")
print(f"  learning_rate: {training_args.learning_rate}")
print(f"  weight_decay: {training_args.weight_decay}")
print(f"  warmup_ratio: {training_args.warmup_ratio}")

/usr/local/lib/python3.11/dist-packages/transformers/data/data_collator.py:741: UserWarning: Creating a tensor from a list of numpy.ndarrays is extremely slow. Please consider converting the list to a single numpy.ndarray with numpy.array() before converting to a tensor. (Triggered internally at /pytorch/torch/csrc/utils/tensor_new.cpp:254.)
  batch["labels"] = torch.tensor(batch["labels"], dtype=torch.int64)

/usr/local/lib/python3.11/dist-packages/transformers/modeling_utils.py:3685: UserWarning: Moving the following attributes in the config to the generation config: {'early_stopping': True, 'num_beams': 4, 'no_repeat_ngram_size': 3, 'forced_bos_token_id': 0}. You are seeing this warning because you've set generation parameters in the model config, as opposed to in the generation config.
  warnings.warn(

=== Training Report ===

Final training loss: 0.7199405433654785

Training time (seconds): 2017.7950155735016

Train metrics: {'train_runtime': 2017.3907, 'train_samples_per_second': 9.914, 'train_steps_per_second': 2.478, 'total_flos': 6097364582400000.0, 'train_loss': 0.7199405433654785, 'epoch': 1.0}

Hyperparameters:
  num_train_epochs: 1
  per_device_train_batch_size: 4
  max_source_len: 512
  max_target_len: 256
  learning_rate: 5e-05
  weight_decay: 0.01
  warmup_ratio: 0.05

In [28]:
def normalize_sql(sql):
    if sql is None:
        return ""

    sql = sql.strip()

    formatted = sqlparse.format(
        sql,
        keyword_case="lower",
        identifier_case="lower",
        strip_comments=True,
        reindent=False
    )

    formatted = re.sub(r"\s+", " ", formatted)
    formatted = formatted.strip()

    if formatted.endswith(";"):
        formatted = formatted[ : -1].strip()

    return formatted

def compute_em_metrics(pred_sql, label_sql):
    if pred_sql is None:
        return 0, 0

    raw_em = int(pred_sql.strip() == label_sql.strip())
    norm_em = int(normalize_sql(pred_sql) == normalize_sql(label_sql))

    return raw_em, norm_em

In [29]:
def pred_sql(model, tokenizer, questions, schemas, max_source_len=512, max_target_len=256):
    source_texts = []
    for question, schema in zip(questions, schemas):
        source_texts.append(f"Question: {question}\nSchema: {schema}")

    sources_for_encoder = tokenizer(
        source_texts,
        max_length=max_source_len,
        padding=True,
        truncation=True,
        return_tensors="pt"
    ).to(model.device)

    input_ids = sources_for_encoder["input_ids"]
    attention_mask = sources_for_encoder["attention_mask"]

    with torch.no_grad():
        generated_ids = model.generate(
            input_ids=input_ids,
            attention_mask=attention_mask,
            max_length=max_target_len,
            num_beams=4
        )

    pred_sqls = tokenizer.batch_decode(
        generated_ids,
        skip_special_tokens=True
    )

    return pred_sqls

In [30]:
def evaluate_bart(model, tokenizer, df, batch_size=8, max_source_len=512, max_target_len=256):
    raw_ems = []
    norm_ems = []

    for start in range(0, len(df), batch_size):
        end = min(start + batch_size, len(df))

        batch = df.iloc[start : end]

        questions = batch["question"].tolist()
        schemas = batch["schema"].tolist()
        queries = batch["query"].tolist()

        pred_sqls = pred_sql(model, tokenizer, questions, schemas, max_source_len, max_target_len)

        for pred, label in zip(pred_sqls, queries):
            raw_em, norm_em = compute_em_metrics(pred, label)

            raw_ems.append(raw_em)
            norm_ems.append(norm_em)

    raw_em_total = float(np.mean(raw_ems))
    norm_em_total = float(np.mean(norm_ems))

    return raw_em_total, norm_em_total

In [31]:
dev_raw_em, dev_norm_em = evaluate_bart(model_bart, tokenizer_bart, df_dev, BATCH_SIZE, MAX_SOURCE_LEN, MAX_TARGET_LEN)

print("=== Dev metrics ===\n")
print(f"Raw EM       : {dev_raw_em}")
print(f"Normalized EM: {dev_norm_em}")

=== Dev metrics ===

Raw EM       : 0.196
Normalized EM: 0.198

In [32]:
test_raw_em, test_norm_em = evaluate_bart(model_bart, tokenizer_bart, df_test, BATCH_SIZE, MAX_SOURCE_LEN, MAX_TARGET_LEN)

print("=== Test metrics ===\n")
print(f"Raw EM       : {test_raw_em}")
print(f"Normalized EM: {test_norm_em}")

=== Test metrics ===

Raw EM       : 0.193
Normalized EM: 0.196

In [33]:
df_dev_sample = df_dev.sample(5, random_state=1).reset_index(drop=True)

print("=== Qualitative Analysis on 5 dev examples ===\n")
for i, row in df_dev_sample.iterrows():
    question = row["question"]
    schema = row["schema"]
    label = row["query"]

    pred = pred_sql(model_bart, tokenizer_bart, [question], [schema], MAX_SOURCE_LEN, MAX_TARGET_LEN)

    raw_em, norm_em = compute_em_metrics(pred[0], label)

    print(f"--- Example {i + 1}--- ")
    print("Question:")
    print(question)
    print("\nModel prediction SQL:")
    print(pred[0])
    print("\nGold SQL:")
    print(label)
    print(f"\nRaw EM     : {raw_em}")
    print(f"Normalized EM: {norm_em}")
    print("-" * 80 + "\n")

=== Qualitative Analysis on 5 dev examples ===

--- Example 1---
Question:
What is the average fine for traffic violations in the city of San Francisco?

Model prediction SQL:
SELECT AVG(amount) FROM traffic_violations WHERE city = 'San Francisco';

Gold SQL:
SELECT AVG(amount) FROM traffic_violations WHERE city = 'San Francisco';

Raw EM     : 1
Normalized EM: 1
--------------------------------------------------------------------------------

--- Example 2---
Question:
Find artists who performed in multiple cities in 'artist_performances' table?

Model prediction SQL:
SELECT artist_id FROM artist_performances;

Gold SQL:
SELECT artist_id, COUNT(DISTINCT city_id) as unique_cities FROM artist_performances GROUP BY artist_id HAVING COUNT(DISTINCT city_id) > 1;

Raw EM     : 0
Normalized EM: 0
--------------------------------------------------------------------------------

--- Example 3---
Question:
What are the artifact types and their quantities for excavation sites in Greece?

Model prediction SQL:
SELECT Type, COUNT(DISTINCT ExcavationSite.SiteID) as ArtifactCount, SUM(ArtifactArtifacts.Amount) as TotalQuantity FROM Artifacts INNER JOIN Artifact ON Artifacts.ArtifactID = Artifact.SiteName WHERE Artifact.Country = 'Greece' GROUP BY Type;

Gold SQL:
SELECT a.Type, COUNT(a.ArtifactID) AS 'Artifact Count' FROM Artifact a JOIN ExcavationSite e ON a.SiteID = e.SiteID WHERE e.Country = 'Greece' GROUP BY a.Type;

Raw EM     : 0
Normalized EM: 0
--------------------------------------------------------------------------------

--- Example 4---
Question:
What is the total number of 'copper' reserves?

Model prediction SQL:
SELECT SUM(total_quantity) FROM reserves_breakdown WHERE metal = 'copper';

Gold SQL:
SELECT SUM(total_quantity) FROM reserves_breakdown WHERE metal = 'copper';

Raw EM     : 1
Normalized EM: 1
--------------------------------------------------------------------------------

--- Example 5---
Question:
What is the total number of electric vehicles sold in Germany and the UK since 2020?

Model prediction SQL:
SELECT SUM(sales) FROM ev_sales_eu WHERE country IN ('Germany', 'UK');

Gold SQL:
SELECT SUM(sales) FROM ev_sales_eu WHERE (country = 'Germany' OR country = 'UK') AND year >= 2020;

Raw EM     : 0
Normalized EM: 0
--------------------------------------------------------------------------------

<div dir='rtl' style='background:#fffbe6; font-family: Vazir; border:1px dashed #f0ad4e; padding:12px; border-radius:8px; color:#111'>
âœï¸ <b>Ù¾Ø§Ø³Ø® ØªØ´Ø±ÛŒØ­ÛŒ:</b><br>
<br>
Ù…Ø¯Ù„ BART Ú©Ù‡ Ù…ØªØ¹Ù„Ù‚ Ø¨Ù‡ facebook Ø§Ø³Øª Ø±Ø§ Ù…ÛŒâ€ŒØªÙˆØ§Ù† Ø¨Ù‡â€ŒØ¹Ù†ÙˆØ§Ù† Ù†Ø³Ø®Ù‡â€ŒØ§ÛŒ Ø¯Ùˆâ€ŒØ¨Ø®Ø´ÛŒ Ø§Ø² ØªØ±Ù†Ø³ÙÙˆØ±Ù…Ø± Ø¯Ø± Ù†Ø¸Ø± Ú¯Ø±ÙØª Ú©Ù‡ ÛŒÚ© Ø¨Ø®Ø´ Ù…Ø®ØµÙˆØµ ÙÙ‡Ù… ÙˆØ±ÙˆØ¯ÛŒ Ø¯Ø§Ø±Ø¯ Ùˆ Ø¨Ø®Ø´ Ø¯ÛŒÚ¯Ø± Ù…Ø®ØµÙˆØµ ØªÙˆÙ„ÛŒØ¯ Ø®Ø±ÙˆØ¬ÛŒ. Ø§ÛŒÙ† Ù…Ø¹Ù…Ø§Ø±ÛŒ Ø¨Ù‡ Ø´Ú©Ù„ Encoderâ€“Decoder Ø·Ø±Ø§Ø­ÛŒ Ø´Ø¯Ù‡ Ø§Ø³Øª Ùˆ Ù¾ÛŒØ´â€ŒØ¢Ù…ÙˆØ²Ø´ Ø¢Ù† Ø¨Ø± Ø§Ø³Ø§Ø³ Ø¨Ø§Ø²Ø³Ø§Ø²ÛŒ Ù…ØªÙ†â€ŒÙ‡Ø§ÛŒ ØªØ®Ø±ÛŒØ¨â€ŒØ´Ø¯Ù‡ Ø§Ù†Ø¬Ø§Ù… Ø´Ø¯Ù‡ØŒ ÛŒØ¹Ù†ÛŒ Ø§Ø¨ØªØ¯Ø§ ÙˆØ±ÙˆØ¯ÛŒ Ø±Ø§ Ø¨Ù‡â€ŒØµÙˆØ±Øª Ù†Ø§Ù‚Øµ ÛŒØ§ Ø¨Ù‡â€ŒÙ‡Ù…â€ŒØ±ÛŒØ®ØªÙ‡ Ø¯Ø±ÛŒØ§ÙØª Ù…ÛŒâ€ŒÚ©Ù†Ø¯ Ùˆ Ø³Ù¾Ø³ ØªÙ„Ø§Ø´ Ù…ÛŒâ€ŒÚ©Ù†Ø¯ Ù†Ø³Ø®Ù‡â€ŒÛŒ Ø§ØµÙ„ÛŒ Ùˆ Ø³Ø§Ù„Ù… Ø¬Ù…Ù„Ù‡ Ø±Ø§ Ø¨Ø§Ø²Ø³Ø§Ø²ÛŒ Ú©Ù†Ø¯. Ù‡Ù…ÛŒÙ† ÙØ±Ø§ÛŒÙ†Ø¯ Ø¨Ø§Ø¹Ø« Ù…ÛŒâ€ŒØ´ÙˆØ¯ BART Ø¯Ø± Ø¯Ùˆ Ù…Ù‡Ø§Ø±Øª Ø§Ø³Ø§Ø³ÛŒ Ù‚ÙˆÛŒ Ø´ÙˆØ¯: ÛŒÚ©ÛŒ ÙÙ‡Ù… Ø¯Ù‚ÛŒÙ‚ Ù…ØªÙ† Ùˆ Ø¯ÛŒÚ¯Ø±ÛŒ ØªÙˆØ§Ù†Ø§ÛŒÛŒ ØªÙˆÙ„ÛŒØ¯ Ø®Ø±ÙˆØ¬ÛŒ Ø±ÙˆØ§Ù† Ùˆ Ø³Ø§Ø®Øªâ€ŒÛŒØ§ÙØªÙ‡.
<br>
  Ø³Ù…Øª Encoder Ø±ÙØªØ§Ø± Ø´Ø¨ÛŒÙ‡ BERT Ø¯Ø§Ø±Ø¯ Ùˆ ÙˆØ±ÙˆØ¯ÛŒ Ø±Ø§ Ø¨Ø§ self-attention Ø¯ÙˆØ·Ø±ÙÙ‡ Ù¾Ø±Ø¯Ø§Ø²Ø´ Ù…ÛŒâ€ŒÚ©Ù†Ø¯Ø› Ø¨Ù†Ø§Ø¨Ø±Ø§ÛŒÙ† Ù‡Ø± Ú©Ù„Ù…Ù‡ Ø¯Ø± Ù…ØªÙ† Ú©Ø§Ù…Ù„â€ŒØªØ±ÛŒÙ† Ø´Ú©Ù„ Ù…Ù…Ú©Ù† Ø¯Ø± Ú©Ø§Ù†ØªÚ©Ø³Øª Ù‚Ø±Ø§Ø± Ù…ÛŒâ€ŒÚ¯ÛŒØ±Ø¯ Ùˆ Ø¯Ù†Ø¨Ø§Ù„Ù‡â€ŒÛŒ ÙˆØ±ÙˆØ¯ÛŒ Ø±Ø§ Ø¨Ù‡ ÛŒÚ© Ø³Ø±ÛŒ Ø¨Ø±Ø¯Ø§Ø± Ù…ØªÙ†ÛŒ ØªØ¨Ø¯ÛŒÙ„ Ù…ÛŒâ€ŒÚ©Ù†Ø¯. Ø³Ù¾Ø³ØŒ Ù‡Ø± Ø¨Ø±Ø¯Ø§Ø± ÙˆØ±ÙˆØ¯ÛŒØŒ Ù¾Ø³ Ø§Ø² Ú†Ù†Ø¯ Ù„Ø§ÛŒÙ‡ Ø§Ø² Ø´Ø¨Ú©Ù‡â€Œ Ù‡Ø§ÛŒ feed-forwardØŒ Ø¨Ù‡ ÛŒÚ© Ù†Ù…Ø§ÛŒØ´ Ù…ØªÙ†ÛŒ ØªØ¨Ø¯ÛŒÙ„ Ù…ÛŒâ€Œ Ø´ÙˆØ¯ Ú©Ù‡ Ø§Ø·Ù„Ø§Ø¹Ø§ØªÛŒ Ø§Ø² Ú©Ù„ ØªÙˆØ§Ù„ÛŒ ÙˆØ±ÙˆØ¯ÛŒ Ø±Ø§ Ø´Ø§Ù…Ù„ Ù…ÛŒâ€ŒØ´ÙˆØ¯. Ù„Ø°Ø§ Ù‡Ø± Ø¨Ø®Ø´ Ø§Ø² Ù¾Ø±Ø³Ø´ Ùˆ schema Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø¨Ù‡ ØªÙ…Ø§Ù… Ø¨Ø®Ø´â€ŒÙ‡Ø§ÛŒ Ø¯ÛŒÚ¯Ø± attend Ú©Ù†Ø¯ Ùˆ Ù…Ø¯Ù„ Ø±ÙˆØ§Ø¨Ø· Ø¨ÛŒÙ† Ø³ÙˆØ§Ù„ Ùˆ schema Ø±Ø§ ÛŒØ§Ø¯ Ø¨Ú¯ÛŒØ±Ø¯.
<br>
 Ø³Ù…Øª Decoder Ø±ÙØªØ§Ø± Ø´Ø¨ÛŒÙ‡ GPT Ø¯Ø§Ø±Ø¯ Ùˆ Ø®Ø±ÙˆØ¬ÛŒ Ø±Ø§ Ù…Ø±Ø­Ù„Ù‡â€ŒØ¨Ù‡â€ŒÙ…Ø±Ø­Ù„Ù‡ Ùˆ Ø¨Ù‡â€ŒØµÙˆØ±Øª auto-regressive ØªÙˆÙ„ÛŒØ¯ Ù…ÛŒâ€ŒÚ©Ù†Ø¯ØŒ Ø§Ù…Ø§ Ø¯Ø± Ù‡Ø± Ù…Ø±Ø­Ù„Ù‡ Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø§Ø² Ø·Ø±ÛŒÙ‚ cross-attention Ø¨Ù‡ Ú©Ù„ Ø¨Ø±Ø¯Ø§Ø±Ù‡Ø§ÛŒ ØªÙˆÙ„ÛŒØ¯Ø´Ø¯Ù‡ Ø¯Ø± Encoder Ø¯Ø³ØªØ±Ø³ÛŒ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´Ø¯.
<br>
Ø¯Ø± ÙˆØ¸ÛŒÙÙ‡â€ŒØ§ÛŒ Ù…Ø«Ù„ Text-to-SQLØŒ ÙˆØ±ÙˆØ¯ÛŒ ØªÙˆØ§Ù„ÛŒâ€ŒØ§ÛŒ Ø§Ø² Ù…ØªÙ† Ø·Ø¨ÛŒØ¹ÛŒ Ùˆ schema Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ Ø§Ø³Øª Ùˆ Ø®Ø±ÙˆØ¬ÛŒ ÛŒÚ© ØªÙˆØ§Ù„ÛŒ Ø¬Ø¯ÛŒØ¯ Ø§Ø² Ø¬Ù†Ø³ SQL Ø§Ø³Øª. Ø§ÛŒÙ† Ù…Ø³Ø¦Ù„Ù‡ Ø¯Ù‚ÛŒÙ‚Ø§ Ù‡Ù…Ø§Ù† ÙØ±Ù…Øª Ø¯Ù†Ø¨Ø§Ù„Ù‡-Ø¨Ù‡-Ø¯Ù†Ø¨Ø§Ù„Ù‡â€ŒØ§ÛŒ Ø±Ø§ Ø¯Ø§Ø±Ø¯ Ú©Ù‡ BART Ø¨Ø±Ø§ÛŒØ´ Ø³Ø§Ø®ØªÙ‡ Ø´Ø¯Ù‡ Ø§Ø³Øª. Encoder Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø³ÙˆØ§Ù„ Ùˆ schema Ø±Ø§ Ø¨Ø§ Ù‡Ù… Ø¨Ø®ÙˆØ§Ù†Ø¯ØŒ Ø±ÙˆØ§Ø¨Ø· Ø¨ÛŒÙ† Ú©Ù„Ù…Ø§Øª Ùˆ Ø³Ø§Ø®ØªØ§Ø± Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ø±Ø§ Ú©Ø´Ù Ú©Ù†Ø¯ Ùˆ Ø¨Ø±Ø§ÛŒ Ù‡Ø± ØªÙˆÚ©Ù† ÛŒÚ© Ù†Ù…Ø§ÛŒØ´ Ù…Ø¹Ù†Ø§ÛŒÛŒ ØºÙ†ÛŒ Ø¨Ø³Ø§Ø²Ø¯. Decoder Ù‡Ù†Ú¯Ø§Ù… ØªÙˆÙ„ÛŒØ¯ SQLØŒ Ø¯Ø± Ù‡Ø± Ú¯Ø§Ù… Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø¨Ø± Ø§Ø³Ø§Ø³ ØªÙˆÚ©Ù†â€ŒÙ‡Ø§ÛŒÛŒ Ú©Ù‡ ØªØ§ Ø¢Ù† Ù„Ø­Ø¸Ù‡ Ø³Ø§Ø®ØªÙ‡ Ùˆ Ù‡Ù…ÛŒÙ†â€ŒØ·ÙˆØ± Ø¨Ø± Ø§Ø³Ø§Ø³ Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ø±Ù…Ø²Ú¯Ø°Ø§Ø±ÛŒâ€ŒØ´Ø¯Ù‡â€ŒÛŒ EncoderØŒ ØªØµÙ…ÛŒÙ… Ø¨Ú¯ÛŒØ±Ø¯ Ú†Ù‡ Ø³ØªÙˆÙ† ÛŒØ§ Ú†Ù‡ Ø¬Ø¯ÙˆÙ„ ÛŒØ§ Ú†Ù‡ Ú©Ù„ÛŒØ¯ÙˆØ§Ú˜Ù‡â€ŒØ§ÛŒ Ø±Ø§ Ø¨Ù†ÙˆÛŒØ³Ø¯. Ø§ÛŒÙ† ØªÙÚ©ÛŒÚ© ÙˆØ§Ø¶Ø­ Ø¨ÛŒÙ† Ù…Ø±Ø­Ù„Ù‡â€ŒÛŒ ÙÙ‡Ù…ÛŒØ¯Ù† Ùˆ Ù…Ø±Ø­Ù„Ù‡â€ŒÛŒ Ù†ÙˆØ´ØªÙ† Ø¨Ø§Ø¹Ø« Ù…ÛŒâ€ŒØ´ÙˆØ¯ Ù…Ø¹Ù…Ø§Ø±ÛŒ Encoderâ€“Decoder Ø¨Ù‡â€ŒØµÙˆØ±Øª Ø·Ø¨ÛŒØ¹ÛŒ Ø¨Ø±Ø§ÛŒ Ú©Ø§Ø±Ù‡Ø§ÛŒ Ø³Ø§Ø®ØªØ§Ø±ÛŒ Ú†ÙˆÙ† Text-to-SQL Ù…Ù†Ø§Ø³Ø¨ Ø¨Ø§Ø´Ø¯.
<br>
Ù…Ø²ÛŒØª Ø¯ÛŒÚ¯Ø± BART Ø§ÛŒÙ† Ø§Ø³Øª Ú©Ù‡ schemaÙ‡Ø§ÛŒ ÙˆØ§Ù‚Ø¹ÛŒ Ù…Ø¹Ù…ÙˆÙ„Ø§ Ø·ÙˆÙ„Ø§Ù†ÛŒØŒ Ø´Ø§Ù…Ù„ Ú†Ù†Ø¯ÛŒÙ† Ø¯Ø³ØªÙˆØ± CREATE TABLEØŒ ØªØ¹Ø¯Ø§Ø¯ Ø²ÛŒØ§Ø¯ÛŒ Ø³ØªÙˆÙ† Ùˆ Ú¯Ø§Ù‡ÛŒ Ù…Ø¬Ù…ÙˆØ¹Ù‡â€ŒØ§ÛŒ Ø§Ø² INSERTÙ‡Ø§ÛŒ Ù†Ù…ÙˆÙ†Ù‡ Ù‡Ø³ØªÙ†Ø¯. Ø§Ú¯Ø± Ù‚Ø±Ø§Ø± Ø¨ÙˆØ¯ Ù…Ø¯Ù„ Ø¨Ø¯ÙˆÙ† Encoder Ù…Ø¬Ø²Ø§ Ø§ÛŒÙ† Ø­Ø¬Ù… Ø§Ø² ØªÙˆÚ©Ù†â€ŒÙ‡Ø§ Ø±Ø§ Ø¯Ø± Ú©Ù†Ø§Ø± Ø³ÙˆØ§Ù„ Ù…Ø¯ÛŒØ±ÛŒØª Ú©Ù†Ø¯ØŒ cognitive load Ø±Ø´Ø¯ Ù…ÛŒâ€ŒÚ©Ø±Ø¯ Ùˆ Ù…Ø¯Ù„ Ø¨Ø§ÛŒØ¯ ÙˆØ±ÙˆØ¯ÛŒ Ø·ÙˆÙ„Ø§Ù†ÛŒ Ø±Ø§ Ø¨Ø§ Ø®Ø±ÙˆØ¬ÛŒ Ø¯Ø± ÛŒÚ© Ø¯Ù†Ø¨Ø§Ù„Ù‡â€ŒÛŒ ÙˆØ§Ø­Ø¯ ØªØ±Ú©ÛŒØ¨ Ù…ÛŒâ€ŒÚ©Ø±Ø¯. Ø§Ù…Ø§ Ø¯Ø± BART ØªÙ…Ø§Ù… ÙˆØ±ÙˆØ¯ÛŒ Ø¯Ø± Encoder Ø«Ø¨Øª Ù…ÛŒâ€ŒØ´ÙˆØ¯ Ùˆ Decoder ÙÙ‚Ø· Ù‡Ø± Ø²Ù…Ø§Ù† Ù„Ø§Ø²Ù… Ø¨Ø§Ø´Ø¯ Ø¨Ù‡ Ø¢Ù† Ø±Ø¬ÙˆØ¹ Ù…ÛŒâ€ŒÚ©Ù†Ø¯. Ø§ÛŒÙ† Ø·Ø±Ø§Ø­ÛŒ Ø¨Ø§Ø¹Ø« Ù…ÛŒâ€ŒØ´ÙˆØ¯ Ø­ØªÛŒ Ø§Ú¯Ø± schema Ø¨Ù„Ù†Ø¯ Ø¨Ø§Ø´Ø¯ØŒ Ù‡Ù…Ú†Ù†Ø§Ù† ØªÙˆÙ„ÛŒØ¯ SQL Ù¾Ø§ÛŒØ¯Ø§Ø± Ø¨Ù…Ø§Ù†Ø¯.
<br>
Ù¾ÛŒØ´â€ŒØ¢Ù…ÙˆØ²Ø´ BART Ø¨Ù‡â€ŒØµÙˆØ±Øª denoising Ù†ÛŒØ² Ø¨Ù‡ Ø¯Ø±Ø¯ Ø§ÛŒÙ† Ù…Ø³Ø¦Ù„Ù‡ Ù…ÛŒâ€ŒØ®ÙˆØ±Ø¯. Ú†ÙˆÙ† Ù…Ø¯Ù„ Ø¨Ù‡â€ŒØ·ÙˆØ± Ø·Ø¨ÛŒØ¹ÛŒ ÛŒØ§Ø¯ Ú¯Ø±ÙØªÙ‡ Ø¨Ø®Ø´â€ŒÙ‡Ø§ÛŒ Ú¯Ù…Ø´Ø¯Ù‡â€ŒÛŒ Ù…ØªÙ† Ø±Ø§ ØªÚ©Ù…ÛŒÙ„ Ú©Ù†Ø¯ Ùˆ Ø®Ø±ÙˆØ¬ÛŒ Ø±Ø§ Ù…Ù†Ø³Ø¬Ù… Ù†Ú¯Ù‡ Ø¯Ø§Ø±Ø¯ØŒ Ø¯Ø± Ø³Ø§Ø®Øª ÛŒÚ© query Ú©Ù‡ Ø³Ø§Ø®ØªØ§Ø±ÛŒ Ø³Ø®Øªâ€ŒÚ¯ÛŒØ± Ùˆ Ø­Ø³Ø§Ø³ Ø¯Ø§Ø±Ø¯ØŒ Ù…Ø¹Ù…ÙˆÙ„Ø§ Ø¨Ù‡ØªØ± Ø¹Ù…Ù„ Ù…ÛŒâ€ŒÚ©Ù†Ø¯. Ø¯Ø± Text-to-SQLØŒ Ú©ÙˆÚ†Ú©â€ŒØªØ±ÛŒÙ† Ø§Ø´ØªØ¨Ø§Ù‡ Ø¯Ø± ØªØ±ØªÛŒØ¨ Ú©Ù„Ù…Ø§Øª ÛŒØ§ Ù†Ø´Ø§Ù†Ù‡â€ŒÚ¯Ø°Ø§Ø±ÛŒ Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ query Ø±Ø§ Ù†Ø§Ù…Ø¹ØªØ¨Ø± Ú©Ù†Ø¯Ø› Ø¨Ù†Ø§Ø¨Ø±Ø§ÛŒÙ† Ù…Ø¯Ù„ Ø¨Ø§ÛŒØ¯ Ù‡Ù… Ø¯Ø± ÙÙ‡Ù… Ø¯Ù‚ÛŒÙ‚ ÙˆØ±ÙˆØ¯ÛŒ Ùˆ Ù‡Ù… Ø¯Ø± ØªÙˆÙ„ÛŒØ¯ Ø®Ø±ÙˆØ¬ÛŒ Ø¨Ø³ÛŒØ§Ø± Ø³Ø®Øªâ€ŒÚ¯ÛŒØ± Ùˆ Ø¯Ù‚ÛŒÙ‚ Ø¨Ø§Ø´Ø¯ØŒ Ú†ÛŒØ²ÛŒ Ú©Ù‡ Ù…Ø¹Ù…Ø§Ø±ÛŒ Ùˆ Ù¾ÛŒØ´â€ŒØ¢Ù…ÙˆØ²Ø´ BART Ø¨Ù‡â€ŒØ·ÙˆØ± Ù‡Ù…Ø²Ù…Ø§Ù† ÙØ±Ø§Ù‡Ù…Ø´ Ù…ÛŒâ€ŒÚ©Ù†Ù†Ø¯.
<br>

<br>
Ø¯Ø± Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ Text-to-SQLØŒ Ù…Ø¹ÛŒØ§Ø± EM ÛŒØ§ Exact Match Ø¹Ù…Ù„Ø§ Ù‚Ù„Ø¨ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ Ù…Ø­Ø³ÙˆØ¨ Ù…ÛŒâ€ŒØ´ÙˆØ¯Ø› Ú†ÙˆÙ† Ø¨Ø§ÛŒØ¯ Ø¨Ø±Ø±Ø³ÛŒ Ú©Ù†Ø¯ Ø¢ÛŒØ§ Ù…Ø¯Ù„ Ø¯Ù‚ÛŒÙ‚Ø§ Ù‡Ù…Ø§Ù† query Ø±Ø§ ØªÙˆÙ„ÛŒØ¯ Ú©Ø±Ø¯Ù‡ Ú©Ù‡ Ù¾Ø§Ø³Ø® ØµØ­ÛŒØ­ Ø§Ø³Øª ÛŒØ§ Ù†Ù‡. Ø§Ù…Ø§ Ø¯Ùˆ Ù†Ø³Ø®Ù‡ Ø§Ø² EM Ø¯Ø§Ø±ÛŒÙ…: Raw EM Ùˆ Normalized EM. Ù‡Ø± Ø¯Ùˆ ÛŒÚ© Ø§ÛŒØ¯Ù‡â€ŒÛŒ Ù…Ø´ØªØ±Ú© Ø¯Ø§Ø±Ù†Ø¯ØŒ ÛŒØ¹Ù†ÛŒ Ù…Ù‚Ø§ÛŒØ³Ù‡â€ŒÛŒ Ø¯Ùˆ Ø±Ø´ØªÙ‡Ø› Ø§Ù…Ø§ Ø¯Ø± Ø¹Ù…Ù„ Ø±ÙØªØ§Ø±Ø´Ø§Ù† Ú©Ø§Ù…Ù„Ø§ Ù…ØªÙØ§ÙˆØª Ø§Ø³Øª Ùˆ Ø¨Ø±Ø§ÛŒ SQL Ù†ØªØ§ÛŒØ¬Ø´Ø§Ù† ØªÙØ§ÙˆØª Ø¨Ø²Ø±Ú¯ÛŒ Ø§ÛŒØ¬Ø§Ø¯ Ù…ÛŒâ€ŒÚ©Ù†Ø¯.
<br>
Raw EM Ø³Ø§Ø¯Ù‡â€ŒØªØ±ÛŒÙ† Ø´Ú©Ù„ Ù…Ù‚Ø§ÛŒØ³Ù‡ Ø§Ø³Øª. Ø§ÛŒÙ† Ù…Ø¹ÛŒØ§Ø± ØªÙ†Ù‡Ø§ Ø¯Ùˆ Ø±Ø´ØªÙ‡ Ø±Ø§ Ø¨Ø¯ÙˆÙ† Ù‡ÛŒÚ† Ù¾Ø±Ø¯Ø§Ø²Ø´ÛŒ Ú©Ù†Ø§Ø± Ù‡Ù… Ù…ÛŒâ€ŒÚ¯Ø°Ø§Ø±Ø¯. Ø§Ú¯Ø± Ø®Ø±ÙˆØ¬ÛŒ Ù…Ø¯Ù„ Ø§Ø² Ù†Ø¸Ø± Ú©Ø§Ø±Ø§Ú©ØªØ± Ø¨Ù‡ Ú©Ø§Ø±Ø§Ú©ØªØ±ØŒ Ú©Ø§Ù…Ù„Ø§ Ø¨Ø±Ø§Ø¨Ø± Ø¨Ø§ query Ø¯Ø±Ø³Øª Ø¨Ø§Ø´Ø¯ØŒ Ù…Ù‚Ø¯Ø§Ø± EM Ø¨Ø±Ø§Ø¨Ø± 1 Ø§Ø³ØªØ› Ø¯Ø± ØºÛŒØ± Ø§ÛŒÙ†â€ŒØµÙˆØ±Øª Ø¨Ø±Ø§Ø¨Ø± ØµÙØ± Ø§Ø³Øª. Ø§ÛŒÙ† Ù…Ù‚Ø§ÛŒØ³Ù‡ Ù‡Ù…Ø§Ù†â€ŒÙ‚Ø¯Ø± Ú©Ù‡ Ø³Ø§Ø¯Ù‡ Ø§Ø³ØªØŒ Ø³Ø®Øªâ€ŒÚ¯ÛŒØ± Ù‡Ù… Ù‡Ø³Øª. Ú©ÙˆÚ†Ú©â€ŒØªØ±ÛŒÙ† ØªÙØ§ÙˆØªØŒ Ø­ØªÛŒ ÛŒÚ© ÙØ§ØµÙ„Ù‡â€ŒÛŒ Ø§Ø¶Ø§ÙÙ‡ØŒ ÛŒÚ© newline Ù…ØªÙØ§ÙˆØªØŒ ØªÙØ§ÙˆØª Ø¯Ø± Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ø­Ø±ÙˆÙ Ú©ÙˆÚ†Ú© Ùˆ Ø¨Ø²Ø±Ú¯ØŒ Ø³Ù…ÛŒÚ©Ø§Ù„Ù† ØªÙ‡ Ø¬Ù…Ù„Ù‡ØŒ ÛŒØ§ Ø¬Ø§Ø¨Ù‡â€ŒØ¬Ø§ÛŒÛŒ ØªÙˆÚ©Ù†â€ŒÙ‡Ø§ÛŒÛŒ Ú©Ù‡ Ø§Ø² Ù†Ø¸Ø± Ù…Ø¹Ù†Ø§ÛŒÛŒ Ø¨ÛŒâ€ŒØ§Ù‡Ù…ÛŒØªâ€ŒØ§Ù†Ø¯ØŒ Ø¨Ø§Ø¹Ø« Ù…ÛŒâ€ŒØ´ÙˆØ¯ Raw EM Ø§ÛŒÙ† Ø¯Ùˆ Ø±Ø´ØªÙ‡ Ø±Ø§ Ú©Ø§Ù…Ù„Ø§ Ù…ØªÙØ§ÙˆØª Ø­Ø³Ø§Ø¨ Ú©Ù†Ø¯. Ø¯Ø± Ø²Ø¨Ø§Ù† Ø·Ø¨ÛŒØ¹ÛŒ Ø§ÛŒÙ† Ø³Ø®Øªâ€ŒÚ¯ÛŒØ±ÛŒ Ù…Ù…Ú©Ù† Ø§Ø³Øª ØªØ§ Ø­Ø¯ÛŒ Ù‚Ø§Ø¨Ù„â€ŒÙ‚Ø¨ÙˆÙ„ Ø¨Ø§Ø´Ø¯ØŒ Ø§Ù…Ø§ Ø¯Ø± SQL Ù…Ø¹Ù…ÙˆÙ„Ø§ Ù†Ø§Ú©Ø§ÙÛŒ Ø§Ø³ØªØŒ Ú†ÙˆÙ† SQL Ø²Ø¨Ø§Ù†ÛŒ Ø§Ø³Øª Ú©Ù‡ Ø¯Ø± Ø¢Ù† Ø¸Ø§Ù‡Ø± Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø¨Ø¯ÙˆÙ† ØªØºÛŒÛŒØ± Ù…Ø¹Ù†Ø§ÛŒ Ø¯Ø³ØªÙˆØ± ØªØºÛŒÛŒØ± Ú©Ù†Ø¯. ÛŒØ¹Ù†ÛŒ Ù…Ù…Ú©Ù† Ø§Ø³Øª Ø¯Ùˆ query Ø¯Ù‚ÛŒÙ‚Ø§ Ù‡Ù…Ø§Ù† Ø®Ø±ÙˆØ¬ÛŒ Ø±Ø§ ØªÙˆÙ„ÛŒØ¯ Ú©Ù†Ù†Ø¯ØŒ Ø§Ù…Ø§ Ø¨Ù‡â€ŒØ¯Ù„ÛŒÙ„ ØªÙØ§ÙˆØªâ€ŒÙ‡Ø§ÛŒ Ø³Ø·Ø­ÛŒ Ø¯Ø± Ø´Ú©Ù„ Ù†ÙˆØ´ØªØ§Ø±ØŒ Raw EM Ø¢Ù†â€ŒÙ‡Ø§ Ø±Ø§ Ù…ØªÙØ§ÙˆØª Ø¨Ø´Ù…Ø§Ø±Ø¯. Ø¨Ù†Ø§Ø¨Ø±Ø§ÛŒÙ† Raw EM Ø§Ú¯Ø±Ú†Ù‡ Ø¯Ù‚ÛŒÙ‚ Ø§Ø³ØªØŒ Ø§Ù…Ø§ Ø¹Ø§Ø¯Ù„Ø§Ù†Ù‡ Ù†ÛŒØ³Øª Ùˆ Ø¨Ø±Ø§ÛŒ Text-to-SQL Ù…Ø¹Ù…ÙˆÙ„Ø§ Ø´Ø§Ø®Øµ Ø³Ø®Øªâ€ŒÚ¯ÛŒØ±Ø§Ù†Ù‡â€ŒØ§ÛŒ Ù…Ø­Ø³ÙˆØ¨ Ù…ÛŒâ€ŒØ´ÙˆØ¯.
<br>
Normalized EM Ø¨Ø±Ø§ÛŒ Ø­Ù„ Ù‡Ù…ÛŒÙ† Ù…Ø´Ú©Ù„ Ø¨Ù‡â€ŒÙˆØ¬ÙˆØ¯ Ø¢Ù…Ø¯Ù‡. Ø§ÛŒÙ† Ù…Ø¹ÛŒØ§Ø± Ù‚Ø¨Ù„ Ø§Ø² Ù…Ù‚Ø§ÛŒØ³Ù‡â€ŒÛŒ Ø¯Ùˆ queryØŒ Ø¢Ù†â€ŒÙ‡Ø§ Ø±Ø§ normalize Ù…ÛŒâ€ŒÚ©Ù†Ø¯Ø› ÛŒØ¹Ù†ÛŒ Ø¬Ù†Ø¨Ù‡â€ŒÙ‡Ø§ÛŒÛŒ Ø§Ø² Ù†ÙˆØ´ØªØ§Ø± Ø±Ø§ Ú©Ù‡ ØªØ£Ø«ÛŒØ±ÛŒ Ø¯Ø± Ø§Ø¬Ø±Ø§ÛŒ SQL Ù†Ø¯Ø§Ø±Ù†Ø¯ Ø­Ø°Ù ÛŒØ§ ÛŒÚ©Ø³Ø§Ù†â€ŒØ³Ø§Ø²ÛŒ Ù…ÛŒâ€ŒÚ©Ù†Ø¯. Ù…Ø¹Ù…ÙˆÙ„Ø§ ÙØ§ØµÙ„Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø¶Ø§ÙÛŒ Ø­Ø°Ù Ù…ÛŒâ€ŒØ´ÙˆÙ†Ø¯ØŒ Ú†Ù†Ø¯ ÙØ§ØµÙ„Ù‡â€ŒÛŒ Ù¾Ø´Øªâ€ŒØ³Ø±Ù‡Ù… Ø¨Ù‡ ÛŒÚ© ÙØ§ØµÙ„Ù‡ ØªØ¨Ø¯ÛŒÙ„ Ù…ÛŒâ€ŒØ´ÙˆØ¯ØŒ Ø­Ø±ÙˆÙ Ú©ÙˆÚ†Ú© Ùˆ Ø¨Ø²Ø±Ú¯ Ø¨Ù‡ ÛŒÚ© Ø­Ø§Ù„Øª (ØºØ§Ù„Ø¨Ø§ lowercase) ØªØ¨Ø¯ÛŒÙ„ Ù…ÛŒâ€ŒØ´ÙˆÙ†Ø¯ØŒ Ø³Ù…ÛŒÚ©Ø§Ù„Ù† Ù¾Ø§ÛŒØ§Ù†ÛŒ Ø­Ø°Ù Ù…ÛŒâ€ŒØ´ÙˆØ¯ØŒ Ùˆ ÙØ¶Ø§ÛŒ Ø®Ø§Ù„ÛŒ Ø§Ø¨ØªØ¯Ø§ Ùˆ Ø§Ù†ØªÙ‡Ø§ÛŒ query Ù¾Ø§Ú© Ù…ÛŒâ€ŒØ´ÙˆØ¯. Ø¨Ø¹Ø¯ Ø§Ø² Ø§ÛŒÙ† Ù¾Ø±Ø¯Ø§Ø²Ø´ØŒ Ø¯Ùˆ query Ú©Ù‡ Ø´Ø§ÛŒØ¯ Ø¯Ø± Ø¸Ø§Ù‡Ø± Ù…ØªÙØ§ÙˆØª Ø¨ÙˆØ¯Ù†Ø¯ØŒ ÙˆÙ„ÛŒ Ø§Ø² Ù†Ø¸Ø± Ù…Ø¹Ù†Ø§ Ùˆ syntax Ù…Ø¹ØªØ¨Ø± Ùˆ ÛŒÚ©Ø³Ø§Ù† Ù‡Ø³ØªÙ†Ø¯ØŒ Ú©Ù†Ø§Ø± Ù‡Ù… ÛŒÚ©Ø³Ø§Ù† Ø¨Ù‡ Ù†Ø¸Ø± Ù…ÛŒâ€ŒØ±Ø³Ù†Ø¯ Ùˆ Ø®Ø±ÙˆØ¬ÛŒ EM Ø¨Ø±Ø§ÛŒ Ø¢Ù†â€ŒÙ‡Ø§ Ø¨Ø±Ø§Ø¨Ø± 1 Ø®ÙˆØ§Ù‡Ø¯ Ø¨ÙˆØ¯. Ù†Ù‚Ø´ Normalized EM Ø§ÛŒÙ† Ø§Ø³Øª Ú©Ù‡ Ù…Ù‚Ø§ÛŒØ³Ù‡ Ø±Ø§ Ø§Ø² Ø³Ø·Ø­ Ú©Ø§Ø±Ø§Ú©ØªØ±Ù‡Ø§ÛŒ Ø¸Ø§Ù‡Ø±ÛŒ Ø¨Ù‡ Ø³Ø·Ø­ Ø³Ø§Ø®ØªØ§Ø± ÙˆØ§Ù‚Ø¹ÛŒ query Ù†Ø²Ø¯ÛŒÚ© Ú©Ù†Ø¯ Ùˆ Ù…ÛŒØ²Ø§Ù† Ø­Ø³Ø§Ø³ÛŒØª Ø±Ø§ ØªÙ†Ù‡Ø§ Ø±ÙˆÛŒ Ú†ÛŒØ²Ù‡Ø§ÛŒÛŒ Ù…ØªÙ…Ø±Ú©Ø² Ú©Ù†Ø¯ Ú©Ù‡ ÙˆØ§Ù‚Ø¹Ø§ Ø§Ù‡Ù…ÛŒØª Ø¯Ø§Ø±Ù†Ø¯Ø› Ù…Ø«Ù„Ø§ ØªØ±ØªÛŒØ¨ Ø³ØªÙˆÙ†â€ŒÙ‡Ø§ ÛŒØ§ Ø¨Ø®Ø´â€ŒÙ‡Ø§ØŒ ÙˆØ¬ÙˆØ¯ Ø´Ø±Ø·â€ŒÙ‡Ø§ÛŒ Ø¯Ø±Ø³ØªØŒ ÛŒØ§ Ø§Ù†ØªØ®Ø§Ø¨ Ø¬Ø¯ÙˆÙ„ ØµØ­ÛŒØ­.
<br>
Ø¨Ù‡â€ŒØµÙˆØ±Øª Ø®Ù„Ø§ØµÙ‡ØŒ Raw EM ÛŒÚ© Ù…Ø¹ÛŒØ§Ø± Ø¨Ø§ÛŒÙ†Ø±ÛŒ Ú©Ø§Ù…Ù„Ø§ Ù…Ø§Ø´ÛŒÙ†ÛŒ Ø§Ø³Øª Ú©Ù‡ ÙÙ‚Ø· Ø´Ú©Ù„ Ø¸Ø§Ù‡Ø±ÛŒ Ø±Ø§ Ù…ÛŒâ€ŒØ¨ÛŒÙ†Ø¯ Ùˆ Ø¨Ø±Ø§ÛŒ SQL Ø§ØºÙ„Ø¨ Ø¨ÛŒØ´ Ø§Ø² Ø­Ø¯ Ø³Ø®Øªâ€ŒÚ¯ÛŒØ±Ø§Ù†Ù‡ Ø§Ø³ØªØŒ Ø¯Ø±Ø­Ø§Ù„ÛŒâ€ŒÚ©Ù‡ Normalized EM Ø¨Ø§ Ø­Ø°Ù Ø¹ÙˆØ§Ù…Ù„ Ø¨ÛŒâ€ŒØ±Ø¨Ø· Ùˆ Ù…ØªÙ…Ø±Ú©Ø² Ú©Ø±Ø¯Ù† Ù…Ù‚Ø§ÛŒØ³Ù‡ Ø±ÙˆÛŒ Ø³Ø§Ø®ØªØ§Ø± Ùˆ Ù…Ø¹Ù†Ø§ØŒ ØªØµÙˆÛŒØ±ÛŒ Ù…Ù†ØµÙØ§Ù†Ù‡â€ŒØªØ± Ùˆ Ø¯Ù‚ÛŒÙ‚â€ŒØªØ± Ø§Ø² ØªÙˆØ§Ù†Ø§ÛŒÛŒ Ù…Ø¯Ù„ Ø¯Ø± Ø­Ù„ Ù…Ø³Ø¦Ù„Ù‡â€ŒÛŒ Text-to-SQL Ø§Ø±Ø§Ø¦Ù‡ Ù…ÛŒâ€ŒØ¯Ù‡Ø¯. Ø§ÛŒÙ† Ø¯Ùˆ Ù…Ø¹ÛŒØ§Ø± Ø¯Ø± Ú©Ù†Ø§Ø± Ù‡Ù… Ú©Ù…Ú© Ù…ÛŒâ€ŒÚ©Ù†Ù†Ø¯ Ø¨ÙÙ‡Ù…ÛŒÙ… Ù…Ø¯Ù„ ÙÙ‚Ø· Ù‚Ø§Ù„Ø¨ Ù†ÙˆØ´ØªØ§Ø±ÛŒ SQL Ø±Ø§ Ø±Ø¹Ø§ÛŒØª Ù†Ú©Ø±Ø¯Ù‡ØŒ ÛŒØ§ Ø§Ø³Ø§Ø³Ø§ Ø³Ø§Ø®ØªØ§Ø± Ø¯Ø±Ø³Øª query Ø±Ø§ ÛŒØ§Ø¯ Ù†Ú¯Ø±ÙØªÙ‡ Ø§Ø³ØªØ› ØªÙØ§ÙˆØªÛŒ Ú©Ù‡ Ø¨Ø±Ø§ÛŒ ØªØ­Ù„ÛŒÙ„ Ø±ÙØªØ§Ø± Ù…Ø¯Ù„ Ø¨Ø³ÛŒØ§Ø± Ø­ÛŒØ§ØªÛŒ Ø§Ø³Øª.
<br>

<br>
Ø·Ø¨Ù‚ Ù¾Ù†Ø¬ Ù†Ù…ÙˆÙ†Ù‡â€ŒÛŒ Ù…Ø´Ø§Ù‡Ø¯Ù‡ Ø´Ø¯Ù‡ Ø¯Ø± Ù¾Ø§ÛŒØ§Ù†ØŒ Ø±ÙØªØ§Ø± Ù…Ø¯Ù„ BART Ø®ÛŒÙ„ÛŒ Ø®ÙˆØ¨ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ú©Ù‡ Ú©Ø¬Ø§ Ù…Ø³Ø¦Ù„Ù‡ Ø±Ø§ ÙˆØ§Ù‚Ø¹Ø§ Ù…ÛŒâ€ŒÙÙ‡Ù…Ø¯ Ùˆ Ú©Ø¬Ø§ Ø¹Ù…Ù„Ø§ ÙÙ‚Ø· Ø´Ø¨ÛŒÙ‡â€ŒØ³Ø§Ø²ÛŒ SQL Ø§Ù†Ø¬Ø§Ù… Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ø¨Ø¯ÙˆÙ† Ø§ÛŒÙ†â€ŒÚ©Ù‡ Ù…Ù†Ø·Ù‚ Ø¯Ù‚ÛŒÙ‚ Ø³ÙˆØ§Ù„ Ùˆ schema Ø±Ø§ ØªØ§ Ø¢Ø®Ø± Ø¯Ù†Ø¨Ø§Ù„ Ú©Ù†Ø¯. Ø¯Ø± Ø³Ø§Ø¯Ù‡â€ŒØªØ±ÛŒÙ† Ø­Ø§Ù„Øªâ€ŒÙ‡Ø§ØŒ Ø¬Ø§ÛŒÛŒ Ú©Ù‡ Ø³ÙˆØ§Ù„ ÛŒÚ© Ú©ÙˆØ¦Ø±ÛŒ ØªØ¬Ù…ÛŒØ¹ÛŒ ØªÚ©â€ŒØ¬Ø¯ÙˆÙ„ÛŒ Ø¨Ø§ ÛŒÚ© Ø´Ø±Ø· Ø³Ø§Ø¯Ù‡ Ø§Ø³ØªØŒ Ù…Ø¯Ù„ Ú©Ø§Ù…Ù„Ø§ Ù…ÙˆÙÙ‚ Ø¹Ù…Ù„ Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª. Ø¯Ø± Ù…Ø«Ø§Ù„â€ŒÙ‡Ø§ÛŒ Ø§ÙˆÙ„ Ùˆ Ú†Ù‡Ø§Ø±Ù…ØŒ Ù‡Ù… Ù¾Ø±Ø³Ø´ ÙˆØ§Ø¶Ø­ Ø§Ø³ØªØŒ Ù‡Ù… schema Ø³Ø§Ø¯Ù‡ Ø§Ø³Øª Ùˆ Ù‡Ù… Ù†Ú¯Ø§Ø´Øª Ø²Ø¨Ø§Ù†ÛŒ Ø¨Ù‡ SQL Ù†Ø³Ø¨ØªØ§ Ù…Ø³ØªÙ‚ÛŒÙ… Ø§Ø³ØªØ› Ù†ØªÛŒØ¬Ù‡ Ø§ÛŒÙ† Ø´Ø¯Ù‡ Ú©Ù‡ Ú©ÙˆØ¦Ø±ÛŒ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒâ€ŒØ´Ø¯Ù‡ ØªÙˆØ³Ø· Ù…Ø¯Ù„ Ùˆ Ú©ÙˆØ¦Ø±ÛŒ Ø·Ù„Ø§ÛŒÛŒ Ø§Ø² Ù†Ø¸Ø± Raw EM Ùˆ Normalized EM Ù‡Ø± Ø¯Ùˆ Ø¨Ø±Ø§Ø¨Ø± 1 Ù‡Ø³ØªÙ†Ø¯. Ø§ÛŒÙ† ÛŒØ¹Ù†ÛŒ Ù…Ø¯Ù„ ÛŒØ§Ø¯ Ú¯Ø±ÙØªÙ‡ Ø§Ù„Ú¯ÙˆÛŒ Ú©Ù„ÛŒ SELECT agg(column) FROM table WHERE condition Ø±Ø§ Ø®ÙˆØ¨ ØªÙ‚Ù„ÛŒØ¯ Ú©Ù†Ø¯ Ùˆ Ø¯Ø± Ú†Ù†ÛŒÙ† Ø³Ù†Ø§Ø±ÛŒÙˆÙ‡Ø§ÛŒ Ø®Ø·ÛŒ Ùˆ Ú©Ù…â€ŒØ§Ø¨Ù‡Ø§Ù… Ø¯Ù‚ØªØ´ Ø¨Ø§Ù„Ø§Ø³Øª.
<br>
Ø¯Ø± Ù…Ù‚Ø§Ø¨Ù„ØŒ Ù‡Ù…ÛŒÙ†â€ŒÚ©Ù‡ Ø³Ø§Ø®ØªØ§Ø± Ù…Ù†Ø·Ù‚ÛŒ Ø³ÙˆØ§Ù„ Ú©Ù…ÛŒ Ù¾ÛŒÚ†ÛŒØ¯Ù‡â€ŒØªØ± Ù…ÛŒâ€ŒØ´ÙˆØ¯ØŒ Ø¶Ø¹Ùâ€ŒÙ‡Ø§ÛŒ Ø¬Ø¯ÛŒ Ø¸Ø§Ù‡Ø± Ù…ÛŒâ€ŒØ´ÙˆÙ†Ø¯. Ø¯Ø± Ù…Ø«Ø§Ù„ Ø¯ÙˆÙ…ØŒ ØµÙˆØ±Øª Ø³ÙˆØ§Ù„ Ø¨Ù‡â€ŒÙˆØ¶ÙˆØ­ Ø¨Ù‡ Ø´Ù…Ø§Ø±Ø´ ØªØ¹Ø¯Ø§Ø¯ Ø´Ù‡Ø±Ù‡Ø§ÛŒ Ù…ØªÙ…Ø§ÛŒØ² Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ù‡Ù†Ø±Ù…Ù†Ø¯ Ø§Ø´Ø§Ø±Ù‡ Ù…ÛŒâ€ŒÚ©Ù†Ø¯ØŒ ÛŒØ¹Ù†ÛŒ Ù†ÛŒØ§Ø² Ø¨Ù‡ GROUP BY artist_id Ùˆ COUNT(DISTINCT city_id) Ùˆ Ù…Ø­Ø¯ÙˆØ¯ Ú©Ø±Ø¯Ù† Ø®Ø±ÙˆØ¬ÛŒ Ø¨Ù‡ Ø¢Ù†â€ŒÙ‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¨ÛŒØ´ Ø§Ø² ÛŒÚ© Ø´Ù‡Ø± Ø¯Ø§Ø±Ù†Ø¯. Ú©ÙˆØ¦Ø±ÛŒ Ø·Ù„Ø§ÛŒÛŒ Ø¯Ù‚ÛŒÙ‚Ø§ Ù‡Ù…ÛŒÙ† Ø±Ø§ Ù¾ÛŒØ§Ø¯Ù‡ Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª. Ø§Ù…Ø§ Ù…Ø¯Ù„ Ø¨Ù‡â€ŒØ¬Ø§ÛŒ Ø±ÙØªÙ† Ø³Ø±Ø§Øº Ù…ÙÙ‡ÙˆÙ… multiple cities Ø§Ø² Ø·Ø±ÛŒÙ‚ aggregation Ùˆ havingØŒ Ø¹Ù…Ù„Ø§ Ú©Ù„ Ø³Ø§Ø®ØªØ§Ø± Ù…Ø³Ø¦Ù„Ù‡ Ø±Ø§ Ø³Ø§Ø¯Ù‡ Ú©Ø±Ø¯Ù‡ Ùˆ ØªÙ†Ù‡Ø§ ÛŒÚ© SELECT Ø³Ø§Ø¯Ù‡ Ø¨Ø¯ÙˆÙ† Ù‡ÛŒÚ† GROUP BY Ùˆ Ø¨Ø¯ÙˆÙ† Ù‡ÛŒÚ† Ø´Ø±Ø· Ù…Ø±ØªØ¨Ø·ÛŒ ØªÙˆÙ„ÛŒØ¯ Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª. Ø§ÛŒÙ† Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ù…Ø¯Ù„ Ù†Ù‡â€ŒØªÙ†Ù‡Ø§ Ø§Ù„Ú¯ÙˆÛŒ group by + count + having Ø±Ø§ Ø¯Ø±ÙˆÙ†ÛŒ Ù†Ú©Ø±Ø¯Ù‡ØŒ Ø¨Ù„Ú©Ù‡ Ø¯Ø± Ù…ÙˆØ§Ø¬Ù‡Ù‡ Ø¨Ø§ Ù…ÙØ§Ù‡ÛŒÙ… Ú©Ù…ÛŒ Ù¾ÛŒÚ†ÛŒØ¯Ù‡â€ŒØªØ±ØŒ ØªÙ…Ø§ÛŒÙ„ Ø¯Ø§Ø±Ø¯ Ù…Ø³Ø¦Ù„Ù‡ Ø±Ø§ Ø¨Ù‡ Ø³Ø§Ø¯Ù‡â€ŒØªØ±ÛŒÙ† Ø­Ø§Ù„Øª Ù‚Ø§Ø¨Ù„ ØªÙˆÙ„ÛŒØ¯ ÙØ±ÙˆØ¨Ú©Ø§Ù‡Ø¯. Ø§ÛŒÙ† Ù†ÙˆØ¹ Ø®Ø·Ø§ ÛŒÚ© semantic error Ú©Ø§Ù…Ù„ Ø§Ø³ØªØ› ÛŒØ¹Ù†ÛŒ syntax Ø¨Ù‡â€ŒØ¸Ø§Ù‡Ø± Ø¯Ø±Ø³Øª Ø§Ø³Øª Ø§Ù…Ø§ Ù¾ÛŒÙˆÙ†Ø¯ÛŒ Ø¨Ø§ Ù†ÛŒØª Ø³ÙˆØ§Ù„ Ù†Ø¯Ø§Ø±Ø¯.
<br>
Ø¯Ø± Ù…Ø«Ø§Ù„ Ø³ÙˆÙ…ØŒ Ù…Ø³Ø¦Ù„Ù‡ ÛŒÚ© Ù¾Ù„Ù‡â€ŒÛŒ Ø¯ÛŒÚ¯Ø± Ù‡Ù… Ù¾ÛŒÚ†ÛŒØ¯Ù‡â€ŒØªØ± Ù…ÛŒâ€ŒØ´ÙˆØ¯Ø› Ø§ÛŒÙ†â€ŒØ¬Ø§ Ù‡Ù… join Ù„Ø§Ø²Ù… Ø§Ø³ØªØŒ Ù‡Ù… aggregation Ùˆ Ù‡Ù… group by Ø±ÙˆÛŒ Ù†ÙˆØ¹ Ø¢Ø±ØªÛŒÙÚ©Øª. Ú©ÙˆØ¦Ø±ÛŒ Ø·Ù„Ø§ÛŒÛŒ Ø¯Ù‚ÛŒÙ‚Ø§ Ø§Ø² Ø¬Ø¯ÙˆÙ„ Artifact Ø¨Ø§ alias a Ùˆ ExcavationSite Ø¨Ø§ alias e Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ø±Ø¯Ù‡ØŒ Ø±ÙˆÛŒ SiteID join Ú©Ø±Ø¯Ù‡ØŒ Ú©Ø´ÙˆØ± ÛŒÙˆÙ†Ø§Ù† Ø±Ø§ ÙÛŒÙ„ØªØ± Ú©Ø±Ø¯Ù‡ Ùˆ Ø¨Ø± Ø­Ø³Ø¨ a.Type Ú¯Ø±ÙˆÙ‡â€ŒØ¨Ù†Ø¯ÛŒ Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª. Ù…Ø¯Ù„ Ø§Ù…Ø§ Ú©ÙˆØ¦Ø±ÛŒâ€ŒØ§ÛŒ ØªÙˆÙ„ÛŒØ¯ Ú©Ø±Ø¯Ù‡ Ú©Ù‡ Ú†Ù†Ø¯ÛŒÙ† Ø§ÛŒØ±Ø§Ø¯ Ø³Ø§Ø®ØªØ§Ø±ÛŒ Ùˆ Ù…Ø¹Ù†Ø§ÛŒÛŒ Ù‡Ù…â€ŒØ²Ù…Ø§Ù† Ø¯Ø§Ø±Ø¯: Ù‡Ù… Ø§Ø² aliasÙ‡Ø§ Ø¨Ù‡â€ŒØµÙˆØ±Øª Ù†Ø§Ù…Ù†Ø¸Ù… Ùˆ Ù†Ø§Ø³Ø§Ø²Ú¯Ø§Ø± Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ø±Ø¯Ù‡ØŒ Ù‡Ù… join Ø±Ø§ Ø±ÙˆÛŒ Ø³ØªÙˆÙ†â€ŒÙ‡Ø§ÛŒ Ø§Ø´ØªØ¨Ø§Ù‡ Ø¨Ø³ØªÙ‡ØŒ Ù‡Ù… group by Ø±Ø§ Ø¨Ù‡ Ø´Ú©Ù„ÛŒ Ù†Ø§Ø¯Ø±Ø³Øª Ø¨Ù‡ Ú©Ø§Ø± Ø¨Ø±Ø¯Ù‡ØŒ Ùˆ Ù‡Ù… Ø­ØªÛŒ ÙÛŒÙ„Ø¯ÛŒ Ù…Ø§Ù†Ù†Ø¯ TotalQuantity Ø±Ø§ Ø§Ø¶Ø§ÙÙ‡ Ú©Ø±Ø¯Ù‡ Ú©Ù‡ Ø°Ø§ØªØ§ Ø¯Ø± schema ÙˆØ¬ÙˆØ¯ Ù†Ø¯Ø§Ø±Ø¯. Ø®Ø±ÙˆØ¬ÛŒ Ù…Ø¯Ù„ Ø§Ø² Ù†Ø¸Ø± Ø³Ø§Ø®ØªØ§Ø± SQL Ù…Ø¹ØªØ¨Ø± Ø¨Ù‡ Ù†Ø¸Ø± Ù…ÛŒâ€ŒØ±Ø³Ø¯ Ø§Ù…Ø§ Ø§Ø² Ù†Ø¸Ø± Ù…Ø¹Ù†ÛŒØŒ Ù†Ù‡ Ø¨Ø§ schema Ø³Ø§Ø²Ú¯Ø§Ø± Ø§Ø³Øª Ùˆ Ù†Ù‡ Ø¨Ø§ Ù…Ù†Ø·Ù‚ Ù…Ø³Ø¦Ù„Ù‡. Ú†Ù†ÛŒÙ† Ø®Ø·Ø§Ù‡Ø§ÛŒÛŒ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ú©Ù‡ Ù…Ø¯Ù„ Ø¯Ø± Ù…Ø¯ÛŒØ±ÛŒØª joinØŒ alias Ùˆ ØªØ·Ø¨ÛŒÙ‚ Ø¯Ù‚ÛŒÙ‚ schema Ø¨Ø§ Ù¾Ø±Ø³Ø´ Ù‡Ù…Ú†Ù†Ø§Ù† Ø´Ú©Ù†Ù†Ø¯Ù‡ Ø§Ø³Øª Ùˆ Ø¯Ø± Ø¨Ø³ÛŒØ§Ø±ÛŒ Ù…ÙˆØ§Ù‚Ø¹ Ø¨Ù‡â€ŒØ¬Ø§ÛŒ Ø¨Ø§Ø²Ø³Ø§Ø²ÛŒ Ø¯Ù‚ÛŒÙ‚ ÛŒÚ© Ø§Ù„Ú¯ÙˆÛŒ ØµØ­ÛŒØ­ØŒ ØªØ±Ú©ÛŒØ¨ÛŒ Ø§Ø² Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø¯ÛŒØ¯Ù‡â€ŒØ´Ø¯Ù‡ Ø¯Ø± Ù¾ÛŒØ´â€ŒØ¢Ù…ÙˆØ²Ø´ Ø±Ø§ Ø¨Ù‡â€ŒØµÙˆØ±Øª Ú©Ù†Ø§Ø±Ù‡Ù…â€ŒÚ†ÛŒÙ†ÛŒ ØªØµØ§Ø¯ÙÛŒ ØªÙˆÙ„ÛŒØ¯ Ù…ÛŒâ€ŒÚ©Ù†Ø¯.
<br>
Ø¯Ø± Ù…Ø«Ø§Ù„ Ù¾Ù†Ø¬Ù…ØŒ Ù…Ø¯Ù„ Ø¨Ø®Ø´ÛŒ Ø§Ø² Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ø®ÙˆØ§Ø³ØªÙ‡â€ŒØ´Ø¯Ù‡ Ø±Ø§ Ø¯Ø±Ú© Ú©Ø±Ø¯Ù‡ Ø§Ù…Ø§ Ø´Ø±Ø· Ø§ØµÙ„ÛŒ Ù…Ø³Ø¦Ù„Ù‡ Ø±Ø§ Ù†Ø§Ø¯ÛŒØ¯Ù‡ Ú¯Ø±ÙØªÙ‡ Ø§Ø³Øª. Ù¾Ø±Ø³Ø´ ØµØ±Ø§Ø­ØªØ§ Ø¯Ø±Ø¨Ø§Ø±Ù‡â€ŒÛŒ ÙØ±ÙˆØ´ Ø®ÙˆØ¯Ø±ÙˆÙ‡Ø§ÛŒ Ø¨Ø±Ù‚ÛŒ Ø¯Ø± Ø¢Ù„Ù…Ø§Ù† Ùˆ Ø¨Ø±ÛŒØªØ§Ù†ÛŒØ§ Ø§Ø² Ø³Ø§Ù„ Û²Û°Û²Û° Ø¨Ù‡ Ø¨Ø¹Ø¯ Ø§Ø³ØªØŒ ÙˆÙ„ÛŒ Ù…Ø¯Ù„ ØªÙ†Ù‡Ø§ Ù‚Ø³Ù…Øª Ù…Ø±Ø¨ÙˆØ· Ø¨Ù‡ Ú©Ø´ÙˆØ±Ù‡Ø§ÛŒ Germany Ùˆ UK Ø±Ø§ Ù„Ø­Ø§Ø¸ Ú©Ø±Ø¯Ù‡ Ùˆ Ø´Ø±Ø· year >= 2020 Ø±Ø§ Ø¨Ù‡â€ŒØ·ÙˆØ± Ú©Ø§Ù…Ù„ Ø­Ø°Ù Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª. Ø¯Ø± Ø¸Ø§Ù‡Ø±ØŒ Ø§Ø®ØªÙ„Ø§Ù Ù†Ø­ÙˆÛŒ Ø¨ÛŒÙ† IN Ùˆ (country = ... OR country = ...) Ú©Ù…â€ŒØ§Ù‡Ù…ÛŒØª Ø§Ø³ØªØŒ Ø§Ù…Ø§ Ø­Ø°Ù Ø´Ø±Ø· Ø³Ø§Ù„ Ø¨Ø§Ø¹Ø« Ù…ÛŒâ€ŒØ´ÙˆØ¯ Ø®Ø±ÙˆØ¬ÛŒ Ù…Ø¯Ù„ Ø¨Ù‡â€ŒØ·ÙˆØ± Ù…Ø¹Ù†ÛŒâ€ŒØ¯Ø§Ø±ÛŒ Ø¨Ø§ Ù†ÛŒØª Ù¾Ø±Ø³Ø´ ÙØ§ØµÙ„Ù‡ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´Ø¯ØŒ Ø¯Ø± Ø­Ø§Ù„ÛŒâ€ŒÚ©Ù‡ Ú©ÙˆØ¦Ø±ÛŒ Ø·Ù„Ø§ÛŒÛŒ Ø¯Ù‚ÛŒÙ‚Ø§ Ù‡Ù…ÛŒÙ† Ù‚ÛŒØ¯ Ø±Ø§ Ù‡Ø¯Ù Ú¯Ø±ÙØªÙ‡ Ø§Ø³Øª. Ø§ÛŒÙ† Ù†Ù…ÙˆÙ†Ù‡ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ú©Ù‡ Ø¯Ø± Ù¾Ø±Ø³Ø´â€ŒÙ‡Ø§ÛŒ Ú†Ù†Ø¯Ø´Ø±Ø·ÛŒØŒ Ù…Ø¯Ù„ Ø¨Ù‡â€ŒÙˆÛŒÚ˜Ù‡ Ø¯Ø± Ø§Ù†ØªØ®Ø§Ø¨ Ùˆ Ù†Ú¯Ù‡Ø¯Ø§Ø±ÛŒ ØªÙ…Ø§Ù… Ù‚ÛŒÙˆØ¯ Ù…Ø³Ø¦Ù„Ù‡ Ø¯Ú†Ø§Ø± Ù„ØºØ²Ø´ Ù…ÛŒâ€ŒØ´ÙˆØ¯.
<br>
Ø¯Ø± Ù…Ø¬Ù…ÙˆØ¹ØŒ Ø§ÛŒÙ† Ù¾Ù†Ø¬ Ù…Ø«Ø§Ù„ ØªØµÙˆÛŒØ±ÛŒ Ù†Ø³Ø¨ØªØ§ Ø´ÙØ§Ù Ø§Ø² Ø±ÙØªØ§Ø± Ù…Ø¯Ù„ Ø¨Ø±Ø§ÛŒ Text-to-SQL Ù…ÛŒâ€ŒØ³Ø§Ø²Ù†Ø¯. Ø¯Ø± Ú©ÙˆØ¦Ø±ÛŒâ€ŒÙ‡Ø§ÛŒ ØªÚ©â€ŒØ¬Ø¯ÙˆÙ„ÛŒ Ø³Ø§Ø¯Ù‡ Ú©Ù‡ ÙÙ‚Ø· ÛŒÚ© aggregation Ùˆ ÛŒÚ© Ø´Ø±Ø· Ù…Ø³ØªÙ‚ÛŒÙ… Ø¯Ø§Ø±Ù†Ø¯ØŒ Ù…Ø¯Ù„ Ú©Ø§Ù…Ù„Ø§ Ø®ÙˆØ¨ Ø¹Ù…Ù„ Ù…ÛŒâ€ŒÚ©Ù†Ø¯ Ùˆ Ù‡Ù… syntax Ùˆ Ù‡Ù… semantics Ø±Ø§ Ø¯Ø±Ø³Øª Ù…ÛŒâ€ŒØ³Ø§Ø²Ø¯. Ø§Ù…Ø§ Ø¯Ø± Ù¾Ø±Ø³Ø´â€ŒÙ‡Ø§ÛŒÛŒ Ú©Ù‡ Ù†ÛŒØ§Ø² Ø¨Ù‡ reasoning Ø³Ø·Ø­ Ø¨Ø§Ù„Ø§ØªØ± Ø¯Ø§Ø±Ù†Ø¯ØŒ Ù…Ø«Ù„ ØªØ´Ø®ÛŒØµ Ù…ÙÙ‡ÙˆÙ… Ú†Ù†Ø¯ Ø´Ù‡Ø±ØŒ Ù…Ø¯ÛŒØ±ÛŒØª join Ø¨ÛŒÙ† Ø¬Ø¯Ø§ÙˆÙ„ØŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ ØµØ­ÛŒØ­ Ø§Ø² alias Ùˆ Ù¾ÛŒØ§Ø¯Ù‡â€ŒØ³Ø§Ø²ÛŒ group byØŒ Ù…Ø¯Ù„ Ø¯Ú†Ø§Ø± Ø§Ø®ØªÙ„Ø§Ù„ Ù…ÛŒâ€ŒØ´ÙˆØ¯ Ùˆ ØªÙ…Ø§ÛŒÙ„ Ø¯Ø§Ø±Ø¯ Ø³Ø§Ø®ØªØ§Ø± Ù…Ø³Ø¦Ù„Ù‡ Ø±Ø§ Ø¨ÛŒØ´ Ø§Ø² Ø­Ø¯ Ø³Ø§Ø¯Ù‡ Ú©Ù†Ø¯ ÛŒØ§ Ø¨Ø®Ø´â€ŒÙ‡Ø§ÛŒÛŒ Ø±Ø§ Ø¨ÛŒâ€ŒÙ…Ù†Ø·Ù‚ Ø§Ø¶Ø§ÙÙ‡ Ùˆ Ø­Ø°Ù Ú©Ù†Ø¯. Ø§ÛŒÙ† Ø±ÙØªØ§Ø± Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ú©Ù‡ BART Ø¯Ø± Ø§ÛŒÙ† Ø³Ø·Ø­ Ø¢Ù…ÙˆØ²Ø´ØŒ Ù‡Ù†ÙˆØ² ØªØ±Ø¬Ù…Ù‡â€ŒÛŒ Ø³Ø§Ø®ØªØ§Ø±ÛŒØ§ÙØªÙ‡â€ŒÛŒ Ø³ÙˆØ§Ù„ Ø¨Ù‡ SQL Ø±Ø§ Ø¨Ù‡ Ø´Ú©Ù„ Ú©Ø§Ù…Ù„ ÛŒØ§Ø¯ Ù†Ú¯Ø±ÙØªÙ‡ Ùˆ Ø¯Ø± Ø¨Ø³ÛŒØ§Ø±ÛŒ Ù…ÙˆØ§Ø±Ø¯ Ø¨Ø± Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø³Ø·Ø­ÛŒ ØªÚ©ÛŒÙ‡ Ù…ÛŒâ€ŒÚ©Ù†Ø¯. Ø¨Ø§ Ø§ÛŒÙ† Ø­Ø§Ù„ØŒ Ù†ØªØ§ÛŒØ¬ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ù†Ø¯ Ú©Ù‡ Ù…Ø¯Ù„ Ø¯Ø± Ø¨Ø®Ø´â€ŒÙ‡Ø§ÛŒÛŒ Ø§Ø² Ù…Ø³Ø¦Ù„Ù‡ ØªÙˆØ§Ù†Ø§ÛŒÛŒ Ø¯Ø§Ø±Ø¯ Ùˆ Ø¨Ø§ Ø¢Ù…ÙˆØ²Ø´ Ø¨ÛŒØ´ØªØ± ÛŒØ§ constraintÙ‡Ø§ÛŒ Ø³Ø®Øªâ€ŒÚ¯ÛŒØ±Ø§Ù†Ù‡â€ŒØªØ± Ø¯Ø± Ø²Ù…Ø§Ù† decode Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø¹Ù…Ù„Ú©Ø±Ø¯ Ù¾Ø§ÛŒØ¯Ø§Ø±ØªØ±ÛŒ Ø§Ø±Ø§Ø¦Ù‡ Ø¯Ù‡Ø¯.
</div>

## <div style="text-align: center; direction: rtl; font-family: Vazir;">Ø¨Ø®Ø´ Ø³ÙˆÙ…: Ø¢Ù…ÙˆØ²Ø´ Ù…Ø¯Ù„ Decoder-only (GPT-2) (Û±Ûµ Ù†Ù…Ø±Ù‡)</div>

<div dir="rtl" style="text-align: right; padding:10px; background-color:#6B7280;  border-radius: 12px; border: 2px solid rgb(2, 34, 22); font-family: Vazir;">
<p style="line-height: 1.8; text-align: right;">
Ø¯Ø± Ø§ÛŒÙ† Ø¨Ø®Ø´ ØªØ³Ú© Text-to-SQL Ø±Ø§ Ø¨Ø§ Ù…Ø¹Ù…Ø§Ø±ÛŒ GPT-2 Ù¾ÛŒØ§Ø¯Ù‡â€ŒØ³Ø§Ø²ÛŒ Ù…ÛŒâ€ŒÚ©Ù†ÛŒØ¯. Ø§Ø¨ØªØ¯Ø§ Ù‚Ø§Ù„Ø¨ ÙˆØ±ÙˆØ¯ÛŒ Ù…Ù†Ø§Ø³Ø¨ Ø¨Ø±Ø§ÛŒ Ù…Ø¯Ù„â€ŒÙ‡Ø§ÛŒ decoder-only Ø·Ø±Ø§Ø­ÛŒ Ú©Ù†ÛŒØ¯ØŒ Ø¨Ù‡â€ŒØ·ÙˆØ±ÛŒâ€ŒÚ©Ù‡ Ù¾Ø±Ø³Ø´ Ùˆ schema Ø¨Ù‡â€ŒØµÙˆØ±Øª ÛŒÚ© prefix Ù…Ø´Ø®Øµ (Ù…Ø§Ù†Ù†Ø¯ question: â€¦ schema: â€¦ SQL:) Ø¨Ù‡ Ù…Ø¯Ù„ Ø¯Ø§Ø¯Ù‡ Ø´ÙˆÙ†Ø¯ Ùˆ Ù…Ø¯Ù„ Ø§Ø¯Ø§Ù…Ù‡ Ø¢Ù† Ø±Ø§ Ø¨Ù‡â€ŒØµÙˆØ±Øª SQL ØªÙˆÙ„ÛŒØ¯ Ú©Ù†Ø¯. Ø³Ù¾Ø³ ÛŒÚ© Dataset Ù…Ø®ØµÙˆØµ causal LM Ø¨Ø³Ø§Ø²ÛŒØ¯ Ú©Ù‡ full sequence (prefix + gold SQL + EOS) Ø±Ø§ ØªÙˆÙ„ÛŒØ¯ Ú©Ø±Ø¯Ù‡ Ùˆ Ø¨Ø®Ø´ prefix Ø±Ø§ Ø¯Ø± Ø¨Ø±Ú†Ø³Ø¨â€ŒÙ‡Ø§ mask Ú©Ù†Ø¯. Ù…Ø¯Ù„ GPT-2 Ø±Ø§ ÛŒÚ© epoch Ø¢Ù…ÙˆØ²Ø´ Ø¯Ù‡ÛŒØ¯ Ùˆ loss Ùˆ Ø²Ù…Ø§Ù† Ø§Ø¬Ø±Ø§ Ø±Ø§ Ú¯Ø²Ø§Ø±Ø´ Ú©Ù†ÛŒØ¯. Ù‡Ù†Ú¯Ø§Ù… Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒØŒ prefix Ø±Ø§ Ø§Ø² Ø®Ø±ÙˆØ¬ÛŒ Ø­Ø°Ù Ú©Ù†ÛŒØ¯ Ùˆ ØªÙ†Ù‡Ø§ SQL ØªÙˆÙ„ÛŒØ¯Ø´Ø¯Ù‡ Ø±Ø§ Ø¨Ø³Ù†Ø¬ÛŒØ¯. Ù…Ø¹ÛŒØ§Ø±Ù‡Ø§ÛŒ Raw EM Ùˆ Normalized EM Ø±Ø§ Ø±ÙˆÛŒ dev Ùˆ test Ú¯Ø²Ø§Ø±Ø´ Ú©Ø±Ø¯Ù‡ Ùˆ Ûµ Ù†Ù…ÙˆÙ†Ù‡ Ø§Ø² Ø®Ø±ÙˆØ¬ÛŒ Ù…Ø¯Ù„ Ø±Ø§ Ø¨Ø±Ø±Ø³ÛŒ Ùˆ ØªØ­Ù„ÛŒÙ„ Ú©Ù†ÛŒØ¯.
</p>
</div>

<p dir='rtl' style="line-height: 2.0; text-align: right; font-family: Vazir; font-size: 16px; margin-top: 20px; color: white; background-color:rgb(0, 40, 30); padding: 30px; border-radius: 8px;">
ğŸ¯ <b>Ø®Ø±ÙˆØ¬ÛŒ Ù…ÙˆØ±Ø¯ Ø§Ù†ØªØ¸Ø§Ø±:</b><br>
Ø®Ø±ÙˆØ¬ÛŒ Ù…ÙˆØ±Ø¯ Ø§Ù†ØªØ¸Ø§Ø± Ø§ÛŒÙ† Ø¨Ø®Ø´ØŒ ÛŒÚ© Ù…Ø¯Ù„ GPT-2 Ø¢Ù…ÙˆØ²Ø´â€ŒØ¯ÛŒØ¯Ù‡ Ùˆ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒâ€ŒØ´Ø¯Ù‡ Ø§Ø³Øª Ú©Ù‡ Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ù‚Ø§Ù„Ø¨ ÙˆØ±ÙˆØ¯ÛŒ Ù…Ø¨ØªÙ†ÛŒ Ø¨Ø± prefix Ù‚Ø§Ø¯Ø± Ø¨Ù‡ ØªÙˆÙ„ÛŒØ¯ SQL Ø¨ÙˆØ¯Ù‡ Ùˆ Ù…Ø¹ÛŒØ§Ø±Ù‡Ø§ÛŒ Raw EM Ùˆ Normalized EM Ø¢Ù† Ø±ÙˆÛŒ Ù…Ø¬Ù…ÙˆØ¹Ù‡â€ŒÙ‡Ø§ÛŒ dev Ùˆ test Ø¨Ù‡â€ŒØ¯Ø±Ø³ØªÛŒ Ù…Ø­Ø§Ø³Ø¨Ù‡ Ùˆ Ú¯Ø²Ø§Ø±Ø´ Ø´Ø¯Ù‡ Ø¨Ø§Ø´Ù†Ø¯.
</p>

In [34]:
from transformers import GPT2Tokenizer, GPT2LMHeadModel

In [35]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

print(device)

cuda

In [57]:
class TextToSQLGPT2Dataset(Dataset):
    def __init__(self, df, tokenizer, max_seq_len=512):
        self.df = df.reset_index(drop=True)

        self.tokenizer = tokenizer

        self.max_seq_len = max_seq_len

    def __len__(self):
        return len(self.df)


    def _build_prompt(self, question, schema):
        return f"Question: {question}\nSchema: {schema}\nSQL:"

    def __getitem__(self, idx):
        row = self.df.iloc[idx]

        question = row["question"]
        schema = row["schema"]
        query = row["query"]

        prefix = self._build_prompt(question, schema)

        full_text = prefix + " " + query + self.tokenizer.eos_token

        seq_encode = self.tokenizer(
            full_text,
            max_length=self.max_seq_len,
            truncation=True,
            padding="max_length",
            return_tensors="pt",
        )

        prefix_ids = self.tokenizer(
            prefix,
            add_special_tokens=False
        ).input_ids

        input_ids = seq_encode["input_ids"].squeeze(0)
        attention_mask = seq_encode["attention_mask"].squeeze(0)
        labels = input_ids.clone()

        len_prefix = min(len(prefix_ids), self.max_seq_len)
        labels[ : len_prefix] = -100

        return {
            "input_ids": input_ids,
            "attention_mask": attention_mask,
            "labels": labels,
        }

In [58]:
MODEL_NAME_GPT2 = "gpt2"

tokenizer_gpt2 = GPT2Tokenizer.from_pretrained(MODEL_NAME_GPT2)
tokenizer_gpt2.pad_token = tokenizer_gpt2.eos_token

model_gpt2 = GPT2LMHeadModel.from_pretrained(MODEL_NAME_GPT2)
model_gpt2.resize_token_embeddings(len(tokenizer_gpt2))
model_gpt2.to(device)

GPT2LMHeadModel(
  (transformer): GPT2Model(
    (wte): Embedding(50257, 768)
    (wpe): Embedding(1024, 768)
    (drop): Dropout(p=0.1, inplace=False)
    (h): ModuleList(
      (0-11): 12 x GPT2Block(
        (ln_1): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
        (attn): GPT2Attention(
          (c_attn): Conv1D(nf=2304, nx=768)
          (c_proj): Conv1D(nf=768, nx=768)
          (attn_dropout): Dropout(p=0.1, inplace=False)
          (resid_dropout): Dropout(p=0.1, inplace=False)
        )
        (ln_2): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
        (mlp): GPT2MLP(
          (c_fc): Conv1D(nf=3072, nx=768)
          (c_proj): Conv1D(nf=768, nx=3072)
          (act): NewGELUActivation()
          (dropout): Dropout(p=0.1, inplace=False)
        )
      )
    )
    (ln_f): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
  )
  (lm_head): Linear(in_features=768, out_features=50257, bias=False)
)

In [59]:
MAX_SEQ_LEN = 512

dataset_train = TextToSQLGPT2Dataset(df_train, tokenizer_gpt2, MAX_SEQ_LEN)
dataset_dev = TextToSQLGPT2Dataset(df_dev, tokenizer_gpt2, MAX_SEQ_LEN)
dataset_test = TextToSQLGPT2Dataset(df_test, tokenizer_gpt2, MAX_SEQ_LEN)

In [64]:
BATCH_SIZE = 4
TRAIN_EPOCHS = 1
LEARNING_RATE = 5e-5

training_args = TrainingArguments(
    output_dir="./gpt2_text2sql",
    num_train_epochs=TRAIN_EPOCHS,
    per_device_train_batch_size=BATCH_SIZE,
    per_device_eval_batch_size=BATCH_SIZE,
    learning_rate=LEARNING_RATE,
    weight_decay=0.01,
    warmup_ratio=0.05,
    fp16=False,
    logging_strategy="steps",
    logging_steps=100,
    report_to="none"
)

In [68]:
trainer = Trainer(
    model=model_gpt2,
    args=training_args,
    train_dataset=dataset_train,
    eval_dataset=dataset_dev,
    data_collator=default_data_collator,
    tokenizer=tokenizer_gpt2
)

/tmp/ipykernel_47/292046365.py:1: FutureWarning: `tokenizer` is deprecated and will be removed in version 5.0.0 for `Trainer.__init__`. Use `processing_class` instead.
  trainer = Trainer(

In [69]:
start_time = time.time()
train_result = trainer.train()
end_time = time.time()

final_train_loss = train_result.training_loss
train_metrics = train_result.metrics

print("\n=== Training Report ===")
print(f"\nFinal training loss: {final_train_loss}")
print("\nTraining time (seconds):", end_time - start_time)
print("\nTrain metrics:", train_metrics)
print("\nHyperparameters:")
print(f"  num_train_epochs: {training_args.num_train_epochs}")
print(f"  per_device_train_batch_size: {training_args.per_device_train_batch_size}")
print(f"  max_seq_len: {MAX_SEQ_LEN}")
print(f"  learning_rate: {training_args.learning_rate}")
print(f"  weight_decay: {training_args.weight_decay}")
print(f"  warmup_ratio: {training_args.warmup_ratio}")

=== Training Report ===

Final training loss: 0.11697582893371582

Training time (seconds): 2515.3521473407745

Train metrics: {'train_runtime': 2514.8833, 'train_samples_per_second': 7.953, 'train_steps_per_second': 1.988, 'total_flos': 5225840640000000.0, 'train_loss': 0.11697582893371582, 'epoch': 1.0}

Hyperparameters:
  num_train_epochs: 1
  per_device_train_batch_size: 4
  max_seq_len: 512
  learning_rate: 5e-05
  weight_decay: 0.01
  warmup_ratio: 0.05

In [83]:
def pred_sql(model, tokenizer, question, schema, max_new_toks=512):
    prefix = f"Question: {question}\nSchema: {schema}\nSQL:"

    prefix_encode = tokenizer(
        prefix,
        add_special_tokens=False,
        return_tensors="pt"
    ).to(model.device)

    input_ids = prefix_encode["input_ids"]
    attention_mask = prefix_encode["attention_mask"]

    with torch.no_grad():
        generated_ids = model.generate(
            input_ids=input_ids,
            attention_mask=attention_mask,
            max_new_tokens=max_new_toks,
            num_beams=4,
            pad_token_id=tokenizer.eos_token_id
        )

    continuation_ids = generated_ids[0][input_ids.shape[1] : ]

    pred_sqls = tokenizer.decode(
        continuation_ids,
        skip_special_tokens=True
    )

    return pred_sqls

In [85]:
def evaluate_gpt2(model, tokenizer, df, max_new_toks=512):
    raw_ems = []
    norm_ems = []

    for i, row in df.iterrows():
        question = row["question"]
        schema = row["schema"]
        label = row["query"]

        pred = pred_sql(model, tokenizer, question, schema, max_new_toks)

        raw_em, norm_em = compute_em_metrics(pred, label)

        raw_ems.append(raw_em)
        norm_ems.append(norm_em)

    raw_em_total = float(np.mean(raw_ems))
    norm_em_total = float(np.mean(norm_ems))

    return raw_em_total, norm_em_total

In [81]:
MAX_NEW_TOKS = 128

In [80]:
dev_raw_em, dev_norm_em = evaluate_gpt2(model_gpt2, tokenizer_gpt2, df_dev, MAX_NEW_TOKS)

print("=== Dev metrics ===\n")
print(f"Raw EM       : {dev_raw_em}")
print(f"Normalized EM: {dev_norm_em}")

=== Dev metrics ===

Raw EM       : 0.164
Normalized EM: 0.164

In [86]:
test_raw_em, test_norm_em = evaluate_gpt2(model_gpt2, tokenizer_gpt2, df_test, MAX_NEW_TOKS)

print("=== Test metrics ===\n")
print(f"Raw EM       : {test_raw_em}")
print(f"Normalized EM: {test_norm_em}")

=== Test metrics ===

Raw EM       : 0.1675
Normalized EM: 0.171

In [87]:
df_dev_sample = df_dev.sample(5, random_state=1).reset_index(drop=True)

print("=== Qualitative Analysis on 5 dev examples ===\n")
for i, row in df_dev_sample.iterrows():
    question = row["question"]
    schema = row["schema"]
    label = row["query"]

    pred = pred_sql(model_gpt2, tokenizer_gpt2, question, schema, MAX_NEW_TOKS)

    raw_em, norm_em = compute_em_metrics(pred, label)

    print(f"--- Example {i + 1}--- ")
    print("Question:")
    print(question)
    print("\nModel prediction SQL:")
    print(pred)
    print("\nGold SQL:")
    print(label)
    print(f"\nRaw EM     : {raw_em}")
    print(f"Normalized EM: {norm_em}")
    print("-" * 80 + "\n")

=== Qualitative Analysis on 5 dev examples ===

--- Example 1---
Question:
What is the average fine for traffic violations in the city of San Francisco?

Model prediction SQL:
 SELECT AVG(amount) FROM traffic_violations WHERE city = 'San Francisco';

Gold SQL:
SELECT AVG(amount) FROM traffic_violations WHERE city = 'San Francisco';

Raw EM     : 1
Normalized EM: 1
--------------------------------------------------------------------------------

--- Example 2---
Question:
Find artists who performed in multiple cities in 'artist_performances' table?

Model prediction SQL:
 SELECT DISTINCT artist_id, city_id FROM artist_performances WHERE date BETWEEN DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR) AND CURRENT_DATE;

Gold SQL:
SELECT artist_id, COUNT(DISTINCT city_id) as unique_cities FROM artist_performances GROUP BY artist_id HAVING COUNT(DISTINCT city_id) > 1;

Raw EM     : 0
Normalized EM: 0
--------------------------------------------------------------------------------

--- Example 3---
Question:
What are the artifact types and their quantities for excavation sites in Greece?

Model prediction SQL:
 SELECT ArtifactName, ArtifactType, ArtifactQuantity FROM ExcavationSite INNER JOIN Artifact ON ExcavationSite.SiteID = Artifact.SiteID INNER JOIN Artifact ON Artifact.SiteID = Artifact.SiteID INNER JOIN ExcavationSite ON Artifact.SiteID = ExcavationSite.SiteID INNER JOIN Artifact ON Artifact.SiteID = Artifact.SiteID INNER JOIN ExcavationSite ON Artifact.SiteID = ExcavationSite.SiteID WHERE ExcavationSite.Country = 'Greece';

Gold SQL:
SELECT a.Type, COUNT(a.ArtifactID) AS 'Artifact Count' FROM Artifact a JOIN ExcavationSite e ON a.SiteID = e.SiteID WHERE e.Country = 'Greece' GROUP BY a.Type;

Raw EM     : 0
Normalized EM: 0
--------------------------------------------------------------------------------

--- Example 4---
Question:
What is the total number of 'copper' reserves?

Model prediction SQL:
 SELECT SUM(total_quantity) FROM reserves_breakdown WHERE metal = 'copper';

Gold SQL:
SELECT SUM(total_quantity) FROM reserves_breakdown WHERE metal = 'copper';

Raw EM     : 1
Normalized EM: 1
--------------------------------------------------------------------------------

--- Example 5---
Question:
What is the total number of electric vehicles sold in Germany and the UK since 2020?

Model prediction SQL:
 SELECT SUM(sales) FROM ev_sales_eu WHERE country IN ('Germany', 'UK') AND year IN (2020);

Gold SQL:
SELECT SUM(sales) FROM ev_sales_eu WHERE (country = 'Germany' OR country = 'UK') AND year >= 2020;

Raw EM     : 0
Normalized EM: 0
--------------------------------------------------------------------------------

<div dir='rtl' style='background:#fffbe6; font-family: Vazir; border:1px dashed #f0ad4e; padding:12px; border-radius:8px; color:#111'>
âœï¸ <b>Ù¾Ø§Ø³Ø® ØªØ´Ø±ÛŒØ­ÛŒ:</b><br>
<br>
Ø·Ø¨Ù‚ Ù¾Ù†Ø¬ Ù†Ù…ÙˆÙ†Ù‡â€ŒÛŒ Ù…Ø´Ø§Ù‡Ø¯Ù‡â€ŒØ´Ø¯Ù‡ Ø¯Ø± Ù¾Ø§ÛŒØ§Ù†ØŒ Ø±ÙØªØ§Ø± GPT-2 Ø¯Ø± Ù…Ù‚Ø§ÛŒØ³Ù‡ Ø¨Ø§ BART Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ú©Ù‡ Ø§ÛŒÙ† Ù…Ø¯Ù„ Ø¯Ø± Ù…ÙˆØ§Ø¬Ù‡Ù‡ Ø¨Ø§ Ø³Ø§Ø®ØªØ§Ø±Ù‡Ø§ÛŒ Ø³Ø§Ø¯Ù‡â€ŒÛŒ Text-to-SQL Ø¹Ù…Ù„Ú©Ø±Ø¯ Ù‚Ø§Ø¨Ù„â€ŒÙ‚Ø¨ÙˆÙ„ÛŒ Ø¯Ø§Ø±Ø¯ØŒ Ø§Ù…Ø§ Ø¨Ù‡ Ù…Ø­Ø¶ Ø§ÛŒÙ†â€ŒÚ©Ù‡ Ù…Ù†Ø·Ù‚ Ø³ÙˆØ§Ù„ Ù¾ÛŒÚ†ÛŒØ¯Ù‡â€ŒØªØ± Ù…ÛŒâ€ŒØ´ÙˆØ¯ØŒ ØªÙˆÙ„ÛŒØ¯ Ø¢Ù† Ø­Ø§Ù„Øª Ø²Ø¨Ø§Ù†ÛŒ Ùˆ Ø§Ù„Ú¯ÙˆÛŒÛŒ Ù¾ÛŒØ¯Ø§ Ù…ÛŒâ€ŒÚ©Ù†Ø¯ Ùˆ Ø§Ø² Ø³Ø§Ø®ØªØ§Ø± ÙˆØ§Ù‚Ø¹ÛŒ schema ÙØ§ØµÙ„Ù‡ Ù…ÛŒâ€ŒÚ¯ÛŒØ±Ø¯. Ø¯Ø± Ù…Ø«Ø§Ù„ Ø§ÙˆÙ„ØŒ Ù¾Ø±Ø³Ø´ Ú©Ø§Ù…Ù„Ø§ Ù…Ø³ØªÙ‚ÛŒÙ… Ùˆ Ø§Ø² Ø¬Ù†Ø³ ÛŒÚ© Ú©ÙˆØ¦Ø±ÛŒ ØªØ¬Ù…ÛŒØ¹ÛŒ Ø³Ø§Ø¯Ù‡ Ø§Ø³Øª Ùˆ GPT-2 Ø¨Ø¯ÙˆÙ† Ù…Ø´Ú©Ù„ Ø§Ù„Ú¯ÙˆÛŒ SELECT AVG(...) FROM ... WHERE ... Ø±Ø§ ØªÚ©Ø±Ø§Ø± Ú©Ø±Ø¯Ù‡ Ùˆ Ø¯Ù‚ÛŒÙ‚Ø§ Ù‡Ù…Ø§Ù† Ú†ÛŒØ²ÛŒ Ø±Ø§ Ø³Ø§Ø®ØªÙ‡ Ú©Ù‡ Ø¯Ø± Ø¯Ø§Ø¯Ù‡â€ŒÛŒ Ø·Ù„Ø§ÛŒÛŒ Ø¢Ù…Ø¯Ù‡Ø› Ø¨Ù†Ø§Ø¨Ø±Ø§ÛŒÙ† Raw Ùˆ Normalized EM Ù‡Ø± Ø¯Ùˆ Ø¨Ø±Ø§Ø¨Ø± Û± Ø´Ø¯Ù‡â€ŒØ§Ù†Ø¯. Ø¯Ø± Ù…Ø«Ø§Ù„ Ú†Ù‡Ø§Ø±Ù… Ù‡Ù… Ù‡Ù…ÛŒÙ† Ø§Ù„Ú¯ÙˆÛŒ Ù…ÙˆÙÙ‚ Ø¯ÛŒØ¯Ù‡ Ù…ÛŒâ€ŒØ´ÙˆØ¯Ø› Ø³ÙˆØ§Ù„ ÙÙ‚Ø· ÛŒÚ© SUM Ø±ÙˆÛŒ ÛŒÚ© Ø¬Ø¯ÙˆÙ„ Ø¨Ø§ ÛŒÚ© Ø´Ø±Ø· Ø³Ø§Ø¯Ù‡â€ŒÛŒ equality Ø§Ø³Øª Ùˆ Ù…Ø¯Ù„ Ù†ÛŒØ² Ù‡Ù…ÛŒÙ† Ø³Ø§Ø®ØªØ§Ø± Ø±Ø§ Ø¯Ø±Ø³Øª ØªÙˆÙ„ÛŒØ¯ Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª. Ø§ÛŒÙ† Ù…ÙˆØ§Ø±Ø¯ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ù†Ø¯ Ú©Ù‡ GPT-2 Ø¯Ø± Ø¨Ø§Ø²ØªÙˆÙ„ÛŒØ¯ Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ù¾Ø±ØªÚ©Ø±Ø§Ø± SQLØŒ Ø¨Ù‡â€ŒÙˆÛŒÚ˜Ù‡ ÙˆÙ‚ØªÛŒ Ø¨Ø§ ÛŒÚ© prefix ÙˆØ§Ø¶Ø­ ØªØºØ°ÛŒÙ‡ Ù…ÛŒâ€ŒØ´ÙˆØ¯ØŒ Ù…Ø´Ú©Ù„ÛŒ Ù†Ø¯Ø§Ø±Ø¯ Ùˆ Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ù¾Ø±Ø³Ø´â€ŒÙ‡Ø§ÛŒÛŒ Ø¨Ø§ Ù¾ÛŒÚ†ÛŒØ¯Ú¯ÛŒ Ú©Ù… Ø±Ø§ Ø¨Ù‡â€ŒØ®ÙˆØ¨ÛŒ Ø¨Ù‡ SQL Ù…ØªÙ†Ø§Ø¸Ø± ØªØ±Ø¬Ù…Ù‡ Ú©Ù†Ø¯.
<br>
Ø§Ù…Ø§ Ù‡Ù…ÛŒÙ†â€ŒÚ©Ù‡ Ø³ÙˆØ§Ù„ Ø³Ø§Ø®ØªØ§Ø± Ù…Ù†Ø·Ù‚ÛŒ Ù¾ÛŒÚ†ÛŒØ¯Ù‡â€ŒØªØ±ÛŒ Ù¾ÛŒØ¯Ø§ Ù…ÛŒâ€ŒÚ©Ù†Ø¯ØŒ Ø¶Ø¹Ùâ€ŒÙ‡Ø§ÛŒ Ø¨Ù†ÛŒØ§Ø¯ÛŒ GPT-2 Ù†Ù…Ø§ÛŒØ§Ù† Ù…ÛŒâ€ŒØ´ÙˆÙ†Ø¯. Ù…Ø«Ø§Ù„ Ø¯ÙˆÙ… Ø¯Ø±Ø¨Ø§Ø±Ù‡â€ŒÛŒ Ù‡Ù†Ø±Ù…Ù†Ø¯Ø§Ù†ÛŒ Ø§Ø³Øª Ú©Ù‡ Ø¯Ø± Ú†Ù†Ø¯ Ø´Ù‡Ø± Ø§Ø¬Ø±Ø§ Ø¯Ø§Ø´ØªÙ‡â€ŒØ§Ù†Ø¯Ø› Ù…Ø³Ø¦Ù„Ù‡â€ŒØ§ÛŒ Ú©Ù‡ Ø°Ø§ØªØ§ Ø¨Ù‡ ÛŒÚ© group by Ø±ÙˆÛŒ artist_idØŒ ÛŒÚ© COUNT(DISTINCT city_id) Ùˆ ÛŒÚ© Ø´Ø±Ø· HAVING Ø¨Ø±Ø§ÛŒ Ù…Ø­Ø¯ÙˆØ¯ Ú©Ø±Ø¯Ù† Ù¾Ø§Ø³Ø®â€ŒÙ‡Ø§ Ù†ÛŒØ§Ø² Ø¯Ø§Ø±Ø¯. Ú©ÙˆØ¦Ø±ÛŒ Ø·Ù„Ø§ÛŒÛŒ Ù‡Ù…ÛŒÙ† Ø§Ù„Ú¯Ùˆ Ø±Ø§ Ù¾ÛŒØ§Ø¯Ù‡ Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª. Ø¯Ø± Ù…Ù‚Ø§Ø¨Ù„ØŒ GPT-2 Ø¨Ù‡â€ŒØ¬Ø§ÛŒ Ø§ÛŒÙ† Ø³Ø§Ø®ØªØ§Ø±ØŒ ÛŒÚ© Ú©ÙˆØ¦Ø±ÛŒ Ø§Ø² Ø¬Ù†Ø³ DISTINCT Ù‡Ù…Ø±Ø§Ù‡ Ø¨Ø§ ÛŒÚ© ÙÛŒÙ„ØªØ± Ø²Ù…Ø§Ù†ÛŒ Ø³Ø§Ø®ØªÙ‡ Ø§Ø³ØªØ› ÛŒØ¹Ù†ÛŒ Ù†Ù‡ aggregation Ø§Ù†Ø¬Ø§Ù… Ø¯Ø§Ø¯Ù‡ØŒ Ù†Ù‡ group byØŒ Ùˆ Ù†Ù‡ Ú©ÙˆÚ†Ú©â€ŒØªØ±ÛŒÙ† Ø§Ø±ØªØ¨Ø§Ø·ÛŒ Ø¨Ø§ Ù…ÙÙ‡ÙˆÙ… Ø§Ø¬Ø±Ø§ Ø¯Ø± Ú†Ù†Ø¯ Ø´Ù‡Ø± Ø¨Ø±Ù‚Ø±Ø§Ø± Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª. Ø§ÛŒÙ† Ù†ÙˆØ¹ Ø§Ù†Ø­Ø±Ø§Ù Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ú©Ù‡ GPT-2 Ø¯Ø±Ú© Ø§Ø³ØªØ¯Ù„Ø§Ù„ÛŒ Ø¯Ø±Ø¨Ø§Ø±Ù‡â€ŒÛŒ Ø§Ø±ØªØ¨Ø§Ø· Ù¾Ø±Ø³Ø´ Ùˆ schema Ù†Ø¯Ø§Ø±Ø¯ Ùˆ Ø¨ÛŒØ´ØªØ± Ø¨Ø± Ø§Ø³Ø§Ø³ Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ù…ØªÙ†ÛŒ Ú©Ù‡ Ø¯Ø± Ù¾ÛŒØ´â€ŒØ¢Ù…ÙˆØ²Ø´ Ø¯ÛŒØ¯Ù‡ Ú†Ù†ÛŒÙ† Ø®Ø±ÙˆØ¬ÛŒâ€ŒÙ‡Ø§ÛŒÛŒ Ø±Ø§ Ù…ÛŒâ€ŒØ³Ø§Ø²Ø¯.
<br>
Ø¯Ø± Ù…Ø«Ø§Ù„ Ø³ÙˆÙ…ØŒ Ø§ÛŒÙ† ÙØ§ØµÙ„Ù‡ Ù…ÛŒØ§Ù† Ù†ÛŒØ§Ø² Ù…Ø³Ø¦Ù„Ù‡ Ùˆ Ø®Ø±ÙˆØ¬ÛŒ Ù…Ø¯Ù„ Ø´Ø¯ÛŒØ¯ØªØ± Ù…ÛŒâ€ŒØ´ÙˆØ¯. Ø³ÙˆØ§Ù„ Ø¨Ù‡â€ŒØ·ÙˆØ± Ù…Ø´Ø®Øµ Ø¯Ø±Ø¨Ø§Ø±Ù‡â€ŒÛŒ Ø§Ù†ÙˆØ§Ø¹ Ø¢Ø±ØªÛŒÙÚ©Øªâ€ŒÙ‡Ø§ Ùˆ ØªØ¹Ø¯Ø§Ø¯Ø´Ø§Ù† Ø¯Ø± Ø³Ø§ÛŒØªâ€ŒÙ‡Ø§ÛŒ Ø­ÙØ§Ø±ÛŒ ÛŒÙˆÙ†Ø§Ù† Ø§Ø³Øª. Ú©ÙˆØ¦Ø±ÛŒ Ø·Ù„Ø§ÛŒÛŒ Ø¨Ø§ ÛŒÚ© join ØªÙ…ÛŒØ² Ø¨ÛŒÙ† Artifact Ùˆ ExcavationSite Ùˆ ÛŒÚ© group by Ø¨Ø± Ø§Ø³Ø§Ø³ Ù†ÙˆØ¹ Ø¢Ø±ØªÛŒÙÚ©Øª Ø§ÛŒÙ† Ù‡Ø¯Ù Ø±Ø§ Ù…Ø­Ù‚Ù‚ Ù…ÛŒâ€ŒÚ©Ù†Ø¯. Ø§Ù…Ø§ GPT-2 Ø¨Ù‡â€ŒØ¬Ø§ÛŒ Ø§ÛŒÙ† Ø³Ø§Ø®ØªØ§Ø± Ø±ÙˆØ´Ù†ØŒ Ú†Ù†Ø¯ÛŒÙ† join ØªÚ©Ø±Ø§Ø±ÛŒ Ùˆ Ø¨ÛŒâ€ŒØ§Ø±ØªØ¨Ø§Ø· ØªÙˆÙ„ÛŒØ¯ Ú©Ø±Ø¯Ù‡ØŒ aliasÙ‡Ø§ Ø±Ø§ Ø¨Ù‡â€ŒØµÙˆØ±Øª Ù†Ø§Ø³Ø§Ø²Ú¯Ø§Ø± Ùˆ Ú†Ù†Ø¯Ø¨Ø§Ø±Ù‡ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ø±Ø¯Ù‡ Ùˆ Ø³ØªÙˆÙ†â€ŒÙ‡Ø§ÛŒÛŒ Ù…Ø§Ù†Ù†Ø¯ ArtifactName Ùˆ ArtifactQuantity Ø±Ø§ ÙˆØ§Ø±Ø¯ Ú©ÙˆØ¦Ø±ÛŒ Ú©Ø±Ø¯Ù‡ Ú©Ù‡ Ø¯Ø± ØµÙˆØ±Øª Ø³ÙˆØ§Ù„ Ùˆ Ú©ÙˆØ¦Ø±ÛŒ Ø·Ù„Ø§ÛŒÛŒ ÙˆØ¬ÙˆØ¯ Ù†Ø¯Ø§Ø±Ù†Ø¯. Ø®Ø±ÙˆØ¬ÛŒ Ø­Ø§ØµÙ„ Ø¹Ù…Ù„Ø§ ØªØ±Ú©ÛŒØ¨ÛŒ Ø§Ø² Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ SQL Ø¢Ø´Ù†Ø§Ø³Øª Ú©Ù‡ Ø¨Ø¯ÙˆÙ† Ø¯Ø±Ú© ÙˆØ§Ù‚Ø¹ÛŒ Ø§Ø² schema Ø¨Ù‡ Ù‡Ù… Ú†Ø³Ø¨ÛŒØ¯Ù‡â€ŒØ§Ù†Ø¯Ø› Ù†Ù…ÙˆÙ†Ù‡â€ŒØ§ÛŒ Ù…Ø´Ø®Øµ Ø§Ø² Ø§Ø´ØªØ¨Ø§Ù‡ Ø³Ø§Ø®ØªØ§Ø±ÛŒ Ú©Ù‡ Ø¯Ø± Ù…Ø¯Ù„â€ŒÙ‡Ø§ÛŒ ØµØ±ÙØ§ Ø¯ÛŒÚ©ÙˆØ¯Ø± Ø²ÛŒØ§Ø¯ Ø¯ÛŒØ¯Ù‡ Ù…ÛŒâ€ŒØ´ÙˆØ¯.
<br>
Ø¯Ø± Ù…Ø«Ø§Ù„ Ù¾Ù†Ø¬Ù…ØŒ GPT-2 ØªÙˆØ§Ù†Ø³ØªÙ‡ Ø¨Ø®Ø´ÛŒ Ø§Ø² Ù…Ø³Ø¦Ù„Ù‡ Ø±Ø§ Ø¨Ù‡â€ŒØ¯Ø±Ø³ØªÛŒ Ø¯Ø±Ú© Ú©Ù†Ø¯Ø› Ø´Ø±Ø· Ú©Ø´ÙˆØ±Ù‡Ø§ Ø±Ø§ Ø¨Ø§ IN Ù¾ÛŒØ§Ø¯Ù‡ Ú©Ø±Ø¯Ù‡ Ùˆ Ø³Ø§Ø®ØªØ§Ø± WHERE Ú©Ù„ÛŒ Ù‚Ø§Ø¨Ù„â€ŒÙ‚Ø¨ÙˆÙ„ Ø§Ø³Øª. Ø§Ù…Ø§ Ø´Ø±Ø· Ø§ØµÙ„ÛŒ Ø³ÙˆØ§Ù„ ÛŒØ¹Ù†ÛŒ year >= 2020 Ø±Ø§ ÛŒØ§ Ø¯Ø±Ú© Ù†Ú©Ø±Ø¯Ù‡ ÛŒØ§ Ù†ØªÙˆØ§Ù†Ø³ØªÙ‡ Ø¯Ø±Ø³Øª ØªØ±Ø¬Ù…Ù‡ Ú©Ù†Ø¯ Ùˆ Ø¯Ø± Ø¹ÙˆØ¶ year IN (2020) Ø±Ø§ Ø³Ø§Ø®ØªÙ‡ Ø§Ø³ØªØ› Ø´Ø±Ø·ÛŒ Ú©Ù‡ ÙÙ‚Ø· ÛŒÚ© Ø³Ø§Ù„ Ø±Ø§ Ù¾ÙˆØ´Ø´ Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ùˆ Ù‡ÛŒÚ†â€ŒÛŒÚ© Ø§Ø² Ø³Ø§Ù„â€ŒÙ‡Ø§ÛŒ Ø¨Ø¹Ø¯ Ø±Ø§ Ø´Ø§Ù…Ù„ Ù†Ù…ÛŒâ€ŒØ´ÙˆØ¯. Ø§ÛŒÙ† Ù†Ù…ÙˆÙ†Ù‡ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ú©Ù‡ Ù…Ø¯Ù„ Ø­ØªÛŒ ÙˆÙ‚ØªÛŒ Ø¨Ù‡ Ø³Ø§Ø®ØªØ§Ø± Ú©Ù„ÛŒ Ù†Ø²Ø¯ÛŒÚ© Ù…ÛŒâ€ŒØ´ÙˆØ¯ØŒ Ø¯Ø± Ø§Ù†ØªØ®Ø§Ø¨ Ø§Ù¾Ø±Ø§ØªÙˆØ±Ù‡Ø§ÛŒ Ø¯Ø±Ø³Øª Ø¨Ø±Ø§ÛŒ Ø¨ÛŒØ§Ù† Ø¨Ø§Ø²Ù‡â€ŒÙ‡Ø§ Ø¶Ø¹Ù Ø¯Ø§Ø±Ø¯ Ùˆ ØªØ±Ø¬ÛŒØ­ Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ ÙØ±Ù… Ø¢Ø´Ù†Ø§ØªØ± IN Ø±Ø§ Ø¬Ø§ÛŒÚ¯Ø²ÛŒÙ† ÛŒÚ© Ø´Ø±Ø· Ø¨Ø§Ø²Ù‡â€ŒØ§ÛŒ Ú©Ù†Ø¯.
<br>
Ø¯Ø± Ù…Ø¬Ù…ÙˆØ¹ØŒ Ø§ÛŒÙ† Ù¾Ù†Ø¬ Ù…Ø«Ø§Ù„ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ù†Ø¯ Ú©Ù‡ GPT-2 Ø¯Ø± Ú©ÙˆØ¦Ø±ÛŒâ€ŒÙ‡Ø§ÛŒ Ø³Ø§Ø¯Ù‡ Ùˆ ØªÚ©â€ŒØ¬Ø¯ÙˆÙ„ÛŒ Ø¹Ù…Ù„Ú©Ø±Ø¯ Ù…Ø¹Ù‚ÙˆÙ„ÛŒ Ø¯Ø§Ø±Ø¯ Ùˆ Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ù…Ø³ØªÙ‚ÛŒÙ… SQL Ø±Ø§ Ø§Ø² Ø±ÙˆÛŒ prefix Ø§Ø¯Ø§Ù…Ù‡ Ø¯Ù‡Ø¯. Ø§Ù…Ø§ Ø¯Ø± Ù¾Ø±Ø³Ø´â€ŒÙ‡Ø§ÛŒÛŒ Ú©Ù‡ Ù†ÛŒØ§Ø² Ø¨Ù‡ reasoning Ø³Ø§Ø®ØªØ§Ø±ÛŒØŒ Ø§Ø±ØªØ¨Ø§Ø· Ø¯Ù‚ÛŒÙ‚ Ø¨Ø§ schemaØŒ Ù¾ÛŒØ§Ø¯Ù‡â€ŒØ³Ø§Ø²ÛŒ Ø¯Ø±Ø³Øª join ÛŒØ§ Ø§Ø³ØªÙØ§Ø¯Ù‡â€ŒÛŒ ØµØ­ÛŒØ­ Ø§Ø² aggregation Ùˆ group by Ø¯Ø§Ø±Ù†Ø¯ØŒ Ù…Ø¯Ù„ Ø¯Ú†Ø§Ø± Ø®Ø·Ø§Ù‡Ø§ÛŒ Ø§Ø³Ø§Ø³ÛŒ Ù…ÛŒâ€ŒØ´ÙˆØ¯. Ø®Ø±ÙˆØ¬ÛŒâ€ŒÙ‡Ø§ Ø¯Ø± Ø§ÛŒÙ† Ø´Ø±Ø§ÛŒØ· ÛŒØ§ Ø³Ø§Ø¯Ù‡â€ŒØ³Ø§Ø²ÛŒ Ø¨ÛŒØ´ Ø§Ø² Ø­Ø¯ Ù…Ø³Ø¦Ù„Ù‡ Ù‡Ø³ØªÙ†Ø¯ ÛŒØ§ ØªØ±Ú©ÛŒØ¨ÛŒ Ø§Ø² Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø²Ø¨Ø§Ù†ÛŒ Ø¢Ø´Ù†Ø§ Ú©Ù‡ Ù‡ÛŒÚ† Ù‡Ù…â€ŒØ®ÙˆØ§Ù†ÛŒ Ù…Ø¹Ù†Ø§ÛŒÛŒ Ø¨Ø§ Ù‡Ø¯Ù Ù¾Ø±Ø³Ø´ Ù†Ø¯Ø§Ø±Ù†Ø¯. Ø§ÛŒÙ† Ø±ÙØªØ§Ø± Ú©Ø§Ù…Ù„Ø§ Ù…Ø·Ø§Ø¨Ù‚ Ø§Ù†ØªØ¸Ø§Ø± Ø¨Ø±Ø§ÛŒ ÛŒÚ© Ù…Ø¹Ù…Ø§Ø±ÛŒ decoder-only Ø§Ø³Øª Ú©Ù‡ Ø¨Ù‡â€ŒØ¬Ø§ÛŒ ØªØ­Ù„ÛŒÙ„ ÙˆØ±ÙˆØ¯ÛŒØŒ ØªÙ†Ù‡Ø§ Ø§Ø¯Ø§Ù…Ù‡â€ŒÛŒ Ù…Ø­ØªÙ…Ù„â€ŒØªØ±ÛŒÙ† Ø±Ø´ØªÙ‡â€ŒÛŒ Ù…Ù…Ú©Ù† Ø±Ø§ ØªÙˆÙ„ÛŒØ¯ Ù…ÛŒâ€ŒÚ©Ù†Ø¯ Ùˆ Ø¨Ù†Ø§Ø¨Ø±Ø§ÛŒÙ† Ø¯Ø± ÙˆØ¸Ø§ÛŒÙ translationÚ¯ÙˆÙ†Ù‡â€ŒÛŒ Ø³Ø§Ø®ØªØ§Ø±ÛŒØ§ÙØªÙ‡ Ù…Ø«Ù„ Text-to-SQL Ø°Ø§ØªØ§ Ù…Ø­Ø¯ÙˆØ¯ØªØ± Ø§Ø² Ù…Ø¹Ù…Ø§Ø±ÛŒâ€ŒÙ‡Ø§ÛŒ encoderâ€“decoder Ø¸Ø§Ù‡Ø± Ù…ÛŒâ€ŒØ´ÙˆØ¯.
</div>

### <div style="text-align: center; direction: rtl; font-family: Vazir;">Ø¨Ø®Ø´ Ú†Ù‡Ø§Ø±Ù…: Ù…Ù‚Ø§ÛŒØ³Ù‡ Ùˆ ØªØ­Ù„ÛŒÙ„ Ù†Ù‡Ø§ÛŒÛŒ (Û±Û° Ù†Ù…Ø±Ù‡)</div>

<div dir="rtl" style="text-align: right; padding:10px; background-color:#6B7280;  border-radius: 12px; border: 2px solid rgb(2, 34, 22); font-family: Vazir;">
<p style="line-height: 1.8; text-align: right;">
Ø¯Ø± Ø§ÛŒÙ† Ø¨Ø®Ø´ Ø¨Ø§ÛŒØ¯ Ø¹Ù…Ù„Ú©Ø±Ø¯ BART Ùˆ GPT-2 Ø±Ø§ Ø§Ø² Ø¬Ù†Ø¨Ù‡â€ŒÙ‡Ø§ÛŒ Ù…Ø®ØªÙ„Ù Ù…Ù‚Ø§ÛŒØ³Ù‡ Ú©Ù†ÛŒØ¯. Ø¯Ø± ÛŒÚ© ØªØ­Ù„ÛŒÙ„ Ø¬Ø§Ù…Ø¹ ØªÙˆØ¶ÛŒØ­ Ø¯Ù‡ÛŒØ¯ Ú©Ù‡ Ù‡Ø± Ù…Ø¯Ù„ Ú†Ù‡ Ù†ÙˆØ¹ Ø®Ø·Ø§Ù‡Ø§ÛŒÛŒ Ø¯Ø§Ø±Ø¯ØŒ Ø¯Ø± Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² schema Ú†Ú¯ÙˆÙ†Ù‡ Ø¹Ù…Ù„ Ù…ÛŒâ€ŒÚ©Ù†Ø¯ Ùˆ Ø¯Ù„ÛŒÙ„ ØªÙØ§ÙˆØª Ø±ÙØªØ§Ø± Ø§ÛŒÙ† Ø¯Ùˆ Ù…Ø¹Ù…Ø§Ø±ÛŒ Ú†ÛŒØ³Øª. Ø¯Ø± Ù¾Ø§ÛŒØ§Ù†ØŒ Ø¬Ù…Ø¹â€ŒØ¨Ù†Ø¯ÛŒ Ù…Ø®ØªØµØ±ÛŒ Ø§Ø±Ø§Ø¦Ù‡ Ø¯Ù‡ÛŒØ¯ Ùˆ Ø¨ÛŒØ§Ù† Ú©Ù†ÛŒØ¯ Ø¯Ø± Ø´Ø±Ø§ÛŒØ· Ù…Ø®ØªÙ„Ù Ú©Ø¯Ø§Ù… Ø±ÙˆÛŒÚ©Ø±Ø¯ Ù…Ù†Ø§Ø³Ø¨â€ŒØªØ± Ø§Ø³Øª Ùˆ Ú†Ù‡ Ø¨Ù‡Ø¨ÙˆØ¯Ù‡Ø§ÛŒÛŒ Ù…ÛŒâ€ŒØªÙˆØ§Ù† Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ù…Ø¯Ù„ Ù¾ÛŒØ´Ù†Ù‡Ø§Ø¯ Ú©Ø±Ø¯.</p>
</div>

<p dir='rtl' style="line-height: 2.0; text-align: right; font-family: Vazir; font-size: 16px; margin-top: 20px; color: white; background-color:rgb(0, 40, 30); padding: 30px; border-radius: 8px;">
ğŸ¯ <b>Ø®Ø±ÙˆØ¬ÛŒ Ù…ÙˆØ±Ø¯ Ø§Ù†ØªØ¸Ø§Ø±:</b><br>
Ø®Ø±ÙˆØ¬ÛŒ Ù…ÙˆØ±Ø¯ Ø§Ù†ØªØ¸Ø§Ø± Ø§ÛŒÙ† Ø¨Ø®Ø´ØŒ ÛŒÚ© ØªØ­Ù„ÛŒÙ„ Ø¬Ø§Ù…Ø¹ Ùˆ Ù…Ù‚Ø§ÛŒØ³Ù‡â€ŒÙ…Ø­ÙˆØ± Ø§Ø³Øª Ú©Ù‡ Ø¯Ø± Ø¢Ù† Ø¹Ù…Ù„Ú©Ø±Ø¯ØŒ Ø®Ø·Ø§Ù‡Ø§ØŒ Ù†Ù‚Ø§Ø· Ù‚ÙˆØª Ùˆ Ø¶Ø¹Ù Ø¯Ùˆ Ù…Ø¯Ù„ BART Ùˆ GPT-2 Ø¨Ø± Ø§Ø³Ø§Ø³ Ù…Ø¹ÛŒØ§Ø±Ù‡Ø§ÛŒ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒØŒ Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ ØªÙˆÙ„ÛŒØ¯ÛŒ Ùˆ ØªÙØ§ÙˆØªâ€ŒÙ‡Ø§ÛŒ Ù…Ø¹Ù…Ø§Ø±ÛŒ Ø¨Ù‡â€ŒØ·ÙˆØ± Ø¯Ù‚ÛŒÙ‚ Ø¨Ø±Ø±Ø³ÛŒ Ùˆ Ø¬Ù…Ø¹â€ŒØ¨Ù†Ø¯ÛŒ Ø´Ø¯Ù‡ Ø¨Ø§Ø´Ø¯.
</p>

<div dir='rtl' style='background:#fffbe6; font-family: Vazir; border:1px dashed #f0ad4e; padding:12px; border-radius:8px; color:#111'>
âœï¸ <b>Ù¾Ø§Ø³Ø® ØªØ´Ø±ÛŒØ­ÛŒ:</b><br>
<br>
Ø·Ø¨Ù‚ Ù†ØªØ§ÛŒØ¬ Ø¨Ù‡â€ŒØ¯Ø³Øªâ€ŒØ¢Ù…Ø¯Ù‡ Ø§Ø² Ù‡Ø± Ø¯Ùˆ Ù…Ø¯Ù„ØŒ Ù‡Ù… Ø¯Ø± Ù…Ø¹ÛŒØ§Ø±Ù‡Ø§ÛŒ Ø¹Ø¯Ø¯ÛŒ Ùˆ Ù‡Ù… Ø¯Ø± Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ú©ÛŒÙÛŒØŒ ØªÙØ§ÙˆØª Ø±ÙØªØ§Ø± BART Ùˆ GPT-2 Ø¯Ø± Text-to-SQL Ú©Ø§Ù…Ù„Ø§ Ù‚Ø§Ø¨Ù„ Ù…Ø´Ø§Ù‡Ø¯Ù‡ Ø§Ø³Øª. Ø¯Ø± Ø³Ø·Ø­ Ú©Ù„ÛŒØŒ Ø§Ø¹Ø¯Ø§Ø¯ EM Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ù†Ø¯ Ú©Ù‡ Ù‡Ø± Ø¯Ùˆ Ù…Ø¯Ù„ Ù‡Ù…Ú†Ù†Ø§Ù† Ø§Ø² Ø³Ø·Ø­ Ø§ÛŒØ¯Ù‡â€ŒØ¢Ù„ ÙØ§ØµÙ„Ù‡ Ø¯Ø§Ø±Ù†Ø¯ØŒ Ø§Ù…Ø§ Ù…Ø¹Ù…Ø§Ø±ÛŒ Encoderâ€“Decoder Ø¯Ø± BART Ø§Ù†Ø¯Ú©ÛŒ Ù¾Ø§ÛŒØ¯Ø§Ø±ØªØ± Ùˆ Ø¯Ù‚ÛŒÙ‚â€ŒØªØ± Ø¹Ù…Ù„ Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª. Ø§Ù…ØªÛŒØ§Ø²Ù‡Ø§ÛŒ BART Ø±ÙˆÛŒ dev Ùˆ test Ø­Ø¯ÙˆØ¯ 0.19 Ø¨Ø±Ø§ÛŒ Raw EM Ùˆ Ø­Ø¯ÙˆØ¯ 0.196â€“0.198 Ø¨Ø±Ø§ÛŒ Normalized EM Ù‡Ø³ØªÙ†Ø¯ØŒ Ø¯Ø± Ø­Ø§Ù„ÛŒ Ú©Ù‡ GPT-2 Ø¯Ø± dev Ø­Ø¯ÙˆØ¯ 0.164 Ùˆ Ø¯Ø± test Ø­Ø¯ÙˆØ¯ 0.1675 Ù‚Ø±Ø§Ø± Ø¯Ø§Ø±Ø¯. Ø§Ø®ØªÙ„Ø§Ù Ø²ÛŒØ§Ø¯ Ù†ÛŒØ³ØªØŒ Ø§Ù…Ø§ Ø«Ø¨Ø§Øª BART Ø¯Ø± Ù‡Ø± Ø¯Ùˆ Ù…Ø¬Ù…ÙˆØ¹Ù‡â€ŒØ¯Ø§Ø¯Ù‡ Ú©Ù…ÛŒ Ø¨Ù‡ØªØ± Ø§Ø³Øª Ùˆ Ù‡Ù…ÛŒÙ† Ø§Ø®ØªÙ„Ø§Ù Ú©ÙˆÚ†Ú© Ù‡Ù… Ø¨Ø§ Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ú©ÛŒÙÛŒ Ú©Ø§Ù…Ù„Ø§ Ù‡Ù…â€ŒØ®ÙˆØ§Ù†ÛŒ Ø¯Ø§Ø±Ø¯.
<br>
Ø±ÙØªØ§Ø± BART Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ú©Ù‡ Ø§ÛŒÙ† Ù…Ø¯Ù„ Ø¯Ø± Ù…ÙˆØ§Ø¬Ù‡Ù‡ Ø¨Ø§ Ú©ÙˆØ¦Ø±ÛŒâ€ŒÙ‡Ø§ÛŒ Ø³Ø§Ø¯Ù‡â€ŒÛŒ ØªÚ©â€ŒØ¬Ø¯ÙˆÙ„ÛŒØŒ Ø¨Ù‡â€ŒØ®ÙˆØ¨ÛŒ Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ù†Ú¯Ø§Ø´Øª Ù…Ø³ØªÙ‚ÛŒÙ… Ø³ÙˆØ§Ù„ Ø¨Ù‡ SQL Ø±Ø§ Ø§Ø¬Ø±Ø§ Ú©Ù†Ø¯. Ø¯Ø± Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ØŒ Ø³ÙˆØ§Ù„Ø§ØªÛŒ Ù…Ø§Ù†Ù†Ø¯ Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† Ø¬Ø±ÛŒÙ…Ù‡ ÛŒØ§ Ù…Ø¬Ù…ÙˆØ¹ Ø°Ø®Ø§ÛŒØ± copper Ø¨Ø¯ÙˆÙ† Ø®Ø·Ø§ ØªÙˆÙ„ÛŒØ¯ Ø´Ø¯Ù‡â€ŒØ§Ù†Ø¯Ø› Ø¯Ù‚ÛŒÙ‚Ø§ Ù‡Ù…Ø§Ù†â€ŒØ·ÙˆØ± Ú©Ù‡ Ù…Ø¹ÛŒØ§Ø±Ù‡Ø§ÛŒ EM Ú©Ø§Ù…Ù„ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ù†Ø¯. Ø¨Ø§ Ø§ÛŒÙ† Ø­Ø§Ù„ØŒ ÙˆÙ‚ØªÛŒ Ø³Ø§Ø®ØªØ§Ø± Ø³ÙˆØ§Ù„ Ù¾ÛŒÚ†ÛŒØ¯Ù‡â€ŒØªØ± Ù…ÛŒâ€ŒØ´ÙˆØ¯ØŒ Ù…Ø«Ù„ Ù†ÛŒØ§Ø² Ø¨Ù‡ group byØŒ aggregationÙ‡Ø§ÛŒ ØªÙˆ Ø¯Ø± ØªÙˆØŒ Ø§Ù†ØªØ®Ø§Ø¨ ØµØ­ÛŒØ­ alias ÛŒØ§ Ù…Ø¯ÛŒØ±ÛŒØª join Ø¨ÛŒÙ† Ø¯Ùˆ Ø¬Ø¯ÙˆÙ„ØŒ BART Ø¯Ú†Ø§Ø± Ù„ØºØ²Ø´ Ù…ÛŒâ€ŒØ´ÙˆØ¯. Ø®Ø·Ø§Ù‡Ø§ÛŒ Ø¢Ù† Ù…Ø¹Ù…ÙˆÙ„Ø§ Ø§Ø² Ø¬Ù†Ø³ Ø³Ø§Ø¯Ù‡â€ŒØ³Ø§Ø²ÛŒ Ø¨ÛŒØ´ Ø§Ø² Ø­Ø¯ Ù…Ø³Ø¦Ù„Ù‡â€ŒØ§Ù†Ø¯Ø› Ù…Ø«Ù„Ø§ Ø¯Ø± Ù…Ø«Ø§Ù„ Ú†Ù†Ø¯ Ø´Ù‡Ø± Ø§Ø¬Ø±Ø§ØŒ Ú©Ù„ Ø³Ø§Ø²ÙˆÚ©Ø§Ø± group by Ùˆ having Ø±Ø§ Ú©Ù†Ø§Ø± Ù…ÛŒâ€ŒÚ¯Ø°Ø§Ø±Ø¯ Ùˆ ÛŒÚ© SELECT Ø³Ø§Ø¯Ù‡ ØªÙˆÙ„ÛŒØ¯ Ù…ÛŒâ€ŒÚ©Ù†Ø¯. ÛŒØ§ Ø¯Ø± Ù…Ø«Ø§Ù„ Ø¢Ø±ØªÛŒÙÚ©Øªâ€ŒÙ‡Ø§ØŒ Ø§Ú¯Ø±Ú†Ù‡ Ø³Ø§Ø®ØªØ§Ø± join Ø±Ø§ ØªØ´Ø®ÛŒØµ Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ùˆ Ø§Ø² Ù‡Ø± Ø¯Ùˆ Ø¬Ø¯ÙˆÙ„ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒâ€ŒÚ©Ù†Ø¯ØŒ Ø§Ù…Ø§ Ø¹Ù…Ù„Ø§ Ù…Ù†Ø·Ù‚ Ø³ÙˆØ§Ù„ Ø±Ø§ ØªØ§ Ø§Ù†ØªÙ‡Ø§ Ù†Ù…ÛŒâ€ŒØ¨Ù†Ø¯Ø¯ Ùˆ ÛŒØ§ aggregation Ùˆ group by Ø±Ø§ Ø§Ø´ØªØ¨Ø§Ù‡ Ù¾ÛŒØ§Ø¯Ù‡ Ù…ÛŒâ€ŒÚ©Ù†Ø¯. Ø§ÛŒÙ† Ù†ÙˆØ¹ Ø®Ø·Ø§Ù‡Ø§ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ù†Ø¯ Ú©Ù‡ BART schema Ø±Ø§ Ù…ÛŒâ€ŒØ¨ÛŒÙ†Ø¯ Ùˆ Ø§Ø² Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ø¢Ù† Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒâ€ŒÚ©Ù†Ø¯ØŒ Ø§Ù…Ø§ Ø±Ø§Ø¨Ø·Ù‡â€ŒÛŒ Ø¯Ù‚ÛŒÙ‚ Ø¨ÛŒÙ† Ø³ÙˆØ§Ù„ Ùˆ Ø³Ø§Ø®ØªØ§Ø± Ù¾Ø§ÛŒÚ¯Ø§Ù‡â€ŒØ¯Ø§Ø¯Ù‡ Ø±Ø§ Ù‡Ù…ÛŒØ´Ù‡ Ø¨Ù‡â€ŒØ·ÙˆØ± Ú©Ø§Ù…Ù„ Ø¨Ø§Ø²Ø³Ø§Ø²ÛŒ Ù†Ù…ÛŒâ€ŒÚ©Ù†Ø¯.
<br>
Ø¯Ø± Ù…Ù‚Ø§Ø¨Ù„ØŒ GPT-2 Ø¨Ù‡â€ŒØ¹Ù†ÙˆØ§Ù† ÛŒÚ© Ù…Ø¹Ù…Ø§Ø±ÛŒ Ú©Ø§Ù…Ù„Ø§ decoder-onlyØŒ Ø±ÙØªØ§Ø± Ù…ØªÙØ§ÙˆØªÛŒ Ø¯Ø§Ø±Ø¯. Ù…Ø«Ù„ BARTØŒ Ø¯Ø± Ú©ÙˆØ¦Ø±ÛŒâ€ŒÙ‡Ø§ÛŒ Ø³Ø§Ø¯Ù‡ Ø¹Ù…Ù„Ú©Ø±Ø¯ Ø¹Ø§Ù„ÛŒ Ø¯Ø§Ø±Ø¯ Ùˆ Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ù…ÙˆÙÙ‚ Ø¢Ù† Ú©Ø§Ù…Ù„Ø§ Ø¨ÛŒâ€ŒÙ†Ù‚Øµ Ù‡Ø³ØªÙ†Ø¯. Ø§Ù…Ø§ Ø¯Ø± Ú©ÙˆØ¦Ø±ÛŒâ€ŒÙ‡Ø§ÛŒ Ù¾ÛŒÚ†ÛŒØ¯Ù‡â€ŒØªØ±ØŒ Ù†ÙˆØ¹ Ø®Ø·Ø§Ù‡Ø§ÛŒØ´ Ø§Ø² Ø¬Ù†Ø³ Ø¯ÛŒÚ¯Ø±ÛŒ Ø§Ø³Øª: GPT-2 Ù…Ø¹Ù…ÙˆÙ„Ø§ Ø¨Ù‡ Ø³Ù…Øª Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø²Ø¨Ø§Ù†ÛŒ Ø¢Ø´Ù†Ø§ Ùˆ Ù¾Ø±ØªÚ©Ø±Ø§Ø± Ø§Ø² Ù¾ÛŒØ´â€ŒØ¢Ù…ÙˆØ²Ø´ Ù…ÛŒâ€ŒØ±ÙˆØ¯ØŒ Ø¨Ø¯ÙˆÙ† Ø¢Ù†â€ŒÚ©Ù‡ Ø¶Ø±ÙˆØ±ØªØ§ Ø§Ø² schema ÛŒØ§ Ù…Ù†Ø·Ù‚ Ù¾Ø±Ø³Ø´ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†Ø¯. Ø¯Ø± Ù…Ø«Ø§Ù„ Ù‡Ù†Ø±Ù…Ù†Ø¯Ø§Ù† Ø¨Ø§ Ø§Ø¬Ø±Ø§ Ø¯Ø± Ú†Ù†Ø¯ Ø´Ù‡Ø±ØŒ Ø¨Ù‡ Ø¬Ø§ÛŒ group by Ùˆ count(distinct)ØŒ ÛŒÚ© ÙÛŒÙ„ØªØ± Ø²Ù…Ø§Ù†ÛŒ Ø¨ÛŒâ€ŒØ±Ø¨Ø· Ø±ÙˆÛŒ date ØªÙˆÙ„ÛŒØ¯ Ú©Ø±Ø¯Ø› Ø¯Ø± Ù†Ù…ÙˆÙ†Ù‡â€ŒÛŒ Ù…Ø±Ø¨ÙˆØ· Ø¨Ù‡ Ø¢Ø±ØªÛŒÙÚ©Øªâ€ŒÙ‡Ø§ Ù‡Ù… ØªØ±Ú©ÛŒØ¨ÛŒ Ø§Ø² Ú†Ù†Ø¯ÛŒÙ† join ØªÚ©Ø±Ø§Ø±ÛŒ Ùˆ self-joinÙ‡Ø§ÛŒ Ø§Ø´ØªØ¨Ø§Ù‡ Ø³Ø§Ø®Øª Ú©Ù‡ Ø¹Ù…Ù„Ø§ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ù…Ø¯Ù„ Ø§Ø³Ú©ÛŒÙ…Ø§ÛŒ Ø¬Ø¯ÙˆÙ„ Ø±Ø§ Ø¯Ø±Ú© Ù†Ú©Ø±Ø¯Ù‡ Ùˆ ØµØ±ÙØ§ Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø²Ø¨Ø§Ù†ÛŒ SQL Ø±Ø§ Ø¨Ù‡â€ŒØµÙˆØ±Øª ØªØ±Ú©ÛŒØ¨ÛŒ Ø¨Ø§Ø²ØªÙˆÙ„ÛŒØ¯ Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª. Ø®Ø·Ø§ÛŒ GPT-2 Ø¨ÛŒØ´ØªØ± Ø´Ø¨ÛŒÙ‡ ØªØ±Ú©ÛŒØ¨ Ù†Ø§Ù…Ù†Ø¸Ù… Ù¾ØªØ±Ù†â€ŒÙ‡Ø§ÛŒ SQL Ø§Ø³Øª Ú©Ù‡ Ø§Ø² Ù†Ø¸Ø± Ù†Ø­ÙˆÛŒ Ù…Ø´Ø§Ø¨Ù‡ SQL Ø¨Ù‡â€ŒÙ†Ø¸Ø± Ù…ÛŒâ€ŒØ±Ø³Ø¯ Ø§Ù…Ø§ Ø§Ø² Ù†Ø¸Ø± Ù…Ù†Ø·Ù‚ÛŒ Ù†Ø§Ù‚Øµ ÛŒØ§ Ú©Ø§Ù…Ù„Ø§ Ø¨ÛŒâ€ŒØ±Ø¨Ø· Ø§Ø³Øª.
<br>
ØªÙØ§ÙˆØª Ø§ØµÙ„ÛŒ Ø§ÛŒÙ† Ø¯Ùˆ Ù…Ø¯Ù„ Ø¯Ø± Ù…Ø¹Ù…Ø§Ø±ÛŒ Ø¢Ù†â€ŒÙ‡Ø§ Ø±ÛŒØ´Ù‡ Ø¯Ø§Ø±Ø¯. Ø¯Ø± BARTØŒ encoder ÛŒÚ© Ù†Ù…Ø§ÛŒØ´ ØºÙ†ÛŒ Ø§Ø² Ø³ÙˆØ§Ù„ Ùˆ schema Ù…ÛŒâ€ŒØ³Ø§Ø²Ø¯ Ùˆ decoder Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø¯Ø± Ù‡Ø± Ù…Ø±Ø­Ù„Ù‡â€ŒÛŒ ØªÙˆÙ„ÛŒØ¯ØŒ Ø±ÙˆÛŒ Ø¨Ø®Ø´â€ŒÙ‡Ø§ÛŒ Ù…Ø®ØªÙ„Ù ÙˆØ±ÙˆØ¯ÛŒ ØªÙ…Ø±Ú©Ø² Ú©Ù†Ø¯. Ù‡Ù…ÛŒÙ† ØªÙˆØ¬Ù‡ Ø¯ÙˆØ³ÙˆÛŒÙ‡ Ø¨Ù‡ Ø³ÙˆØ§Ù„ Ùˆ Ø³Ø§Ø®ØªØ§Ø± Ù¾Ø§ÛŒÚ¯Ø§Ù‡â€ŒØ¯Ø§Ø¯Ù‡ Ø¨Ø§Ø¹Ø« Ù…ÛŒâ€ŒØ´ÙˆØ¯ BART Ø¯Ø±Ú© Ù†Ø³Ø¨ÛŒ Ø§Ø² Ø±Ø§Ø¨Ø·Ù‡â€ŒÛŒ Ø¨ÛŒÙ† Ø¢Ù†â€ŒÙ‡Ø§ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´Ø¯ØŒ Ø­ØªÛŒ Ø§Ú¯Ø± Ø®Ø±ÙˆØ¬ÛŒ Ù†Ù‡Ø§ÛŒÛŒ Ù‡Ù…ÛŒØ´Ù‡ Ø¯Ø±Ø³Øª Ù†Ø¨Ø§Ø´Ø¯. Ø¯Ø± GPT-2ØŒ ÙˆØ±ÙˆØ¯ÛŒ Ùˆ Ø®Ø±ÙˆØ¬ÛŒ ÛŒÚ© Ø¯Ù†Ø¨Ø§Ù„Ù‡â€ŒÛŒ ÙˆØ§Ø­Ø¯ Ù‡Ø³ØªÙ†Ø¯ Ùˆ Ù…Ø¯Ù„ Ù‡ÛŒÚ† Ø¨Ø®Ø´ Ù…Ø³ØªÙ‚Ù„ Ùˆ ØªØ®ØµØµÛŒ Ø¨Ø±Ø§ÛŒ Ø¯Ø±Ú© Ø³ÙˆØ§Ù„ Ù†Ø¯Ø§Ø±Ø¯Ø› ØªÙ†Ù‡Ø§ Ú©Ø§Ø±ÛŒ Ú©Ù‡ Ø§Ù†Ø¬Ø§Ù… Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ø§Ø¯Ø§Ù…Ù‡ Ø¯Ø§Ø¯Ù† Ù…ØªÙ† Ø§Ø³Øª. Ø¨Ù†Ø§Ø¨Ø±Ø§ÛŒÙ† ÙˆÙ‚ØªÛŒ Ù¾Ø±Ø³Ø´ Ù¾ÛŒÚ†ÛŒØ¯Ù‡ Ù…ÛŒâ€ŒØ´ÙˆØ¯ØŒ GPT-2 Ø¨Ù‡â€ŒØ¬Ø§ÛŒ Ø§Ø³ØªØ¯Ù„Ø§Ù„ØŒ Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø²Ø¨Ø§Ù†ÛŒ Ø¢Ø´Ù†Ø§ Ø±Ø§ Ø¨Ù‡â€ŒØµÙˆØ±Øª ØªØ¯Ø§Ø¹ÛŒâ€ŒÙˆØ§Ø± ØªÙˆÙ„ÛŒØ¯ Ù…ÛŒâ€ŒÚ©Ù†Ø¯ Ùˆ Ù‡Ù…ÛŒÙ† Ø¨Ø§Ø¹Ø« Ù…ÛŒâ€ŒØ´ÙˆØ¯ Ø¯Ø± Ù…Ø³Ø§Ø¦Ù„ Ú†Ù†Ø¯Ø¬Ø¯ÙˆÙ„ÛŒ ÛŒØ§ Ø´Ø§Ù…Ù„ aggregationÙ‡Ø§ÛŒ Ø®Ø§ØµØŒ Ø¹Ù…Ù„Ú©Ø±Ø¯Ø´ Ù†Ø§Ù…Ø·Ù…Ø¦Ù†â€ŒØªØ± Ø§Ø² BART Ø¨Ø§Ø´Ø¯.
<br>
Ø¯Ø± Ù…ÙˆØ±Ø¯ Ù†Ù‚Ø§Ø· Ù‚ÙˆØª Ø¯Ùˆ Ù…Ø¯Ù„ØŒ Ù‡Ø± Ø¯Ùˆ Ø§Ø² Ø§ÛŒÙ† Ø¬Ù‡Øª Ù‚Ø§Ø¨Ù„ ØªÙˆØ¬Ù‡â€ŒØ§Ù†Ø¯ Ú©Ù‡ Ø¯Ø± Ú©ÙˆØ¦Ø±ÛŒâ€ŒÙ‡Ø§ÛŒ Ø³Ø§Ø¯Ù‡ Ùˆ ØªÚ©â€ŒØ¬Ø¯ÙˆÙ„ÛŒ Ø¨Ø§ Ø³Ø§Ø®ØªØ§Ø± Ø®Ø·ÛŒ Ø¹Ù…Ù„Ú©Ø±Ø¯ Ø¨Ø³ÛŒØ§Ø± Ù¾Ø§ÛŒØ¯Ø§Ø±ÛŒ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ù†Ø¯ Ùˆ Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ù†Ø¯ Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ù¾Ø±ØªÚ©Ø±Ø§Ø± SQL Ø±Ø§ Ø¨Ù‡â€ŒØ®ÙˆØ¨ÛŒ Ø¨Ø§Ø²ØªÙˆÙ„ÛŒØ¯ Ú©Ù†Ù†Ø¯. BART Ø¨Ù‡â€ŒØ¯Ù„ÛŒÙ„ Ø¯Ø§Ø´ØªÙ† encoder Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ø³ÙˆØ§Ù„ Ùˆ schema Ø±Ø§ Ø¨Ù‡â€ŒØµÙˆØ±Øª Ù…Ù†Ø³Ø¬Ù… Ø¯Ø±Ú© Ú©Ù†Ø¯ Ùˆ Ø¯Ø± Ø¨Ø³ÛŒØ§Ø±ÛŒ Ø§Ø² Ù…ÙˆØ§Ø±Ø¯ØŒ Ø­ØªÛŒ Ø¯Ø± Ú©ÙˆØ¦Ø±ÛŒâ€ŒÙ‡Ø§ÛŒÛŒ Ú©Ù‡ ÛŒÚ© Ø³Ø·Ø­ Ø¨Ø§Ù„Ø§ØªØ± Ø§Ø² Ø³Ø§Ø¯Ú¯ÛŒ Ù‡Ø³ØªÙ†Ø¯ØŒ Ø³Ø§Ø®ØªØ§Ø± Ú©Ù„ÛŒ Ø¬Ø¯ÙˆÙ„â€ŒÙ‡Ø§ØŒ Ù†Ø§Ù… Ø³ØªÙˆÙ†â€ŒÙ‡Ø§ Ùˆ Ø³Ø±Ø¹Øª Ù†Ú¯Ø§Ø´Øª Ù¾Ø±Ø³Ø´ Ø¨Ù‡ SQL Ø±Ø§ Ø¨Ù‡ØªØ± Ø±Ø¹Ø§ÛŒØª Ú©Ù†Ø¯. GPT-2 Ù†ÛŒØ² Ø¯Ø± Ù…ØªÙˆÙ†ÛŒ Ú©Ù‡ Ø´Ø¨Ø§Ù‡Øª Ø²ÛŒØ§Ø¯ÛŒ Ø¨Ù‡ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ù¾ÛŒØ´â€ŒØ¢Ù…ÙˆØ²Ø´Ø´ Ø¯Ø§Ø±Ù†Ø¯ØŒ Ø®Ø±ÙˆØ¬ÛŒ Ø±ÙˆØ§Ù†ØŒ Ù†Ø­ÙˆÛŒ Ùˆ Ø§Ø² Ù†Ø¸Ø± Ø²Ø¨Ø§Ù†ÛŒ Ø³Ø§Ø²Ú¯Ø§Ø± ØªÙˆÙ„ÛŒØ¯ Ù…ÛŒâ€ŒÚ©Ù†Ø¯ Ùˆ Ø¯Ø± Ø¨Ø§Ø²ØªÙˆÙ„ÛŒØ¯ Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ syntax Ø¢Ø´Ù†Ø§ Ø¹Ù…Ù„Ú©Ø±Ø¯ Ú†Ø´Ù…â€ŒÚ¯ÛŒØ±ÛŒ Ø¯Ø§Ø±Ø¯. Ù‡Ø± Ø¯Ùˆ Ù…Ø¯Ù„ Ù‡Ù…Ú†Ù†ÛŒÙ† Ù‚Ø§Ø¯Ø±Ù†Ø¯ Ø¯Ø± Ø´Ø±Ø§ÛŒØ·ÛŒ Ú©Ù‡ Ù¾Ø±Ø³Ø´ Ùˆ schema Ø¨Ù‡â€ŒØµÙˆØ±Øª ÙˆØ§Ø¶Ø­ Ùˆ Ú©ÙˆØªØ§Ù‡ Ø¨ÛŒØ§Ù† Ø´Ø¯Ù‡ Ø¨Ø§Ø´Ù†Ø¯ØŒ Ø¨Ø§ Ø­Ø¯Ø§Ù‚Ù„ Ø¢Ù…ÙˆØ²Ø´ Ù†ÛŒØ² Ø¨Ù‡ Ú©Ø§Ø±Ø¨Ø±ÛŒ Ø¹Ù…Ù„ÛŒ Ù†Ø²Ø¯ÛŒÚ© Ø´ÙˆÙ†Ø¯.
<br>
Ø¯Ø± Ù…Ù‚Ø§Ø¨Ù„ØŒ Ù†Ù‚Ø§Ø· Ø¶Ø¹Ù Ù‡Ø± Ø¯Ùˆ Ù…Ø¯Ù„ Ø¹Ù…Ø¯ØªØ§ Ø²Ù…Ø§Ù†ÛŒ Ø¢Ø´Ú©Ø§Ø± Ù…ÛŒâ€ŒØ´ÙˆÙ†Ø¯ Ú©Ù‡ Ù…Ø³Ø¦Ù„Ù‡ Ù†ÛŒØ§Ø²Ù…Ù†Ø¯ Ø§Ø³ØªØ¯Ù„Ø§Ù„ Ø³Ø§Ø®ØªØ§Ø±ÛŒØŒ Ø§Ø³ØªÙØ§Ø¯Ù‡â€ŒÛŒ Ù¾ÛŒÚ†ÛŒØ¯Ù‡ Ø§Ø² schemaØŒ ÛŒØ§ Ù¾ÛŒØ§Ø¯Ù‡â€ŒØ³Ø§Ø²ÛŒ Ú©ÙˆØ¦Ø±ÛŒâ€ŒÙ‡Ø§ÛŒ Ú†Ù†Ø¯Ù…Ø±Ø­Ù„Ù‡â€ŒØ§ÛŒ Ø¨Ø§Ø´Ø¯. BART Ø¨Ø§ ÙˆØ¬ÙˆØ¯ Ø¯Ø±Ú© Ø¨Ù‡ØªØ± ÙˆØ±ÙˆØ¯ÛŒØŒ Ù‡Ù†ÙˆØ² Ø¯Ø± Ù‡Ù…Ø§Ù‡Ù†Ú¯ Ú©Ø±Ø¯Ù† ØªÙ…Ø§Ù… Ø§Ø¬Ø²Ø§ÛŒ Ú©ÙˆØ¦Ø±ÛŒØŒ aliasÙ‡Ø§ØŒ group byØŒ join Ùˆ Ø´Ø±ÙˆØ· Ú†Ù†Ø¯Ú¯Ø§Ù†Ù‡ØŒ Ø¯Ú†Ø§Ø± Ø®Ø·Ø§ÛŒ Ù…Ù†Ø·Ù‚ÛŒ Ù…ÛŒâ€ŒØ´ÙˆØ¯ Ùˆ Ú¯Ø§Ù‡ÛŒ Ù…Ø³Ø¦Ù„Ù‡ Ø±Ø§ Ø¨ÛŒØ´ Ø§Ø² Ø­Ø¯ Ø³Ø§Ø¯Ù‡ Ù…ÛŒâ€ŒÚ©Ù†Ø¯. GPT-2 Ù†ÛŒØ² Ø¨Ù‡â€ŒØ¯Ù„ÛŒÙ„ Ù†Ø¨ÙˆØ¯ encoderØŒ Ø¯Ø± Ù…ÙˆØ§Ø¬Ù‡Ù‡ Ø¨Ø§ Ù¾ÛŒÚ†ÛŒØ¯Ú¯ÛŒâ€ŒÙ‡Ø§ Ø¨Ù‡ Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø²Ø¨Ø§Ù†ÛŒ Ø¢Ø´Ù†Ø§ Ù¾Ù†Ø§Ù‡ Ù…ÛŒâ€ŒØ¨Ø±Ø¯ Ùˆ Ù‡Ù…ÛŒÙ† Ø¨Ø§Ø¹Ø« ØªÙˆÙ„ÛŒØ¯ joinÙ‡Ø§ÛŒ Ø¨ÛŒâ€ŒØ±Ø¨Ø·ØŒ Ø´Ø±ÙˆØ· Ø§Ø¶Ø§ÙÛŒ ÛŒØ§ Ø³Ø§Ø®ØªØ§Ø±Ù‡Ø§ÛŒ ØªÚ©Ø±Ø§Ø±ÛŒ Ùˆ Ù†Ø§Ø¯Ø±Ø³Øª Ù…ÛŒâ€ŒØ´ÙˆØ¯. Ù‡Ø± Ø¯Ùˆ Ù…Ø¯Ù„ Ø¨Ù‡â€ŒØ·ÙˆØ± Ú©Ù„ÛŒ Ù†Ø³Ø¨Øª Ø¨Ù‡ ØªÙ†ÙˆØ¹ Ø¨ÛŒØ§Ù† Ù…Ù†Ø·Ù‚ÛŒ Ø¯Ø± SQL Ø­Ø³Ø§Ø³â€ŒØ§Ù†Ø¯ Ùˆ Ø¹Ø¯Ù… ØªÙˆØ§Ø²Ù† Ù…ÛŒØ§Ù† Ø³ÙˆØ§Ù„ Ùˆ schema Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø®Ø±ÙˆØ¬ÛŒ Ø±Ø§ Ù†Ø§Ù…Ø¹ØªØ¨Ø± Ú©Ù†Ø¯. Ø¨Ù†Ø§Ø¨Ø±Ø§ÛŒÙ† Ø§Ú¯Ø±Ú†Ù‡ ØªÙˆØ§Ù†Ø§ÛŒÛŒâ€ŒÙ‡Ø§ÛŒ Ø§ÙˆÙ„ÛŒÙ‡â€ŒÛŒ Ø§ÛŒÙ† Ø¯Ùˆ Ù…Ø¯Ù„ Ù‚Ø§Ø¨Ù„ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø³ØªØŒ Ø§Ù…Ø§ Ø¨Ø±Ø§ÛŒ Ù…Ø³Ø§Ø¦Ù„ ÙˆØ§Ù‚Ø¹ÛŒ Ùˆ Ù¾ÛŒÚ†ÛŒØ¯Ù‡â€ŒÛŒ Text-to-SQL Ú©Ù‡ Ù†ÛŒØ§Ø²Ù…Ù†Ø¯ Ø¯Ù‚Øª Ù…Ø¹Ù†Ø§ÛŒÛŒ Ø¨Ø§Ù„Ø§ Ùˆ Ø§Ø³ØªØ¯Ù„Ø§Ù„ Ù…Ø¨ØªÙ†ÛŒ Ø¨Ø± schema Ù‡Ø³ØªÙ†Ø¯ØŒ Ù‡Ø± Ø¯Ùˆ Ù…Ø¯Ù„ Ù†ÛŒØ§Ø²Ù…Ù†Ø¯ ØªÙ‚ÙˆÛŒØªØŒ Ù…Ø­Ø¯ÙˆØ¯Ú©Ù†Ù†Ø¯Ù‡â€ŒÛŒ Ù†Ø­ÙˆÛŒ Ùˆ Ø±Ø§Ù‡Ø¨Ø±Ø¯Ù‡Ø§ÛŒ Ù¾ÛŒØ´Ø±ÙØªÙ‡â€ŒÛŒ decode Ù…ÛŒâ€ŒØ¨Ø§Ø´Ù†Ø¯.
<br>
Ø¯Ø± Ø¬Ù…Ø¹â€ŒØ¨Ù†Ø¯ÛŒØŒ Ø¨Ø±Ø§ÛŒ ÙˆØ¸Ø§ÛŒÙ Text-to-SQL Ú©Ù‡ Ø¨Ù‡ Ø§Ø³ØªÙØ§Ø¯Ù‡â€ŒÛŒ Ø¯Ù‚ÛŒÙ‚ Ø§Ø² schemaØŒ Ù…Ø¯ÛŒØ±ÛŒØª joinØŒ group by Ùˆ Ù†Ú¯Ø§Ø´Øª Ø³Ø§Ø®ØªØ§Ø±ÛŒØ§ÙØªÙ‡â€ŒÛŒ Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ù†ÛŒØ§Ø² Ø¯Ø§Ø±Ù†Ø¯ØŒ Ù…Ø¹Ù…Ø§Ø±ÛŒ Encoderâ€“Decoder Ù…Ø§Ù†Ù†Ø¯ BART Ù…Ù†Ø§Ø³Ø¨â€ŒØªØ± Ø§Ø³ØªØ› Ø²ÛŒØ±Ø§ Ø§Ø² Ù†Ø¸Ø± Ù…Ø¹Ù…Ø§Ø±ÛŒ ØªÙˆØ§Ù†Ø§ÛŒÛŒ Ù¾Ø±Ø¯Ø§Ø²Ø´ Ø¬Ø¯Ø§Ú¯Ø§Ù†Ù‡â€ŒÛŒ ÙˆØ±ÙˆØ¯ÛŒ Ùˆ Ø³Ù¾Ø³ ØªÙˆÙ„ÛŒØ¯ Ù…Ù†Ø³Ø¬Ù… Ø®Ø±ÙˆØ¬ÛŒ Ø±Ø§ Ø¯Ø§Ø±Ø¯. Ø¯Ø± Ù…Ù‚Ø§Ø¨Ù„ØŒ GPT-2 Ø¯Ø± Ø³ÙˆØ§Ù„Ø§Øª Ø³Ø§Ø¯Ù‡ Ùˆ Ø®Ø·ÛŒØŒ Ø¨Ù‡â€ŒÙˆÛŒÚ˜Ù‡ Ø²Ù…Ø§Ù†ÛŒ Ú©Ù‡ Ù…Ø¹Ø§Ø¯Ù„â€ŒØ´Ø§Ù† Ù…Ø³ØªÙ‚ÛŒÙ…Ø§ Ù‚Ø§Ø¨Ù„ Ø­Ø¯Ø³ Ø²Ø¯Ù† Ø§Ø² Ø±ÙˆÛŒ Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø²Ø¨Ø§Ù†ÛŒ Ø¨Ø§Ø´Ø¯ØŒ Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø¨Ù‡â€ŒØ®ÙˆØ¨ÛŒ Ø¹Ù…Ù„ Ú©Ù†Ø¯ØŒ Ø§Ù…Ø§ Ø¨Ø§ Ø§ÙØ²Ø§ÛŒØ´ Ù¾ÛŒÚ†ÛŒØ¯Ú¯ÛŒ Ù…Ù†Ø·Ù‚ Ø³ÙˆØ§Ù„ØŒ Ø§Ø­ØªÙ…Ø§Ù„ Ø®Ø·Ø§ Ùˆ ØªÙˆÙ„ÛŒØ¯ Ø³Ø§Ø®ØªØ§Ø±Ù‡Ø§ÛŒ Ù†Ø§Ù…Ø¹ØªØ¨Ø± Ø¯Ø± Ø¢Ù† Ø§ÙØ²Ø§ÛŒØ´ Ù¾ÛŒØ¯Ø§ Ù…ÛŒâ€ŒÚ©Ù†Ø¯. Ø¨Ø±Ø§ÛŒ Ø¨Ù‡Ø¨ÙˆØ¯ BARTØŒ Ù…ÛŒâ€ŒØªÙˆØ§Ù† Ø§Ø² Ø¢Ù…ÙˆØ²Ø´ Ø·ÙˆÙ„Ø§Ù†ÛŒâ€ŒØªØ±ØŒ Ù…Ø­Ø¯ÙˆØ¯Ú©Ù†Ù†Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ù†Ø­ÙˆÛŒ Ø¯Ø± decodingØŒ Ù…Ø¯Ù„â€ŒÙ‡Ø§ÛŒ Ø¯Ø³ØªÛŒØ§Ø± Ø¨Ø±Ø§ÛŒ Ø¨Ø±Ø±Ø³ÛŒ Ø³Ø§Ø²Ú¯Ø§Ø±ÛŒ schemaØŒ Ùˆ Ø±ÙˆØ´â€ŒÙ‡Ø§ÛŒÛŒ Ù…Ø«Ù„ PICARD Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ø±Ø¯. Ø¨Ø±Ø§ÛŒ GPT-2 Ù†ÛŒØ² Ù…ÛŒâ€ŒØªÙˆØ§Ù† prompting Ø¯Ù‚ÛŒÙ‚â€ŒØªØ±ØŒ Ù…Ø­Ø¯ÙˆØ¯ÛŒØªâ€ŒÙ‡Ø§ÛŒ Ø³Ø®Øªâ€ŒÚ¯ÛŒØ±Ø§Ù†Ù‡ Ø±ÙˆÛŒ Ø¯Ø³ØªÙˆØ± Ø²Ø¨Ø§Ù† SQLØŒ ÛŒØ§ ØªØ±Ú©ÛŒØ¨ Ø¢Ù† Ø¨Ø§ ÛŒÚ© Ù…Ø§Ú˜ÙˆÙ„ Ú©Ù†ØªØ±Ù„ÛŒ Ø¬Ù‡Øª Ø¬Ù„ÙˆÚ¯ÛŒØ±ÛŒ Ø§Ø² ØªÙˆÙ„ÛŒØ¯ Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø³Ø§Ø®ØªØ§Ø±ÛŒ ØºÙ„Ø· Ø±Ø§ Ù¾ÛŒØ´Ù†Ù‡Ø§Ø¯ Ø¯Ø§Ø¯. Ø¯Ø± Ù†Ù‡Ø§ÛŒØªØŒ Ø§Ú¯Ø± Ù‡Ø¯Ù Ú©Ø§Ø±Ø¨Ø±Ø¯ÛŒ Ùˆ Ù…Ù‚ÛŒØ§Ø³ Ø¨Ø²Ø±Ú¯ Ø¨Ø§Ø´Ø¯ØŒ Ù…Ø¹Ù…Ø§Ø±ÛŒ Encoderâ€“Decoder Ø¨Ù‡â€ŒØ·ÙˆØ± ØªØ¬Ø±Ø¨ÛŒ Ùˆ Ù…ÙÙ‡ÙˆÙ…ÛŒ Ú¯Ø²ÛŒÙ†Ù‡â€ŒÛŒ Ù…Ø¤Ø«Ø±ØªØ± Ùˆ Ù‚Ø§Ø¨Ù„â€ŒØ§Ø¹ØªÙ…Ø§Ø¯â€ŒØªØ±ÛŒ Ø§Ø³Øª.
</div>

# <h1 style="text-align: right;">**Ù†Ú©Ø§Øª Ù…Ù‡Ù… Ùˆ Ù‚ÙˆØ§Ù†ÛŒÙ† ØªØ­ÙˆÛŒÙ„**</h1>


<h4 dir="rtl" style="font-family: Vazir; width: 85%;">ÙØ§ÛŒÙ„ Ø§Ø±Ø³Ø§Ù„ÛŒ Ø´Ù…Ø§ Ø¨Ø§ÛŒØ¯ Ø¨Ø§ ÙØ±Ù…Øª Ø²ÛŒØ± Ù†Ø§Ù…Ú¯Ø°Ø§Ø±ÛŒ Ø´ÙˆØ¯: <code>NLP_CA4_Q1_{LASTNAME}_{STUDENTID}.ipynb</code></h4>
<h4 dir="rtl" style="font-family: Vazir; width: 85%;">Ù†Ø­ÙˆÙ‡ Ø§Ù†Ø¬Ø§Ù… ØªÙ…Ø±ÛŒÙ†:</h4>
<ul dir="rtl" style="font-family: Vazir; width: 85%; font-size: 16px;">
  <li>Ø³Ù„ÙˆÙ„â€ŒÙ‡Ø§ÛŒ Ú©Ø¯ Ø¨Ø§ Ø¨Ø±Ú†Ø³Ø¨ <code>WRITE YOUR CODE HERE</code> Ø±Ø§ ØªÚ©Ù…ÛŒÙ„ Ú©Ù†ÛŒØ¯.</li>
  <li>Ø¨Ø±Ø§ÛŒ Ù¾Ø§Ø³Ø®â€ŒÙ‡Ø§ÛŒ Ù…ØªÙ†ÛŒØŒ Ù…ØªÙ† <code>{{Ù¾Ø§Ø³Ø®_Ø®ÙˆØ¯_Ø±Ø§_Ø§ÛŒÙ†Ø¬Ø§_Ø¨Ù†ÙˆÛŒØ³ÛŒØ¯}}</code> Ø±Ø§ Ø¨Ø§ Ù¾Ø§Ø³Ø® Ø®ÙˆØ¯ Ø¬Ø§ÛŒÚ¯Ø²ÛŒÙ† Ú©Ù†ÛŒØ¯.</li>
</ul>
<h4 dir="rtl" style="font-family: Vazir; width: 85%;">ØµØ¯Ø§Ù‚Øª Ø¹Ù„Ù…ÛŒ:</h4> <ul dir="rtl" style="font-family: Vazir; width: 85%; font-size: 16px;"> <li>Ù…Ø§ Ù†ÙˆØªâ€ŒØ¨ÙˆÚ©â€ŒÙ‡Ø§ÛŒ ØªØ¹Ø¯Ø§Ø¯ Ù…Ø´Ø®ØµÛŒ Ø§Ø² Ø¯Ø§Ù†Ø´Ø¬ÙˆÛŒØ§Ù† Ú©Ù‡ Ø¨Ù‡ ØµÙˆØ±Øª ØªØµØ§Ø¯ÙÛŒ Ø§Ù†ØªØ®Ø§Ø¨ Ù…ÛŒâ€ŒØ´ÙˆÙ†Ø¯ØŒ Ø¨Ø±Ø±Ø³ÛŒ Ø®ÙˆØ§Ù‡ÛŒÙ… Ú©Ø±Ø¯. Ø§ÛŒÙ† Ø¨Ø±Ø±Ø³ÛŒâ€ŒÙ‡Ø§ Ø§Ø·Ù…ÛŒÙ†Ø§Ù† Ø­Ø§ØµÙ„ Ù…ÛŒâ€ŒÚ©Ù†Ù†Ø¯ Ú©Ù‡ Ú©Ø¯ÛŒ Ú©Ù‡ Ù†ÙˆØ´ØªÛŒØ¯ ÙˆØ§Ù‚Ø¹Ø§Ù‹ Ù¾Ø§Ø³Ø®â€ŒÙ‡Ø§ÛŒ Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ù†ÙˆØªâ€ŒØ¨ÙˆÚ© Ø´Ù…Ø§ Ø±Ø§ ØªÙˆÙ„ÛŒØ¯ Ù…ÛŒâ€ŒÚ©Ù†Ø¯. Ø§Ú¯Ø± Ù¾Ø§Ø³Ø®â€ŒÙ‡Ø§ÛŒ ØµØ­ÛŒØ­ Ø±Ø§ Ø¯Ø± Ù†ÙˆØªâ€ŒØ¨ÙˆÚ© Ø®ÙˆØ¯ Ø¨Ø¯ÙˆÙ† Ú©Ø¯ÛŒ Ú©Ù‡ ÙˆØ§Ù‚Ø¹Ø§Ù‹ Ø¢Ù† Ù¾Ø§Ø³Ø®â€ŒÙ‡Ø§ Ø±Ø§ ØªÙˆÙ„ÛŒØ¯ Ú©Ù†Ø¯ ØªØ­ÙˆÛŒÙ„ Ø¯Ù‡ÛŒØ¯ØŒ Ø§ÛŒÙ† ÛŒÚ© Ù…ÙˆØ±Ø¯ Ø¬Ø¯ÛŒ Ø§Ø² Ø¹Ø¯Ù… ØµØ¯Ø§Ù‚Øª Ø¹Ù„Ù…ÛŒ Ù…Ø­Ø³ÙˆØ¨ Ù…ÛŒâ€ŒØ´ÙˆØ¯.</li> <li>Ù…Ø§ Ù‡Ù…Ú†Ù†ÛŒÙ† Ø¨Ø±Ø±Ø³ÛŒâ€ŒÙ‡Ø§ÛŒ Ø®ÙˆØ¯Ú©Ø§Ø±ÛŒ Ø±Ø§ Ø¨Ø±Ø§ÛŒ ØªØ´Ø®ÛŒØµ Ø³Ø±Ù‚Øª Ø¹Ù„Ù…ÛŒ Ø¯Ø± Ù†ÙˆØªâ€ŒØ¨ÙˆÚ©â€ŒÙ‡Ø§ÛŒ Ú©ÙˆÙ„Ø¨ Ø§Ù†Ø¬Ø§Ù… Ø®ÙˆØ§Ù‡ÛŒÙ… Ø¯Ø§Ø¯. Ú©Ù¾ÛŒ Ú©Ø±Ø¯Ù† Ú©Ø¯ Ø§Ø² Ø¯ÛŒÚ¯Ø±Ø§Ù† Ù†ÛŒØ² ÛŒÚ© Ù…ÙˆØ±Ø¯ Ø¬Ø¯ÛŒ Ø§Ø² Ø¹Ø¯Ù… ØµØ¯Ø§Ù‚Øª Ø¹Ù„Ù…ÛŒ Ù…Ø­Ø³ÙˆØ¨ Ù…ÛŒâ€ŒØ´ÙˆØ¯.</li> </ul>
<h4 dir="rtl" style="font-family: Vazir; width: 85%;">ØªÙˆØ¶ÛŒØ­Ø§Øª ØªÚ©Ù…ÛŒÙ„ÛŒ:</h4> <ul dir="rtl" style="font-family: Vazir; width: 85%; font-size: 16px;">
<li>
Ø®ÙˆØ§Ù†Ø§ÛŒÛŒ Ùˆ Ø¯Ù‚Øª Ø¨Ø±Ø±Ø³ÛŒâ€ŒÙ‡Ø§ Ø¯Ø± Ú¯Ø²Ø§Ø±Ø´ Ù†Ù‡Ø§ÛŒÛŒ Ø§Ø² Ø§Ù‡Ù…ÛŒØª ÙˆÛŒÚ˜Ù‡â€ŒØ§ÛŒ Ø¨Ø±Ø®ÙˆØ±Ø¯Ø§Ø± Ø§Ø³Øª. Ø¨Ù‡ ØªÙ…Ø±ÛŒÙ†â€ŒÙ‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¨Ù‡ ØµÙˆØ±Øª Ú©Ø§ØºØ°ÛŒ ØªØ­ÙˆÛŒÙ„ Ø¯Ø§Ø¯Ù‡ Ø´ÙˆÙ†Ø¯ ÛŒØ§ Ø¨Ù‡ ØµÙˆØ±Øª Ø¹Ú©Ø³ Ø¯Ø± Ø³Ø§ÛŒØª Ø¨Ø§Ø±Ú¯Ø°Ø§Ø±ÛŒ Ø´ÙˆÙ†Ø¯ØŒ ØªØ±ØªÛŒØ¨ Ø§Ø«Ø±ÛŒ Ø¯Ø§Ø¯Ù‡ Ù†Ø®ÙˆØ§Ù‡Ø¯ Ø´Ø¯.</li>
<li>
 Ù‡Ù…Ù‡â€ŒÛŒ Ú©Ø¯Ù‡Ø§ÛŒ Ù¾ÛŒÙˆØ³Øª Ú¯Ø²Ø§Ø±Ø´ Ø¨Ø§ÛŒØ³ØªÛŒ Ù‚Ø§Ø¨Ù„ÛŒØª Ø§Ø¬Ø±Ø§ÛŒ Ù…Ø¬Ø¯Ø¯ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´Ù†Ø¯. Ø¯Ø± ØµÙˆØ±ØªÛŒ Ú©Ù‡ Ø¨Ø±Ø§ÛŒ Ø§Ø¬Ø±Ø§ Ù…Ø¬Ø¯Ø¯ Ø¢Ù†â€ŒÙ‡Ø§ Ù†ÛŒØ§Ø² Ø¨Ù‡ ØªÙ†Ø¸ÛŒÙ…Ø§Øª Ø®Ø§ØµÛŒ Ù…ÛŒâ€ŒØ¨Ø§Ø´Ø¯ØŒ Ø¨Ø§ÛŒØ³ØªÛŒ ØªÙ†Ø¸ÛŒÙ…Ø§Øª Ù…ÙˆØ±Ø¯ Ù†ÛŒØ§Ø² Ø±Ø§ Ù†ÛŒØ² Ø¯Ø± Ú¯Ø²Ø§Ø±Ø´ Ø®ÙˆØ¯ Ø°Ú©Ø± Ú©Ù†ÛŒØ¯.  Ø¯Ù‚Øª Ú©Ù†ÛŒØ¯ Ú©Ù‡  ØªÙ…Ø§Ù…ÛŒ Ú©Ø¯Ù‡Ø§ Ø¨Ø§ÛŒØ¯ ØªÙˆØ³Ø· Ø´Ù…Ø§ Ø§Ø¬Ø±Ø§ Ø´Ø¯Ù‡ Ø¨Ø§Ø´Ù†Ø¯ Ùˆ Ù†ØªØ§ÛŒØ¬ Ø§Ø¬Ø±Ø§ Ø¯Ø± ÙØ§ÛŒÙ„ Ú©Ø¯Ù‡Ø§ÛŒ Ø§Ø±Ø³Ø§Ù„ÛŒ Ù…Ø´Ø®Øµ Ø¨Ø§Ø´Ø¯. Ø¨Ù‡ Ú©Ø¯Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ù†ØªØ§ÛŒØ¬ Ø§Ø¬Ø±Ø§ÛŒ Ø¢Ù†â€ŒÙ‡Ø§ Ø¯Ø± ÙØ§ÛŒÙ„ Ø§Ø±Ø³Ø§Ù„ÛŒ Ù…Ø´Ø®Øµ Ù†Ø¨Ø§Ø´Ø¯ Ù†Ù…Ø±Ù‡â€ŒØ§ÛŒ ØªØ¹Ù„Ù‚ Ù†Ù…ÛŒâ€ŒÚ¯ÛŒØ±Ø¯.
</li>
<li>ØªÙˆØ¬Ù‡ Ú©Ù†ÛŒØ¯ Ø§ÛŒÙ† ØªÙ…Ø±ÛŒÙ† Ø¨Ø§ÛŒØ¯ Ø¨Ù‡ ØµÙˆØ±Øª ØªÚ©â€ŒÙ†ÙØ±Ù‡ Ø§Ù†Ø¬Ø§Ù… Ø´ÙˆØ¯ Ùˆ Ù¾Ø§Ø³Ø®â€ŒÙ‡Ø§ÛŒ Ø§Ø±Ø§Ø¦Ù‡ Ø´Ø¯Ù‡ Ø¨Ø§ÛŒØ¯ Ù†ØªÛŒØ¬Ù‡ ÙØ¹Ø§Ù„ÛŒØª ÙØ±Ø¯ Ù†ÙˆÛŒØ³Ù†Ø¯Ù‡ Ø¨Ø§Ø´Ø¯ (Ù‡Ù…ÙÚ©Ø±ÛŒ Ùˆ Ø¨Ù‡ Ø§ØªÙØ§Ù‚ Ù‡Ù… Ù†ÙˆØ´ØªÙ† ØªÙ…Ø±ÛŒÙ† Ù†ÛŒØ² Ù…Ù…Ù†ÙˆØ¹ Ø§Ø³Øª). Ø¯Ø± ØµÙˆØ±Øª Ù…Ø´Ø§Ù‡Ø¯Ù‡
 ØªØ´Ø§Ø¨Ù‡ Ø¨Ù‡ Ù‡Ù…Ù‡ Ø§ÙØ±Ø§Ø¯ Ù…Ø´Ø§Ø±Ú©Øªâ€ŒÚ©Ù†Ù†Ø¯Ù‡ØŒ Ù†Ù…Ø±Ù‡ ØªÙ…Ø±ÛŒÙ† ØµÙØ± Ùˆ Ø¨Ù‡ Ø§Ø³ØªØ§Ø¯ Ú¯Ø²Ø§Ø±Ø´ Ù…ÛŒâ€ŒÚ¯Ø±Ø¯Ø¯.
 </li>

 <li>
Ù„Ø·ÙØ§Ù‹ ØªÙ…Ø§Ù…ÛŒ Ù¾Ø§Ø³Ø®â€ŒÙ‡Ø§ÛŒ Ù…ØªÙ†ÛŒ Ø®ÙˆØ¯ Ø±Ø§ Ø¨Ø§ <b>ÙÙˆÙ†Øª ÙˆØ²ÛŒØ± (Vazir)</b> Ùˆ Ø¨Ù‡â€ŒØµÙˆØ±Øª <b>Ø±Ø§Ø³Øªâ€ŒÚ†ÛŒÙ†</b> Ø¨Ù†ÙˆÛŒØ³ÛŒØ¯.  
Ø§Ø² Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² ÙÙˆÙ†Øªâ€ŒÙ‡Ø§ÛŒ Ù¾ÛŒØ´â€ŒÙØ±Ø¶ Ø®ÙˆØ¯Ø¯Ø§Ø±ÛŒ Ú©Ù†ÛŒØ¯ ØªØ§ Ø¸Ø§Ù‡Ø± Ù†ÙˆØªâ€ŒØ¨ÙˆÚ© Ø´Ù…Ø§ ÛŒÚ©â€ŒØ¯Ø³Øª Ùˆ Ø®ÙˆØ§Ù†Ø§ Ø¨Ø§Ø´Ø¯.  
Ø¯Ø± Ø¨Ø®Ø´â€ŒÙ‡Ø§ÛŒ ØªØ´Ø±ÛŒØ­ÛŒØŒ Ø³Ø¹ÛŒ Ú©Ù†ÛŒØ¯ Ù¾Ø§Ø³Ø®â€ŒÙ‡Ø§ Ø±Ø§ Ú©Ø§Ù…Ù„ØŒ Ù…Ù†Ø³Ø¬Ù… Ùˆ Ø¨Ø§ Ø±Ø¹Ø§ÛŒØª Ù†Ú¯Ø§Ø±Ø´ ÙØ§Ø±Ø³ÛŒ Ø¨Ù†ÙˆÛŒØ³ÛŒØ¯.  
Ù‡Ù…Ú†Ù†ÛŒÙ†ØŒ Ø¨Ù‡ Ú†ÛŒÙ†Ø´ ØªÙ…ÛŒØ² Ø³Ù„ÙˆÙ„â€ŒÙ‡Ø§ Ùˆ Ø§Ø¬Ø±Ø§ÛŒ Ø¯Ø±Ø³Øª Ú©Ø¯Ù‡Ø§ ØªÙˆØ¬Ù‡ Ú©Ù†ÛŒØ¯ ØªØ§ ØªÙ…Ø±ÛŒÙ† Ø´Ù…Ø§ Ø¨Ø§ ÙØ±Ù…Øª Ø®ÙˆØ§Ø³ØªÙ‡â€ŒØ´Ø¯Ù‡ Ùˆ Ø§Ø³ØªØ§Ù†Ø¯Ø§Ø±Ø¯ Ø§Ø±Ø§Ø¦Ù‡ Ø´ÙˆØ¯.
</li>
 <li>Ø¨Ø±Ø§ÛŒ Ù…Ø·Ø§Ù„Ø¹Ù‡ Ø¨ÛŒØ´ØªØ± Ø¯Ø±Ø¨Ø§Ø±Ù‡â€ŒÛŒ ÙØ±Ù…Øª Markdown Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø§Ø² <a href="https://github.com/tajaddini/Persian-Markdown/blob/master/learn-MD.md">Ø§ÛŒÙ† Ù„ÛŒÙ†Ú©</a> Ù…Ø·Ø§Ù„Ø¹Ù‡ Ú©Ù†ÛŒØ¯.
 </li>
 </ul>
    

 </div>